<concedit></concedit>
<div class="row">
	<div class="col-md-12">
		<h2>
			<span ng-if="vm.mode == null" data-translate="walterApp.clothingGroup.detail.create">Auszeichnung erstellen</span>
			<span ng-if="vm.mode != null" data-translate="walterApp.clothingGroup.detail.edit" translate-values="{param1: '{{vm.clothingGroup.typeName}}', param2: '{{vm.clothingGroup.csize}}'}"></span>
		</h2>
		</br>
		<jhi-alert-error></jhi-alert-error>
	</div>
</div>
<div class="row">
	<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" >
		<div class="col-md-6">
            <div  ng-if="vm.mode == null" class="form-group">
                <label class="col-md-4 control-label" data-translate="walterApp.clothingGroup.type" for="field_type">Type</label>
                <div class="col-md-8">
                <select  class="form-control" id="field_type" name="type" ng-model="vm.clothingGroup.typeId" ng-options="clothingType.id as clothingType.name for clothingType in vm.clothingTypes" required>
                    <option value=""></option>
                </select>
                    <div ng-show="editForm.type.$invalid">
                        <p class="help-block" ng-show="editForm.type.$error.required"
                           data-translate="entity.validation.required"></p>
                    </div>
                    </div>
            </div>
			<div  ng-if="vm.mode == null" class="form-group">
				<label class="col-md-4 control-label" data-translate="walterApp.clothingGroup.size" for="field_size">Größe</label>
				<div class="col-md-8">
					<input group="text" class="form-control" name="size" id="field_size" ng-model="vm.clothingGroup.csize"/>

				</div>
			</div>
            <div class="form-group">
                <label class="col-md-4 control-label" data-translate="walterApp.clothingGroup.quantity" for="field_quantity">Größe</label>
                <div class="col-md-8">
                    <input group="text" class="form-control" name="quantity" id="field_quantity" ng-model="vm.clothingGroup.quantity"/>

                </div>
            </div>
		</div>


    	<div class="col-md-12">
			<button group="button" ui-sref="{{ vm.previousState }}" class="btn btn-info">
				<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
					data-translate="entity.action.back"> Zurück</span>
			</button>

			<button group="submit"  ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
				<span class="glyphicon glyphicon-save"></span>&nbsp;<span
					data-translate="entity.action.save">Speichern</span>
			</button>



		</div>
	</form>
</div>
