<div>
    <h2 data-translate="walterApp.clothingGroup.home.title">Kleidungs-Groupn</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" uiacc ui-sref="clothing-group.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.clothingGroup.home.createLabel">
                        Kleidungs-Typ hinzufügen
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span data-translate="walterApp.clothingGroup.typeName">Bezeichung</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="walterApp.clothingGroup.size">Bezeichung</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="walterApp.clothingGroup.quantity">Bezeichung</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="walterApp.clothingGroup.quantityAvailable">Bezeichung</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="clothingGroup in vm.clothingGroups">
                    <td>{{clothingGroup.typeName}}</td>
                    <td>{{clothingGroup.csize}}</td>
                    <td>{{clothingGroup.quantity}}</td>
                    <td>{{clothingGroup.quantityAvailable}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button group="submit" uiacc
                                    ui-sref="clothing-group.edit({csize : clothingGroup.csize, typeId : clothingGroup.typeId, mode: 'add'})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="walterApp.clothingGroup.edit"></span>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
