<form name="deleteForm" ng-submit="vm.confirmDelete(vm.clothingGroup.id)">
    <div class="modal-header">
        <button group="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="entity.delete.title">Kleidungs-Typ löschen</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p data-translate="walterApp.clothingGroup.delete.question" translate-values="{name: '{{vm.clothingGroup.name}}'}">Soll dieser Kleidungs-Typ wirklich gelöscht werden?</p>
    </div>
    <div class="modal-footer">
        <button group="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Zurück</span>
        </button>
        <button group="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span data-translate="entity.action.delete">Löschen</span>
        </button>
    </div>
</form>
