<div>
    <h2 data-translate="walterApp.cashbookAppointmentReport.title">Termin-Auswertung</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <form class="form-horizontal" role="form" ng-submit="vm.getPdf()" name="editForm" role="form" novalidate show-validation>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.cashbookAppointmentReport.dateFrom" for="field_dateFrom">von</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input id="field_dateFrom" type="text" class="form-control" name="dateFrom" uib-datepicker-popup="dd.MM.yyyy"
                                   current-text="{{ 'calendar.current' | translate }}"
                                   clear-text="{{ 'calendar.clear' | translate }}"
                                   close-text="{{ 'calendar.close' | translate }}"
                                   ng-model="vm.dateFrom" is-open="vm.datePickerOpenStatus.dateFrom" required />
                            <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFrom')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.cashbookAppointmentReport.dateTo" for="field_dateTo">bis</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input id="field_dateTo" type="text" class="form-control" name="dateTo" uib-datepicker-popup="dd.MM.yyyy"
                                   current-text="{{ 'calendar.current' | translate }}"
                                   clear-text="{{ 'calendar.clear' | translate }}"
                                   close-text="{{ 'calendar.close' | translate }}"
                                   ng-model="vm.dateTo" is-open="vm.datePickerOpenStatus.dateTo" required />
                            <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateTo')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
                        </div>
                        <div ng-show="!vm.datesValid()">
                            <p class="help-block" ng-show="!vm.datesValid()" data-translate="walterApp.cashbookAppointmentReport.error.invalidDates">Invalid Dates</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.cashbookAppointmentReport.appointmentType" for="field_appointmentTypeId">Termin-Typ</label>
                    <div class="col-md-8">
                        <select required multiple class="form-control" id="field_appointmentTypeId" name="appointmentTypeId" ng-model="vm.appointmentTypeId" ng-options="appointmentType.id as appointmentType.name for appointmentType in vm.appointmentTypes | orderBy: 'name'">
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" ng-disabled="editForm.$invalid || !vm.datesValid()"
                            class="btn btn-info pull-right">
                        <span class="glyphicon glyphicon-export"></span>&nbsp;<span
                        data-translate="walterApp.cashbookAppointmentReport.pdfExport"> PDF-Export</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <br/>
</div>
