<div class="row">
    <div class="col-md-12">
        <h2>
            <span data-translate="walterApp.emailverificationletter.detail.create">Serienbrief erstellen</span>
        </h2>
        </br>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
    </div>
</div>

<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">

                <label class="col-md-4 control-label" data-translate="walterApp.emailverificationletter.letter" for="field_template">Template</label>
                <div class="col-md-8">
                    <select ng-change="vm.loadEmailVerificationLetter()" class="form-control" id="field_letter" name="template"
                            ng-model="vm.emailVerificationLetterId" ng-options="letter.id as letter.title for letter in vm.emailVerificationLetters">
                        <option value=""></option>

                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" data-translate="walterApp.emailverificationletter.template" for="field_template">Template</label>
                <div class="col-md-8">
                    <select class="form-control" id="field_template" name="template" ng-model="vm.emailVerificationLetter.templateId"
                            ng-options="template.id as template.title for template in vm.templates">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.emailverificationletter.personGroup"
                       for="field_personGroup">Persongruppe</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_personGroup" name="personGroup"
                            ng-model="vm.currentChosenPersonGroup"
                            ng-options="item as item.text for item in vm.personGroupsFlat"></select>
                </div>
                <div class="col-md-2">
                    <button uiacc="emailverificationletter.edit" type="button" ng-click="vm.addCurrentPersonGroup()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="vm.emailVerificationLetter.personGroups.length > 0">
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.emailverificationletter.personGroups"
                       for="field_personGroup">Persongruppe</label>
                <div class="col-md-10">
                    <div class="col-md-2" ng-repeat="item in vm.emailVerificationLetter.personGroups track by item.id">
                        <div class="btn-group flex-btn-group-container">
                            <div type="button" class="btn btn-primary"><span>{{item.name}}</span></div>
                            <div uiacc="emailverificationletter.edit" type="button" ng-click="vm.removePersonGroup(item.id)" class="btn btn-primary"><span
                                class="glyphicon glyphicon-remove-sign"></span></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" >
                <div>
                    <label class="col-md-2 control-label" data-translate="walterApp.emailverificationletter.text"
                           for="field_text">Text</label>
                    <div class="col-md-10">
                        <textarea ui-tinymce="vm.tinyMceOptions" ng-model="vm.emailVerificationLetter.text" id="text" name="text"></textarea>
                        <div class="help-block" data-translate="walterApp.emailverificationletter.variableNote">Note</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div uiacc="emailverificationletter.edit" class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label" data-translate="walterApp.emailverificationletter.saveAs" for="field_saveAs">Als
                    neue Vorlage speichern</label>
                <div class="col-md-1">
                    <input type="checkbox" class="form-control" name="saveAs" id="field_saveAs"
                           ng-model="vm.saveAs"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-if="vm.saveAs" class="form-group">
                <label  class="col-md-2 control-label" data-translate="walterApp.emailverificationletter.title"
                       for="field_title">Titel</label>
                <div class="col-md-4">
                    <input  ng-change="vm.clearId()" type="text" class="form-control" name="title"
                           id="field_title" ng-model="vm.emailVerificationLetter.title" required minlength=3/>
                    <div ng-show="editForm.title.$invalid">
                        <p class="help-block" ng-show="editForm.title.$error.required"
                           data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                        <p class="help-block" ng-show="editForm.title.$error.minlength"
                           data-translate="entity.validation.minlength3">Dieses Feld muss mind. 3 Zeichen lang
                            sein.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                        data-translate="entity.action.save">Speichern</span>
                    </button>
                </div>
            </div>


        </div>
    </div>


    <div class="row">

        <div class="col-md-12">
            <button type="button" ui-sref="{{ vm.previousState }}" class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                data-translate="entity.action.back"> Zurück</span>
            </button>


            <button uiacc="emailverificationletter.edit" type="button" ng-click="vm.generate()" class="btn btn-success">
                <span class="glyphicon glyphicon-download"></span>&nbsp;<span
                data-translate="entity.action.export">Exportieren</span>
            </button>


            <button ng-if="vm.emailVerificationLetter.id" type="submit" uiacc ui-sref="emailverificationletter.delete({id: vm.emailVerificationLetter.id})"
                    class="btn btn-danger pull-right">
                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                data-translate="entity.action.delete">Löschen</span>
            </button>
        </div>
    </div>


</form>


