<concedit></concedit>
<div class="row">
	<div class="col-md-12">
		<h2>
			<span data-translate="walterApp.notificationRule.detail.title">Notification Rule</span>
		</h2>
		<br />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<jhi-alert-error></jhi-alert-error>
		<dl class="dl-horizontal jh-entity-details">
			<dt>
				<span data-translate="walterApp.notificationRule.title">Titel</span>
			</dt>
			<dd>
				<span>{{ vm.notificationRule.title }}</span>
			</dd>
			<dt>
				<span data-translate="walterApp.notificationRule.active">Aktiv</span>
			</dt>
			<dd>
				<span ng-show="vm.notificationRule.active" class="glyphicon glyphicon-check"></span>
				<span ng-hide="vm.notificationRule.active" class="glyphicon glyphicon-unchecked"></span>
			</dd>
			<dt>
				<span data-translate="walterApp.notificationRule.entity">Entity</span>
			</dt>
			<dd>
				<span>{{ vm.notificationRule.entity }}</span>
			</dd>
			<dt>
				<span data-translate="walterApp.notificationRule.conditions">Bedingungen</span>
			</dt>
			<dd>
				<span>{{ vm.notificationRule.conditions }}</span>
			</dd>
			<dt>
				<span data-translate="walterApp.notificationRule.targetAudiences">Zielgruppen</span>
			</dt>
			<dd>
				<span>{{ vm.notificationRule.targetAudiences.join(', ') }}</span>
			</dd>
			<dt>
				<span data-translate="walterApp.notificationRule.messageGroup">Nachricht (gruppiert)</span>
			</dt>
			<dd>
				<span>{{ vm.notificationRule.messageGroup }}</span>
			</dd>
			<dt>
				<span data-translate="walterApp.notificationRule.messageSingle">Nachricht (einzel)</span>
			</dt>
			<dd>
				<span>{{ vm.notificationRule.messageSingle }}</span>
			</dd>
		</dl>
		<br />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="submit" ui-sref="notification-rule" class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span>
			<span data-translate="entity.action.back">Zurück</span>
		</button>

		<button type="button" uiacc ui-sref="notification-rule.edit({ id: vm.notificationRule.id })" class="btn btn-primary">
			<span class="glyphicon glyphicon-pencil"></span>
			<span class="hidden-xs hidden-sm" data-translate="entity.action.edit">Bearbeiten</span>
		</button>

		<button type="submit" uiacc="notification-rule.delete" ui-sref="notification-rule.delete-view({ id: vm.notificationRule.id })" class="btn btn-danger pull-right">
			<span class="glyphicon glyphicon-remove-circle"></span>
			<span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
		</button>
	</div>
</div>
