<concedit></concedit>
<div class="row">
    <div class="col-sm-12">
        <h2 ng-show="vm.notificationRule.id" data-translate="walterApp.notificationRule.home.editLabel">Benachrichtigungs-Regel bearbeiten</h2>
        <h2 ng-hide="vm.notificationRule.id" data-translate="walterApp.notificationRule.home.createLabel">Benachrichtigungs-Regel erstellen</h2>
        <br />
        <jhi-alert-error></jhi-alert-error>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>
            <div class="form-group" ng-show="vm.notificationRule.id">
                <label class="col-md-2 control-label" for="id" data-translate="global.field.id">ID</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="id" name="id" ng-model="vm.notificationRule.id" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.notificationRule.title" for="field_title">Titel</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="title" id="field_title" ng-model="vm.notificationRule.title" required />
                    <div ng-show="editForm.title.$invalid">
                        <p class="help-block" ng-show="editForm.title.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.notificationRule.active" for="field_active">Aktiv</label>
                <div class="col-md-4">
                    <input type="checkbox" name="active" id="field_active" value="1" ng-model="vm.notificationRule.active" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.notificationRule.entity" for="field_entity">Entity</label>
                <div class="col-md-4">
                    <select class="form-control" name="entity" id="field_entity" ng-model="vm.notificationRule.entity" required ng-options="entity as entity for entity in vm.validEntities"></select>
                    <div ng-show="editForm.entity.$invalid">
                        <p class="help-block" ng-show="editForm.entity.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.notificationRule.conditions" for="field_conditions">Bedingungen (JPQL)</label>
                <div class="col-md-4">
                    <textarea class="form-control" name="conditions" id="field_conditions" ng-model="vm.notificationRule.conditions" rows="10" required></textarea>
                    <div ng-show="editForm.conditions.$invalid">
                        <p class="help-block" ng-show="editForm.conditions.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.notificationRule.targetAudiences" for="field_targetAudiences">Zielgruppen</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_targetAudiences" multiple name="targetAudiences" ng-model="vm.notificationRule.targetAudiences" ng-options="authority for authority in vm.authorities"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.notificationRule.messageGroup" for="field_messageGroup">Nachricht (gruppiert)</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="messageGroup" id="field_messageGroup" ng-model="vm.notificationRule.messageGroup" required />
                    <div ng-show="editForm.messageGroup.$invalid">
                        <p class="help-block" ng-show="editForm.messageGroup.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    </div>
                    <p class="help-block" data-translate="walterApp.notificationRule.messageGroupInfo">Der Platzhalter "&lbrace;&lbrace;count&rbrace;&rbrace;" kann für die Gesamtanzahl der Benachrichtigungen dieser Regel verwendet werden.</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.notificationRule.messageSingle" for="field_messageSingle">Nachricht (einzel)</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="messageSingle" id="field_messageSingle" ng-model="vm.notificationRule.messageSingle" required />
                    <div ng-show="editForm.messageSingle.$invalid">
                        <p class="help-block" ng-show="editForm.messageSingle.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    </div>
                    <p class="help-block" data-translate="walterApp.notificationRule.messageSingleInfo">Der Platzhalter "&lbrace;&lbrace;entity.__feldname__&rbrace;&rbrace;" kann verwendet werden, um Informationen der Entity der Benachrichtigung anzuzeigen.</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" ui-sref="{{ vm.previousState.name }}(vm.previousState.params)" class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span data-translate="entity.action.back">Zurück</span>
                    </button>

                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>
                        <span data-translate="entity.action.save">Speichern</span>
                    </button>

                    <button ng-show="vm.notificationRule.id" type="button" ui-sref="notification-rule.delete-edit({ id: vm.notificationRule.id })" class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
