<div>
	<h2 data-translate="walterApp.notificationRule.home.title">Benachrichtigungs-Regels</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 no-padding-right no-padding-left">
				<button type="button" class="btn btn-primary" uiacc ui-sref="notification-rule.new" >
					<span class="glyphicon glyphicon-plus"></span>
					<span  data-translate="walterApp.notificationRule.home.createLabel">Benachrichtigungs-Regel erstellen</span>
				</button>

				<button type="button" uiacc="notification-rule.edit" class="btn btn-info pull-right" ng-click="vm.createNotifications()">
					<span class="glyphicon glyphicon-refresh"></span>
					<span  data-translate="walterApp.notificationRule.home.refreshNotifications">Benachrichtigungen anlegen</span>
				</button>
			</div>
		</div>
	</div>
	<br/>
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
					<th width="40"><span data-translate="walterApp.notificationRule.active">Aktiv</span></th>
					<th jh-sort-by="title"><span data-translate="walterApp.notificationRule.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="notificationRule in vm.notificationRules track by notificationRule.id">
					<td align="center"><span ng-show="notificationRule.active" class="glyphicon glyphicon-check"></span><span ng-hide="notificationRule.active" class="glyphicon glyphicon-unchecked"></span></td>
					<td>{{ notificationRule.title }}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="button" ui-sref="notification-rule-detail({id:notificationRule.id})" class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span>
								<span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
							</button>
							<button type="button" uiacc ui-sref="notification-rule.edit({id:notificationRule.id})" class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span>
								<span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
	</div>
	<uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
