
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMembershipFeeForPeriodLabel" data-translate="walterApp.membershipFeeForPeriod.home.createOrEditLabel">Create or edit a Membership Fee For Period</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.membershipFeeForPeriod.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.membershipFeeForPeriod.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="walterApp.membershipFeeForPeriod.nr" for="field_nr">Nr</label>
            <input type="number" class="form-control" name="nr" id="field_nr"
                    ng-model="vm.membershipFeeForPeriod.nr"
                    required />
            <div ng-show="editForm.nr.$invalid">
                <p class="help-block"
                    ng-show="editForm.nr.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nr.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="walterApp.membershipFeeForPeriod.year" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                    ng-model="vm.membershipFeeForPeriod.year"
                    required />
            <div ng-show="editForm.year.$invalid">
                <p class="help-block"
                    ng-show="editForm.year.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.year.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="walterApp.membershipFeeForPeriod.referenceCode" for="field_referenceCode">Reference Code</label>
            <input type="text" class="form-control" name="referenceCode" id="field_referenceCode"
                    ng-model="vm.membershipFeeForPeriod.referenceCode"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="walterApp.membershipFeeForPeriod.paid" for="field_paid">Paid</label>
            <input type="checkbox" class="form-control" name="paid" id="field_paid"
                    ng-model="vm.membershipFeeForPeriod.paid"
                     />
        </div>

        <div class="form-group">
            <label data-translate="walterApp.membershipFeeForPeriod.cashbookEntry" for="field_cashbookEntry">Cashbook Entry</label>
            <select class="form-control" id="field_cashbookEntry" name="cashbookEntry" ng-model="vm.membershipFeeForPeriod.cashbookEntryId" ng-options="cashbookEntry.id as cashbookEntry.id for cashbookEntry in vm.cashbookentries | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="walterApp.membershipFeeForPeriod.membership" for="field_membership">Membership</label>
            <select class="form-control" id="field_membership" name="membership" ng-model="vm.membershipFeeForPeriod.membershipId" ng-options="membership.id as membership.id for membership in vm.memberships"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
