<div>
    <h2 data-translate="walterApp.membershipFeeForPeriod.home.title">Membership Fee For Periods</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="membership-fee-for-period.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.membershipFeeForPeriod.home.createLabel">
                        Create new Membership Fee For Period
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nr"><span data-translate="walterApp.membershipFeeForPeriod.nr">Nr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="year"><span data-translate="walterApp.membershipFeeForPeriod.year">Year</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="referenceCode"><span data-translate="walterApp.membershipFeeForPeriod.referenceCode">Reference Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paid"><span data-translate="walterApp.membershipFeeForPeriod.paid">Paid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cashbookEntryId"><span data-translate="walterApp.membershipFeeForPeriod.cashbookEntry">Cashbook Entry</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="membershipId"><span data-translate="walterApp.membershipFeeForPeriod.membership">Membership</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="membershipFeeForPeriod in vm.membershipFeeForPeriods track by membershipFeeForPeriod.id">
                    <td><a ui-sref="membership-fee-for-period-detail({id:membershipFeeForPeriod.id})">{{membershipFeeForPeriod.id}}</a></td>
                    <td>{{membershipFeeForPeriod.nr}}</td>
                    <td>{{membershipFeeForPeriod.year}}</td>
                    <td>{{membershipFeeForPeriod.referenceCode}}</td>
                    <td>{{membershipFeeForPeriod.paid}}</td>
                    <td>
                        <a ui-sref="cashbook-entry-detail({id:membershipFeeForPeriod.cashbookEntryId})">{{membershipFeeForPeriod.cashbookEntryId}}</a>
                    </td>
                    <td>
                        <a ui-sref="membership-detail({id:membershipFeeForPeriod.membershipId})">{{membershipFeeForPeriod.membershipId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="membership-fee-for-period-detail({id:membershipFeeForPeriod.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="membership-fee-for-period.edit({id:membershipFeeForPeriod.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="membership-fee-for-period.delete({id:membershipFeeForPeriod.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
