<concedit></concedit>
<div>
    <h2><span data-translate="walterApp.membershipFeeForPeriod.detail.title">Membership Fee For Period</span> {{vm.membershipFeeForPeriod.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="walterApp.membershipFeeForPeriod.nr">Nr</span></dt>
        <dd>
            <span>{{vm.membershipFeeForPeriod.nr}}</span>
        </dd>
        <dt><span data-translate="walterApp.membershipFeeForPeriod.year">Year</span></dt>
        <dd>
            <span>{{vm.membershipFeeForPeriod.year}}</span>
        </dd>
        <dt><span data-translate="walterApp.membershipFeeForPeriod.referenceCode">Reference Code</span></dt>
        <dd>
            <span>{{vm.membershipFeeForPeriod.referenceCode}}</span>
        </dd>
        <dt><span data-translate="walterApp.membershipFeeForPeriod.paid">Paid</span></dt>
        <dd>
            <span>{{vm.membershipFeeForPeriod.paid}}</span>
        </dd>
        <dt><span data-translate="walterApp.membershipFeeForPeriod.cashbookEntry">Cashbook Entry</span></dt>
        <dd>
            <a ui-sref="cashbook-entry-detail({id:vm.membershipFeeForPeriod.cashbookEntryId})">{{vm.membershipFeeForPeriod.cashbookEntryId}}</a>
        </dd>
        <dt><span data-translate="walterApp.membershipFeeForPeriod.membership">Membership</span></dt>
        <dd>
            <a ui-sref="membership-detail({id:vm.membershipFeeForPeriod.membershipId})">{{vm.membershipFeeForPeriod.membershipId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="membership-fee-for-period-detail.edit({id:vm.membershipFeeForPeriod.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
