<div>
    <h2 data-translate="walterApp.documents.home.title">Dokumente</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">

    </div>
    <br/>
    <div class="table-responsive">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" ng-if="!vm.hasBreadCrumbs()">
                <li class="breadcrumb-item active" aria-current="page" data-translate="walterApp.documents.home.title">Dokumente</li>
            </ol>
            <ol class="breadcrumb" ng-if="vm.hasBreadCrumbs()">
                <li class="breadcrumb-item"><a ng-click="vm.changeDirectory('')" data-translate="walterApp.documents.home.title">Dokumente</a></li>
                <li ng-repeat="breadCrumb in vm.breadCrumbs track by breadCrumb.uuid" class="breadcrumb-item"><a ng-click="vm.changeDirectory(breadCrumb.uuid)">{{breadCrumb.text}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{vm.currentBreadCrumb}}</li>
            </ol>
        </nav>
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th colspan="6">
                    <button ng-disabled="!vm.hasBreadCrumbs()" title="{{ 'walterApp.documents.table.levelUp' | translate }}" type="button" class="btn btn-default btn-md pull-left" ng-click="vm.levelUp()">
                        <span class="glyphicon glyphicon-level-up"></span>
                    </button>
                    <button style="margin-left: 10px;" type="button" class="btn btn-primary btn-md pull-left" ui-sref="documents.new-directory">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        <span class="hidden-sm hidden-md" data-translate="walterApp.documents.new.directory"></span>
                    </button>
                    <form name="uploadForm">
                    <button ng-disabled="vm.file == '' || uploadForm.file.$invalid" type="button" class="btn btn-success btn-md pull-right" ng-click="vm.uploadFile()">
                        <span class="glyphicon glyphicon-upload"></span>
                        <span class="hidden-sm hidden-md" data-translate="walterApp.documents.new.file"></span>
                    </button>
                    <div class="col-md-4 pull-right">
                        <input type="file" ngf-select class="form-control" name="file" id="field_file" ng-model="vm.file" ngf-max-size="50MB" ngf-model-invalid="errorFile" />
                        <div ng-show="uploadForm.file.$invalid">
                            <p class="help-block" ng-show="uploadForm.file.$error.maxSize" data-translate="entity.validation.maxSize" data-translate-values="{ actual: errorFile.size, target: 50 }">Diese Datei ist zu groß: {{ actual / 1000000 | number: 1 }} MB: maximal {{ target }} MB erlaubt.</p>
                        </div>
                    </div>
                    </form>
                </th>
            </tr>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th width="30px"></th>
                <th jh-sort-by="originalFile"><span data-translate="walterApp.documents.table.fileName">Dateiname</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="createdAt"><span data-translate="walterApp.documents.table.date">Datum</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type"><span data-translate="walterApp.documents.table.fileType">Typ</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="size"><span data-translate="walterApp.documents.table.size">Größe</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th width="40px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="element in vm.elements track by element.id" ng-class="tr-pointer">
                <td><input type="checkbox"
                       ng-click="vm.addRemoveSelectedData(element)" /></td>
                <td ng-click="vm.rowClick(element)" ng-if="element.type == 'FILE'"><img src="https://img.icons8.com/office/32/{{element.extension}}.png"> {{element.originalFile}}</td>
                <td ng-click="vm.rowClick(element)" ng-if="element.type == 'DIRECTORY'"><img src="https://img.icons8.com/office/32/folder-invoices.png"> {{element.originalFile}}</td>
                <td ng-click="vm.rowClick(element)">{{element.createdAt | date: 'dd.MM.yyyy HH:mm'}}</td>
                <td ng-click="vm.rowClick(element)" ng-if="element.type == 'FILE'">{{element.extension}}</td>
                <td ng-click="vm.rowClick(element)" ng-if="element.type == 'DIRECTORY'" data-translate="walterApp.documents.table.directory"></td>
                <td ng-click="vm.rowClick(element)">{{vm.formatFileSize(element.size)}}</td>
                <td>
                    <button ng-if="element.type == 'FILE'" type="button" class="btn btn-primary" ui-sref="documents.rename-file({entity: element})">
                    <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button ng-if="element.type == 'DIRECTORY'" type="button" class="btn btn-primary" ui-sref="documents.rename-directory({entity: element})">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <button type="button" ui-sref="documents.confirm-delete({selectedData: vm.selectedData})"
                            ng-disabled="vm.isSaving || vm.selectedData.length == 0"
                            class="btn btn-danger btn-md">
                        <span class="glyphicon glyphicon-remove"></span> <span
                        data-translate="walterApp.documents.table.deleteElements">Elemente Löschen</span>
                    </button>
                    <button type="button" ui-sref="documents.move({selectedData: vm.selectedData, directory: vm.currentDirectory})"
                            ng-disabled="vm.isSaving || vm.selectedData.length == 0"
                            class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-share"></span> <span
                        data-translate="walterApp.documents.table.move">Elemente verschieben</span>
                    </button>
                </th>
            </tr>

            </tfoot>
        </table>
        <br/>
        <div>
            <span>All icons made by
                <a href="https://icons8.com" target="_blank">Icons8</a>
            </span>
        </div>
    </div>
</div>
