<form name="createForm" ng-submit="vm.confirm(vm.currentDirectory)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="walterApp.documents.move.title">Elemente verschieben</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" ng-if="!vm.hasBreadCrumbs()">
                    <li class="breadcrumb-item active" aria-current="page" data-translate="walterApp.documents.home.title">Dokumente</li>
                </ol>
                <ol class="breadcrumb" ng-if="vm.hasBreadCrumbs()">
                    <li class="breadcrumb-item"><a ng-click="vm.changeDirectory('')" data-translate="walterApp.documents.home.title">Dokumente</a></li>
                    <li ng-repeat="breadCrumb in vm.breadCrumbs track by breadCrumb.uuid" class="breadcrumb-item"><a ng-click="vm.changeDirectory(breadCrumb.uuid)">{{breadCrumb.text}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{vm.currentBreadCrumb}}</li>
                </ol>
            </nav>
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th colspan="5">
                        <button ng-disabled="!vm.hasBreadCrumbs()" title="{{ 'walterApp.documents.table.levelUp' | translate }}" type="button" class="btn btn-default btn-md pull-left" ng-click="vm.levelUp()">
                            <span class="glyphicon glyphicon-level-up"></span>
                        </button>

                    </th>
                </tr>
                <tr>
                    <th><span data-translate="walterApp.documents.table.fileName">Dateiname</span></th>
                    <th><span data-translate="walterApp.documents.table.date">Datum</span></th>
                    <th><span data-translate="walterApp.documents.table.fileType">Typ</span></th>
                    <th><span data-translate="walterApp.documents.table.size">Größe</span></th>
                    <th width="40px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="element in vm.elements track by element.id" ng-class="{true:'tr-pointer',false:'tr-not-allowed'}[vm.isSelectable(element)]">
                    <td ng-click="vm.rowClick(element)" ng-if="element.type == 'FILE' && vm.isSelectable(element)"><img src="https://img.icons8.com/office/32/{{element.extension}}"> {{element.originalFile}}</td>
                    <td ng-click="vm.rowClick(element)" ng-if="element.type == 'DIRECTORY' && vm.isSelectable(element)"><img src="https://img.icons8.com/office/32/folder"> {{element.originalFile}}</td>
                    <td ng-click="vm.rowClick(element)" ng-if="vm.isSelectable(element)">{{element.createdAt | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td ng-click="vm.rowClick(element)" ng-if="element.type == 'FILE' && vm.isSelectable(element)">{{element.extension}}</td>
                    <td ng-click="vm.rowClick(element)" ng-if="element.type == 'DIRECTORY' && vm.isSelectable(element)" data-translate="walterApp.documents.table.directory"></td>
                    <td ng-click="vm.rowClick(element)" ng-if="vm.isSelectable(element)">{{vm.formatFileSize(element.size)}}</td>

                    <td ng-if="element.type == 'FILE' && !vm.isSelectable(element)"><img src="https://img.icons8.com/office/32/{{element.extension}}"> {{element.originalFile}}</td>
                    <td ng-if="element.type == 'DIRECTORY' && !vm.isSelectable(element)"><img src="https://img.icons8.com/office/32/folder"> {{element.originalFile}}</td>
                    <td ng-if="!vm.isSelectable(element)">{{element.createdAt | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td ng-if="element.type == 'FILE' && !vm.isSelectable(element)">{{element.extension}}</td>
                    <td ng-if="element.type == 'DIRECTORY' && !vm.isSelectable(element)" data-translate="walterApp.documents.table.directory"></td>
                    <td ng-if="!vm.isSelectable(element)">{{vm.formatFileSize(element.size)}}</td>
                </tr>
                </tbody>
            </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Abbrechen</span>
        </button>
        <button type="submit" ng-disabled="createForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-remove-save"></span>&nbsp;<span data-translate="walterApp.documents.move.save">Verschieben</span>
        </button>
    </div>
</form>
