<form name="createForm" ng-submit="vm.confirm()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="walterApp.documents.rename">Element umbenennen</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <input type="text" class="form-control" name="originalFile" id="field_originalFile"
               ng-model="vm.element.originalFile"
               required/>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Abbrechen</span>
        </button>
        <button type="submit" ng-disabled="createForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-remove-save"></span>&nbsp;<span data-translate="entity.action.save">Speichern</span>
        </button>
    </div>
</form>
