<div>
    <h2 data-translate="walterApp.person.home.title-fees">Mitgliedsbeiträge</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 no-padding-left">
			<label>
			<input type="radio" ng-model="vm.mode" value="current" ng-change="vm.loadAll()"/> diesjährige Beiträge
			</label>
			&nbsp;&nbsp;
			<label>
			<input type="radio" ng-model="vm.mode" value="previous" ng-change="vm.loadAll()"/> vergangene Beiträge
			</label>
			&nbsp;&nbsp;
			<label>
			<input type="radio" ng-model="vm.mode" value="all" ng-change="vm.loadAll()"/> alle Beiträge
			</label>
            </div>
        </div>
    </div>
    <br/>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="firstName"><span data-translate="walterApp.person.firstName">Vorname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastName"><span data-translate="walterApp.person.lastName">Nachname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="walterApp.person.openMembershipAmount">Gesamtbetrag</span></th>
                	<th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in vm.people track by person.id">
                    <td>{{person.firstName}}</td>
                    <td>{{person.lastName}}</td>
                    <td>&euro; {{person.openMembershipAmount.toFixed(2)}}</td>
                    <td align="right">
                            <button uiacc="person" type="button"
                                    ui-sref="person.detail({id:person.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"
                        items-per-page="vm.itemsPerPage"></jhi-item-count>
        <ul uib-pagination total-items="vm.totalItems" ng-model="vm.page"
            ng-change="vm.transition()"  max-size="5" boundary-links="true" force-ellipses="true" ></ul>
    </div>
</div>
