<div>
    <h2 data-translate="walterApp.instrument.home.title">Instrumente</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
            	<button class="btn btn-default" ng-click="vm.searchActive = !vm.searchActive">
					<span class="glyphicon glyphicon-eye-open" ng-hide="vm.searchActive"></span>
					<span  data-translate="walterApp.instrument.home.searchShow" ng-hide="vm.searchActive">Suche einblenden</span>
					<span class="glyphicon glyphicon-eye-close" ng-show="vm.searchActive"></span>
					<span  data-translate="walterApp.instrument.home.searchHide" ng-show="vm.searchActive">Suche ausbelden</span>
				</button>
                <button class="btn btn-primary" uiacc ui-sref="instrument.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.instrument.home.createLabel">
                        Neues Instrument hinzufügen
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <!-- Search -->
    <form class="form-horizontal" role="form" ng-submit="vm.loadAll()" novalidate ng-show="vm.searchActive">
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label class="control-label col-md-5" data-translate="walterApp.instrument.search.name" for="field_name">Bezeichnung</label>
					<div class="col-md-7">
						<input type="text" class="form-control" name="name" ng-model="vm.search.name" id="field_name" ng-change="vm.loadAll()" />
					</div>
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-5" data-translate="walterApp.instrument.search.priceFrom" for="field_price_begin">Von</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <span class="input-group-addon">&euro;</span>
          					<input ng-change="vm.loadAll()" type="number" class="form-control" name="price" id="field_price_begin" ng-model="vm.search.priceBegin" min="0" step="0.01"/>
                        </div>
                        <div ng-show="editForm.price.$invalid">
              			<p class="help-block" ng-show="editForm.price.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                   			Diese Zahl sollte größer als 0 sein. </p>
                		<p class="help-block" ng-show="editForm.price.$error.number" data-translate="entity.validation.number">
                   			Dieses Feld sollte eine Zahl sein. </p>
            		</div>
                    </div>
                </div>
                </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-5" data-translate="walterApp.instrument.search.priceTo" for="field_price_end">Bis</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <span class="input-group-addon">&euro;</span>
          					<input ng-change="vm.loadAll()" type="number" class="form-control" name="price" id="field_price_end" ng-model="vm.search.priceEnd" min="0" step="0.01"/>
                        </div>
                        <div ng-show="editForm.price.$invalid">
              			<p class="help-block" ng-show="editForm.price.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                   			Diese Zahl sollte größer als 0 sein. </p>
                		<p class="help-block" ng-show="editForm.price.$error.number" data-translate="entity.validation.number">
                   			Dieses Feld sollte eine Zahl sein. </p>
            		</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-5" data-translate="walterApp.instrument.search.purchaseDateFrom" for="field_date_begin">Von</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input ng-change="vm.loadAll()" id="field_date_begin" type="text" class="form-control" name="dateBegin" uib-datepicker-popup="dd.MM.yyyy"
                            current-text="{{ 'calendar.current' | translate }}"
						    clear-text="{{ 'calendar.clear' | translate }}"
						    close-text="{{ 'calendar.close' | translate }}"
                            ng-model="vm.search.dateBegin" is-open="vm.datePickerOpenStatus.dateBegin" />
                            <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateBegin')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-5" data-translate="walterApp.instrument.search.purchaseDateTo" for="field_date_end">Bis</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input id="field_date_end" ng-change="vm.loadAll()" type="text" class="form-control" name="dateEnd" uib-datepicker-popup="dd.MM.yyyy"
                            current-text="{{ 'calendar.current' | translate }}"
						    clear-text="{{ 'calendar.clear' | translate }}"
						    close-text="{{ 'calendar.close' | translate }}"
                            ng-model="vm.search.dateEnd" is-open="vm.datePickerOpenStatus.dateEnd" />
                            <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateEnd')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-5" data-translate="walterApp.instrument.search.privateInstrument">Privates Instrument</label>
                    <div class="col-md-7" style="margin-top: 7px;">
                        <div class="form-check" ng-init="null">
                            <input class="form-check-input" type="radio" ng-change="vm.loadAll()" ng-model="vm.search.privateInstrument" value="true" name="privateInstrument" id="field_privateInstrumentTrue"/>
                            <label class="form-check-label" for="field_privateInstrumentTrue">Ja</label>
                        </div>
                        <div class="form-check" ng-init="null">
                            <input class="form-check-input" type="radio" ng-change="vm.loadAll()" ng-model="vm.search.privateInstrument" value="false" name="privateInstrument" id="field_privateInstrumentFalse"/>
                            <label class="form-check-label" for="field_privateInstrumentFalse">Nein</label>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-5" data-translate="walterApp.instrument.search.type" for="field_type">Typ</label>
                    <div class="col-md-7">
                        <div class="input-group">
                        	<select ng-change="vm.loadAll()" class="form-control" id="field_type" name="type" ng-model="vm.search.type" ng-options="instrumentType.name as instrumentType.name for instrumentType in vm.instrumenttypes | orderBy:'name'">
            				</select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit" class="btn btn-default" ng-show="vm.isSearchDataDirty()" ng-click="vm.resetSearch()">
                     		<span class="glyphicon glyphicon-ban-circle"></span>
                      		<span data-translate="walterApp.instrument.home.resetSearchButton">zurücksetzen</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
	</form>
	<!-- Table -->
	<br/>
    <div class="table-responsive">
        <button type="submit"
                ui-sref="instrument.column-config-edit({entity: 'INSTRUMENT'})"
                class="btn btn-default btn-sm pull-right">
            <span class="glyphicon glyphicon-list-alt"></span> <span
            class="hidden-xs hidden-sm" data-translate="walterApp.columnConfig.edit"></span>
        </button>
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse"
                callback="vm.switchPage()">
                <th ng-repeat="column in vm.columnConfig" jh-sort-by="{{column.sortByName}}">
                    <span data-translate="{{column.columnDisplayName}}">{{column.columnDisplayName}}</span> <span
                    class="glyphicon glyphicon-sort"></span>
                </th>
            <tr></tr>
            </thead>
            <tbody>

                <tr ng-repeat="instrument in vm.instruments track by instrument.id">
                    <td ng-repeat="column in vm.columnConfig" align="{{vm.listCheckboxes[column.columnName] != null && vm.listCheckboxes[column.columnName] ? 'center' : 'left'}}">
                            <span ng-if="vm.listDateFormats[column.columnName] == null && vm.listCheckboxes[column.columnName] == null && vm.listPrices[column.columnName] == null">
                                {{instrument[column.columnName]}}
                            </span>
                            <span ng-if="vm.listDateFormats[column.columnName] != null">
                                {{instrument[column.columnName] | date: vm.listDateFormats[column.columnName]}}
                            </span>
                            <span ng-if="vm.listCheckboxes[column.columnName] != null && vm.listCheckboxes[column.columnName]">
                                <input type="checkbox" ng-checked="instrument[column.columnName]" disabled />
                            </span>
                            <span ng-if="vm.listPrices[column.columnName] != null" ng-show="{{vm.listPrices[column.columnName].printWhen}}">
                                &euro; {{instrument[column.columnName].toFixed(2)}}
                            </span>
                    </td>



                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="instrument-detail({id:instrument.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit" uiacc
                                    ui-sref="instrument-edit({id:instrument.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
