<div>
    <concedit></concedit>
    <h2><span data-translate="walterApp.instrument.info.title" translate-values="{name: '{{vm.instrument.name}}'}">Instrument</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <concedit></concedit>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="walterApp.instrument.price">Preis</span></dt>
        <dd ng-show="vm.instrument.price">
            <span>&euro; {{vm.instrument.price.toFixed(2)}}</span>
        </dd>
        <dd ng-show="!vm.instrument.price">
            <span></span>
        </dd>
        <dt><span data-translate="walterApp.instrument.purchaseDate">Kaufdatum</span></dt>
        <dd>
            <span>{{vm.instrument.purchaseDate | date:'dd.MM.yyyy'}}</span>
        </dd>
        <dt><span data-translate="walterApp.instrument.privateInstrument">Privates Instrument</span></dt>
        <dd>
            <span><input type="checkbox" ng-checked="{{vm.instrument.privateInstrument}}" disabled /></span> <!-- {{vm.instrument.privateInstrument ? 'Ja' : 'Nein'}} -->
        </dd>
        <dt><span data-translate="walterApp.instrument.type">Typ</span></dt>
        <dd>
        	<span>{{vm.instrument.typeName}}</span>
        </dd>
        <dt uiacc="cashbook-entry"><span data-translate="walterApp.instrument.cashbookEntry">Kassabucheintrag</span></dt>
        <dd uiacc="cashbook-entry">
        	<span><a ui-sref="cashbook-entry-detail({id:vm.instrument.cashbookEntryId})">{{vm.instrument.cashbookEntryId}}</a></span>
        </dd>
    </dl>
	<button type="button" ui-sref="instrument" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

 	<button type="button" uiacc ui-sref="instrument-detail.edit({id:vm.instrument.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
	<button type="submit" uiacc ui-sref="instrument-detail.delete({id: vm.instrument.id})" class="btn btn-danger pull-right">
         <span class="glyphicon glyphicon-remove-circle"></span>
         <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
    </button>
<p/>
<p/>
<uib-tabset active="vm.tab" ng-show="vm.showServices || vm.showPeople">
    <uib-tab index="0" heading="Services" ng-show="vm.showServices">
<!--  Instrumenten Service -->
        <div ng-show="vm.showServices">
            <h2><span data-translate="walterApp.instrumentService.home.title">Instrumenten-Services</span></h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 no-padding-left">
                        <button uiacc class="btn btn-primary" ui-sref="instrument-service.new({ instrumentId: vm.instrument.id })"> <!--  ui ref!!! -->
                            <span class="glyphicon glyphicon-plus"></span>
                            <span  data-translate="walterApp.instrumentService.home.createLabel">
                                Neuen Instrumenten-Service hinzufügen
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <br/>
            <div class="table-responsive">
                <table class="jh-table table table-striped">
                    <thead>
                        <tr>
                            <th><span data-translate="walterApp.instrumentService.date">Datum</span></th>
                            <th><span data-translate="walterApp.instrumentService.price">Preis</span></th>
                            <th><span data-translate="walterApp.instrumentService.note">Anmerkungen</span></th>
                            <th><span data-translate="walterApp.instrumentService.cashbookEntry">Kassabucheintrag</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="instrumentService in vm.servicesForInstrument | orderBy:'-date'"> <!--  -->
                            <td>{{instrumentService.date | date:'dd.MM.yyyy'}}</td>
                            <td ng-show="instrumentService.cashbookEntryAmount">&euro; {{instrumentService.cashbookEntryAmount.toFixed(2)}}</td><td ng-show="!instrumentService.cashbookEntryAmount"></td>
                            <td>{{instrumentService.note}}</td>
                            <td>
                                <a ui-sref="cashbook-entry-detail({id:instrumentService.cashbookEntryId})">{{instrumentService.cashbookEntryId}}</a>
                            </td>
                             <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit" uiacc
                                            ui-sref="instrument-service.edit({id:instrumentService.id, instrumentId:vm.instrument.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	</uib-tab>

	<uib-tab index="1" heading="Mitglieder" ng-show="vm.showPeople">
        <div ng-show="vm.showPeople">
        <!--  Mitglieder-Historie -->
            <h2><span data-translate="walterApp.personInstrument.home.title">Mitglieder-Historie</span></h2>
            <br/>
            <div class="table-responsive">
                <table class="jh-table table table-striped">
                    <thead>
                        <tr>
                            <th><span data-translate="walterApp.personInstrument.beginDate">Anfangsdatum</span></th>
                            <th><span data-translate="walterApp.personInstrument.endDate">Enddatum</span></th>
                            <th><span data-translate="walterApp.personInstrument.person">Mitglied</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="person in vm.personsForInstrument | orderBy:'-endDate'">
                            <td>{{person.beginDate | date:'dd.MM.yyyy'}}</td>
                            <td>{{person.endDate  | date:'dd.MM.yyyy'}}</td>
                            <td>
                                <a ui-sref="person-detail({id:person.personId})">{{person.firstName+" "+person.lastName}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
</div>
