<div>
    <h2 data-translate="walterApp.cashbookCategory.home.title">Cashbook Categories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" uiacc ui-sref="cashbook-category.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.cashbookCategory.home.createLabel">
                        Create new Cashbook Category
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span data-translate="walterApp.cashbookCategory.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="walterApp.cashbookCategory.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="color"><span data-translate="walterApp.cashbookCategory.color">Color</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="parentId"><span data-translate="walterApp.cashbookCategory.parent">Parent</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cashbookCategory in vm.cashbookCategories track by cashbookCategory.id">
                    <td>{{cashbookCategory.name}}</td>
                    <td>{{cashbookCategory.description}}</td>
                    <td><input type="color" disabled
						ng-model="cashbookCategory.color" /></td>
                    <td>
                        <a ui-sref="cashbook-category.edit({id:cashbookCategory.parentId})">{{cashbookCategory.parentName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    uiacc
                                    ui-sref="cashbook-category.edit({id:cashbookCategory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
