<concedit></concedit>
<div class="row">
	<div class="col-md-12">
		<h2>
			<span ng-if="vm.createMode"
				data-translate="walterApp.company.detail.create">Firma
				erstellen</span> <span ng-if="!vm.createMode"
				data-translate="walterApp.company.detail.edit"
				translate-values="{name: '{{vm.company.name}}'}">Firma
				{{vm.company.name}} bearbeiten</span>
		</h2>
		<hr>
		<jhi-alert-error></jhi-alert-error>
	</div>
</div>
<div class="row">
	<form class="form-horizontal" name="editForm" role="form" novalidate
		ng-submit="vm.save()" show-validation>
		<div class="form-group">
			<label class="control-label col-md-2"
				data-translate="walterApp.company.name" for="field_name">Name</label>
			<div class="col-md-4">
				<input type="text" class="form-control" name="name" id="field_name"
					ng-model="vm.company.name" required />
				<div ng-show="editForm.name.$invalid">
					<p class="help-block" ng-show="editForm.name.$error.required"
						data-translate="entity.validation.required">Dieses Feld muss
						ausgefüllt werden.</p>
				</div>
			</div>
		</div>
        <div class="form-group row">
            <label class="control-label col-md-2"
                   data-translate="walterApp.company.recipient"
                   for="field_recipient">Korrespondenz-Empfänger (z.Hd.)</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="recipient"
                       id="field_recipient" ng-model="vm.company.recipient" />
            </div>
        </div>

		<div class="form-group row">
			<label class="control-label col-md-2"
				data-translate="walterApp.company.streetAddress"
				for="field_streetAddress">Adresse</label>
			<div class="col-md-4">
				<input type="text" class="form-control" name="streetAdress"
					id="field_streetAddress" ng-model="vm.company.streetAddress" />
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-2"
				data-translate="walterApp.company.postalCode" for="field_postalCode">PLZ</label>
			<div class="col-md-1">
				<input type="text" class="form-control" name="postalCode"
					id="field_postalCode" ng-model="vm.company.postalCode" />
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-2"
				data-translate="walterApp.company.city" for="field_city">Ort</label>
			<div class="col-md-3">
				<input type="text" class="form-control" name="city" id="field_city"
					ng-model="vm.company.city" />
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-2"
				data-translate="walterApp.company.country" for="field_country">Land</label>
			<div class="col-md-3">
				<input type="text" class="form-control" name="country"
					id="field_country" ng-model="vm.company.country" />
			</div>
		</div>
        <div class="form-group row">
               <label class="control-label col-md-2"
                   data-translate="walterApp.company.personGroup" for="field_selectedPersonGroup">Personengruppe</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="field_selectedPersonGroup"
                           name="selectedPersonGroup" ng-model="vm.selectedPersonGroup"
                           uib-typeahead="personGroup as personGroup.name for personGroup in vm.personGroup | filter:$viewValue | limitTo:8"
                           typeahead-select-on-exact="true" typeahead-editable="false"/>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-md btn-success" ng-disabled="vm.selectedPersonGroup == null"
                            ng-click="vm.addPersonGroup()">
                        <span class="glyphicon glyphicon-plus"></span> <span
                        data-translate="walterApp.company.addPersonGroup">
						Personengruppe zuordnen</span>
                    </button>
                </div>
        </div>
        <div class="row">
            <div class="col-md-2" />
            <div class="col-md-3 table-responsive">
                <table class="jh-table table table-striped">
                    <thead>
                    <tr>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="personGroup in vm.company.personGroups">
                        <td>{{personGroup.name}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="button" ng-click="vm.removePersonGroup(personGroup)"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>




		<div class="col-md-12">
			<button ng-click="vm.goBack()"
				class="btn btn-info">
				<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
					data-translate="entity.action.back"> Zurück</span>
			</button>
			<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
				class="btn btn-primary">
				<span class="glyphicon glyphicon-save"></span>&nbsp;<span
					data-translate="entity.action.save">Speichern</span>
			</button>
			<button ng-if="!vm.createMode"
				ui-sref="company.delete({id:vm.company.id})"
				class="btn btn-danger pull-right">
				<span class="glyphicon glyphicon-remove-circle"></span> <span
					class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
			</button>
		</div>
	</form>
</div>
