<div>
    <h2 data-translate="walterApp.personBulk.home.title">Daten-Import</h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info" ng-hide="vm.hideInfo">
                <div class="panel-heading" >
                    <span data-translate="walterApp.personBulk.help.heading"></span>
                    <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="vm.hideInfo = true"></span>
                </div>
                <div class="panel-body">
                    <span data-translate="walterApp.personBulk.help.general" ></span>
                </div>
            </div>
        </div>
        <br/>
        <div class="col-md-12 form-group">
            <h4 data-translate="walterApp.personBulk.home.addPersonGroupsToAll"></h4>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="field_selectedPersonGroup"
                               name="selectedPersonGroup" ng-model="vm.selectedPersonGroup"
                               uib-typeahead="personGroup as personGroup.name for personGroup in vm.personGroups | filter:$viewValue | limitTo:8"
                               typeahead-select-on-exact="true" typeahead-editable="false"/>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-md btn-success" ng-disabled="vm.selectedPersonGroup == null"
                                ng-click="vm.addPersonGroup()">
                            <span class="glyphicon glyphicon-plus"></span> <span
                            data-translate="walterApp.personBulk.home.addPersonGroup">
						Personengruppe zuordnen</span>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-md btn-danger" ng-disabled="vm.selectedPersonGroup == null"
                                ng-click="vm.removePersonGroup()">
                            <span class="glyphicon glyphicon-minus"></span> <span
                            data-translate="walterApp.personBulk.home.removePersonGroup">
						Personengruppe zuordnen</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="col-md-12 form-group">

            <h4 data-translate="walterApp.personBulk.home.changeEMailType"></h4>
            <div class="col-md-3">
                <button class="btn btn-md btn-info"
                        ng-click="vm.changeToVerified()">
                    <span class="glyphicon glyphicon-certificate"></span> <span
                    data-translate="walterApp.personBulk.home.changeToVerified">
						Auf "Verifiziert" ändern</span>
                </button>
            </div>
        </div>
        <div class="col-md-12 form-group">

                <div class="col-md-12">


                <table class="jh-table table table-striped">
                    <thead>
                        <tr><th><input type="checkbox" ng-click="vm.selectAll()" ng-model="vm.selectedAll"></th></span>
                            <th><span data-translate="walterApp.personBulk.title.lastName">firstName</span></th>
                            <th><span data-translate="walterApp.personBulk.title.firstName">firstName</span></th>
                            <th><span data-translate="walterApp.personBulk.title.emailType">emailType</span></th>
                            <th><span data-translate="walterApp.personBulk.title.persongroup">Personengruppen</span></th>
                            <th><span data-translate="walterApp.personBulk.title.details">Details</span></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="person in vm.persons">

                        <tr>
                            <td><input type="checkbox" ng-model="person.chosen" /></td>
                            <td>{{ person.lastName }}</td>
                            <td>{{ person.firstName }}</td>
                            <td><span data-translate="{{'walterApp.EmailType.' +  person.emailType }}"></span></td>
                            <td style="word-break:break-all"><div  ng-repeat="pg in person.personGroups" ><button class="btn btn-sm btn-danger" ng-click="vm.removePersonGroupFromPerson(person, pg)"><span class="glyphicon glyphicon-minus" ></span>{{pg.name}}</button></div></td>
                            <td><button class="btn btn-sm btn-info" ng-click="vm.showDetails(person, $index)"><span class="glyphicon glyphicon-eye-open" ></span></button></td>
                        </tr>
                        <tr ng-if="vm.currentIndex === $index ">
                            <td colspan="6">
                            <div class="row-fluid">
                               <ng-include src="'app/personal-data-management/person/person-detail-data.html'" ></ng-include>

                            </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-repeat="member in vm.members">

                    <tr>
                        <td><input type="checkbox" ng-model="member.chosen" /></td>
                        <td>{{ member.person.lastName }}</td>
                        <td>{{ member.person.firstName }}</td>
                        <td><span data-translate="{{'walterApp.EmailType.' +  member.person.emailType }}"></span></td>
                        <td style="word-break:break-all"><div  ng-repeat="pg in member.person.personGroups" ><button class="btn btn-sm btn-danger" ng-click="vm.removePersonGroupFromPerson(member.person, pg)"><span class="glyphicon glyphicon-minus" ></span>{{pg.name}}</button></div></td>
                        <td><button class="btn btn-sm btn-info" ng-click="vm.showDetails(member.person, ( 'm' + $index) ) "><span class="glyphicon glyphicon-eye-open" ></span></button></td>
                    </tr>
                    <tr ng-if="vm.currentIndex === ( 'm' + $index) ">
                        <td colspan="6">
                            <div class="row-fluid">
                                <ng-include src="'app/personal-data-management/person/person-detail-data.html'" ></ng-include>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h3 ng-if="vm.members.length > 0" data-translate="walterApp.personBulk.home.membershipsStored">Folgende Mitgliedschaften werden angelegt:</h3>

                <table ng-if="vm.members.length > 0" class="jh-table table table-striped">
                    <thead>
                    <tr>
                        <th><span data-translate="walterApp.personBulk.title.lastName">firstName</span></th>
                        <th><span data-translate="walterApp.personBulk.title.firstName">firstName</span></th>
                        <th><span data-translate="walterApp.personBulk.title.beginMembership">Beginn Mitgliedschaft</span></th>
                        <th><span data-translate="walterApp.personBulk.title.membershipFeeName">Beitragsklasse</span></th>

                    </tr>
                    </thead>
                    <tbody ng-repeat="member in vm.members">

                    <tr>
                        <td>{{ member.person.lastName }}</td>
                        <td>{{ member.person.firstName }}</td>
                        <td>{{ member.membership.beginDate | date : "mediumDate" }}</td>
                        <td>{{ member.membership.membershipFeeDescription }} </td>
                        <td>{{ person.personGroups }}</td>
                    </tr>
                    </tbody>
                </table>


                </div>

            <form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>

                <div class="col-md-12">
                    <button type="button" ui-sref="{{vm.previousState.name}}"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span> <span
                        data-translate="entity.action.back">Zurück</span>
                    </button>

                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span> <span
                        data-translate="walterApp.personBulk.home.save">Importieren</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
