<concedit></concedit>
<div class="row">
    <div class="col-md-12">
        <h2>
			<span ng-if="vm.createMode"
                  data-translate="walterApp.cashbookAccount.detail.create">Konto erstellen
				</span> <span ng-if="!vm.createMode"
                                       data-translate="walterApp.cashbookAccount.detail.edit"
                                       translate-values="{name: '{{vm.cashbookAccount.name}}'}">Konto
				{{vm.cashbookAccount.name}} ändern</span>
        </h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>
    </div>
</div>
<div class="row">
    <form class="form-horizontal" name="editForm" role="form" novalidate
          ng-submit="vm.save()" show-validation>
        <div class="form-group">
            <div class="col-md-12">
            <label class="col-md-2 control-label"
                   data-translate="walterApp.cashbookAccount.name" for="field_name">Name</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="name" id="field_name"
                       ng-model="vm.cashbookAccount.name" required />
                <div ng-show="editForm.name.$invalid">
                    <p class="help-block" ng-show="editForm.name.$error.required"
                       data-translate="entity.validation.required">Dieses Feld muss
                        ausgefüllt werden.</p>
                </div>
            </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
            <label class="col-md-2 control-label"
                   data-translate="walterApp.cashbookAccount.receiptCode" for="field_receiptCode">Beleg-Code</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="receiptCode" id="field_receiptCode"
                       ng-model="vm.cashbookAccount.receiptCode" ng-required="vm.createMode" ng-disabled="!vm.createMode" />
                <div ng-show="editForm.name.$invalid">
                    <p class="help-block" ng-show="editForm.name.$error.required"
                       data-translate="entity.validation.required">Dieses Feld muss
                        ausgefüllt werden.</p>
                </div>
            </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-md-2 control-label"
                       data-translate="walterApp.cashbookAccount.textForAutoTransferTo" for="field_textForAutoTransferTo">auto</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="receiptCode" id="field_textForAutoTransferTo"
                           ng-model="vm.cashbookAccount.textForAutoTransferTo" />
                    <div>
                        <p class="help-block"
                           data-translate="walterApp.cashbookAccount.help.textForAutoTransferTo">Hilfe</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-md-2 control-label"
                       data-translate="walterApp.cashbookAccount.textForAutoTransferFrom" for="field_textForAutoTransferFrom">auto</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="receiptCode" id="field_textForAutoTransferFrom"
                           ng-model="vm.cashbookAccount.textForAutoTransferFrom" />
                    <div>
                        <p class="help-block"
                           data-translate="walterApp.cashbookAccount.help.textForAutoTransferFrom">Hilfe</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-md-2 control-label"
                       data-translate="walterApp.cashbookAccount.defaultForCashbook" for="field_defaultForCashbook">Default im Kassabuch</label>
                <div class="col-md-1">
                    <input ng-init="false" type="checkbox" class="form-control" name="bank" id="field_defaultForCashbook"
                           ng-model="vm.cashbookAccount.defaultForCashbook"  />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
            <label class="col-md-2 control-label"
                                     data-translate="walterApp.cashbookAccount.bankAccount" for="field_bank">Bank Konto</label>
            <div class="col-md-1">
                <input ng-init="false" type="checkbox"  class="form-control" name="bank" id="field_bank"
                       ng-model="vm.cashbookAccount.bankAccount"  />
            </div>
            </div>
        </div>
        <div class="form-group" ng-show="vm.cashbookAccount.bankAccount == true">
            <div class="col-md-12">
            <label class="col-md-2 control-label"
                   data-translate="walterApp.cashbookAccount.bankImporterType" for="field_bankImporterType">Importer Type</label>
            <div class="col-md-4">
                <select class="form-control" name="bankImporterType" ng-model="vm.cashbookAccount.bankImporterType"
                        id="field_bankImporterType" ng-required="vm.cashbookAccount.bankAccount == true">
                    <option value="GEORGE_IMPORTER"
                            data-translate="walterApp.BankImporterType.GEORGE_IMPORTER">Erste
                        Bank / George</option>
                    <option value="BACA_IMPORTER"
                            data-translate="walterApp.BankImporterType.BACA_IMPORTER">Bank Austria</option>
                    <option value="RAIKA_IMPORTER"
                            data-translate="walterApp.BankImporterType.RAIKA_IMPORTER">RAIKA</option>
                    <option value="EASYBANK_IMPORTER"
                            data-translate="walterApp.BankImporterType.EASYBANK_IMPORTER">Easy Bank</option>
                </select>
                <div ng-show="editForm.bankImporterType.$invalid">
                    <p class="help-block" ng-show="editForm.bankImporterType.$error.required"
                       data-translate="entity.validation.required">Dieses Feld muss
                        ausgefüllt werden.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            <button type="submit"
                    ui-sref="{{ vm.previousState.name }}({{ vm.previousState.params }})"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                data-translate="entity.action.back"> Zurück</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                data-translate="entity.action.save">Save</span>
            </button>
            <button ng-if="!vm.createMode"
                    uiacc ui-sref="cashbook-account.delete({id:vm.cashbookAccount.id})"
                    class="btn btn-danger pull-right">
                <span class="glyphicon glyphicon-remove-circle"></span> <span
                class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
            </button>
        </div>
        </div>
    </form>
</div>
