<div>
    <h2 data-translate="walterApp.cashbookAccount.home.title">Cashbook Accounts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" uiacc ui-sref="cashbook-account.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.cashbookAccount.home.createLabel">
                        Create new Cashbook Account
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span data-translate="walterApp.cashbookAccount.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankAccount"><span data-translate="walterApp.cashbookAccount.bankAccount">Bank Account</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankImporterType"><span data-translate="walterApp.cashbookAccount.bankImporterType">Bank Importer Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiptCode"><span data-translate="walterApp.cashbookAccount.receiptCode">Beleg-Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cashbookAccount in vm.cashbookAccounts track by cashbookAccount.id">
                    <td>{{cashbookAccount.name}}</td>
                    <td>{{cashbookAccount.bankAccount ? 'Ja' : 'Nein'}}</td>
                    <td data-translate="walterApp.BankImporterType.{{cashbookAccount.bankImporterType}}">{{cashbookAccount.bankImporterType}}</td>
                    <td>{{cashbookAccount.receiptCode}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    uiacc ui-sref="cashbook-account.edit({id:cashbookAccount.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
