<div>
    <h2 data-translate="walterApp.cashbookOverallReport.title">Gesamtübersicht</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <form class="form-horizontal" role="form" ng-submit="vm.getPdf()" name="editForm" role="form" novalidate show-validation>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.cashbookOverallReport.financialYear" for="field_year">Geschäftsjahr</label>
                    <div class="col-md-8">
                        <select ng-model="vm.year" required class="form-control" id="field_year" name="year">
                            <option ng-repeat="year in vm.years" value="{{ year }}">{{ year }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.cashbookOverallReport.cashbookAccounts" for="field_year">Kassabuch-Konten</label>
                    <div class="col-md-8">
                        <select class="form-control" id="field_cashbookAccountIds" name="cashbookAccountIds" ng-model="vm.cashbookAccountIds" ng-options="cashbookAccount.id as cashbookAccount.name for cashbookAccount in vm.cashbookAccounts | orderBy: 'name'" multiple size="7">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.cashbookOverallReport.cashbookCategories" for="field_year">Kassabuch-Kategorien</label>
                    <div class="col-md-8">
                        <select class="form-control" id="field_cashbookCategoryIds" name="cashbookCategoryIds" ng-model="vm.cashbookCategoryIds" ng-options="cashbookCategory.id as cashbookCategory.name for cashbookCategory in vm.cashbookCategories | orderBy: 'name'" multiple size="7">
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" ng-disabled="editForm.$invalid"
                            class="btn btn-info pull-right">
                        <span class="glyphicon glyphicon-export"></span>&nbsp;<span
                        data-translate="walterApp.cashbookOverallReport.pdfExport"> PDF-Export</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <br/>
</div>
