<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-4 no-padding-left">
            <button   class="btn btn-md btn-success" ui-sref="person-instrument.new({personid:vm.person.id})">
                <span class="glyphicon glyphicon-plus"></span> <span
                data-translate="walterApp.personInstrument.home.addInstrument">
						Instrument hinzufügen</span>
            </button>
            </div>

        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vmInstrument.predicate" ascending="vmInstrument.reverse" callback="vmInstrument.transition()">
                    <th jh-sort-by="beginDate"><span data-translate="walterApp.personInstrument.beginDate">Begin Date</span> </th>
                    <th jh-sort-by="endDate"><span data-translate="walterApp.personInstrument.endDate">End Date</span> </th>
                    <th jh-sort-by="instrumentId"><span data-translate="walterApp.personInstrument.instrument">Instrument</span> </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="personInstrument in vmInstrument.personInstruments track by personInstrument.id">

                        <td>{{personInstrument.beginDate | date:'mediumDate'}}</td>
                        <td>{{personInstrument.endDate | date:'mediumDate'}}</td>
                    <td>
                        <span>{{personInstrument.instrumentName}}</span>
                    </td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="person-instrument.edit({id:personInstrument.id, personid:vm.person.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vmInstrument.page" total="vmInstrument.queryCount" items-per-page="vmInstrument.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vmInstrument.totalItems" ng-model="vmInstrument.page" ng-change="vmInstrument.transition()"></uib-pager>
</div>
