
<div>
    <h2><span data-translate="walterApp.address.detail.title">Address</span> {{vm.address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="walterApp.address.streetAddress">Street Address</span></dt>
        <dd>
            <span>{{vm.address.streetAddress}}</span>
        </dd>
        <dt><span data-translate="walterApp.address.postalCode">Postal Code</span></dt>
        <dd>
            <span>{{vm.address.postalCode}}</span>
        </dd>
        <dt><span data-translate="walterApp.address.city">City</span></dt>
        <dd>
            <span>{{vm.address.city}}</span>
        </dd>
        <dt><span data-translate="walterApp.address.state">State</span></dt>
        <dd>
            <span>{{vm.address.state}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="address-detail.edit({id:vm.address.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
