<concedit></concedit>

<div class="row">
    <div class="col-sm-12">
        <h2 ng-show="vm.role.id == null" data-translate="walterApp.role.home.createLabel">Rolle anlegen</h2>
        <h2 ng-show="vm.role.id != null" data-translate="walterApp.role.home.editLabel">Rolle bearbeiten</h2>
        <jhi-alert-error></jhi-alert-error>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.role.name" for="field_name">Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="vm.role.name"
                           required />
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                           Dieses Feld wird benötigt.
                        </p>
                    </div>
                </div>


            </div>
            <div class="table-responsive">
                <table class="jh-table table table-striped">
                    <thead>
                    <tr>
                        <th><span data-translate="walterApp.role.authority.name">Name</span></th>
                        <th><span data-translate="walterApp.role.authority.show">Auflisten/Anzeigen</span></th>
                        <th><span data-translate="walterApp.role.authority.write">Anlegen/Ändern/Löschen</span></th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="group in vm.possibleAuthorities">
                        <tr>
                            <td colspan="3" class="info" ><span data-translate="walterApp.role.featureGroups.{{group.group}}">{{group.group}}</span></td>
                        </tr>
                    <tr ng-repeat="auth in group.authorities track by $index">
                        <td><span data-translate="walterApp.role.authorities.{{auth.name}}">{{auth.name}}</span></td>
                        <td><input type="checkbox" ng-model="auth.display" ng-checked="auth.display || auth.change" ng-disabled="auth.change"> </td>
                        <td><input type="checkbox" ng-model="auth.change" ng-checked="auth.change"> </td>

                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button type="button" ui-sref="{{ vm.previousState.name }}(vm.previousState.params)" class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span data-translate="entity.action.back">Zurück</span>
                    </button>

                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>
                        <span data-translate="entity.action.save">Speichern</span>
                    </button>

                    <button ng-show="vm.role.id" type="button" ui-sref="role.delete({ id: vm.role.id })" class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>






