<concedit></concedit>
<div>
    <h2><span data-translate="walterApp.role.detail.title">Role</span> {{vm.role.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="walterApp.role.name">Name</span></dt>
        <dd>
            <span>{{vm.role.name}}</span>
        </dd>

    </dl>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="walterApp.role.authority.name">Name</span></th>
                <th><span data-translate="walterApp.role.authority.show">Auflisten/Anzeigen</span></th>
                <th><span data-translate="walterApp.role.authority.write">Anlegen/Ändern/Löschen</span></th>
            </tr>
            </thead>
            <tbody>


            <tbody ng-repeat="group in vm.possibleAuthorities">
            <tr>
                <td colspan="3" class="info" ><span data-translate="walterApp.role.featureGroups.{{group.group}}">{{group.group}}</span></td>
            </tr>
            <tr ng-repeat="auth in group.authorities as auth">
                <td><span data-translate="walterApp.role.authorities.{{auth.name}}">{{auth.name}}</span></td>
                <td><span class="glyphicon glyphicon-ok" ng-if="auth.display"></span><span class="glyphicon glyphicon-remove" ng-if="!auth.display"></span></td>
                <td><span class="glyphicon glyphicon-ok" ng-if="auth.change"></span><span class="glyphicon glyphicon-remove" ng-if="!auth.change"></span></td>
            </tr>

        </table>
    </div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" uiacc ui-sref="role-detail.edit({id:vm.role.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
    <button ng-show="vm.role.id" type="button" uiacc ui-sref="role.delete({ id: vm.role.id })" class="btn btn-danger pull-right">
    <span class="glyphicon glyphicon-remove-circle"></span>
    <span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
</button>
</div>
