<div>
    <h2 data-translate="walterApp.membershipFeeAmount.home.title">Beitragshöhen</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="beginDate"><span data-translate="walterApp.membershipFeeAmount.beginDate">Anfangsdatum</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span data-translate="walterApp.membershipFeeAmount.endDate">Enddatum</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span data-translate="walterApp.membershipFeeAmount.amount">Betrag</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="membershipFeeId"><span data-translate="walterApp.membershipFeeAmount.membershipFee">Membership Fee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="membershipFeeAmount in vm.membershipFeeAmounts track by membershipFeeAmount.id">
                        <td>{{membershipFeeAmount.beginDate | date:'mediumDate'}}</td>
                        <td>{{membershipFeeAmount.endDate | date:'mediumDate'}}</td>
                    <td>{{membershipFeeAmount.amount}}</td>
                    <td>
                        <a ui-sref="membership-fee-detail({id:membershipFeeAmount.membershipFeeId})">{{membershipFeeAmount.membershipFeeId}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
