<div>
    <h2 data-translate="walterApp.mailLog.home.title">Mail-Logs</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="container-fluid">
            <div class="col-md-2">
                        <div class="input-group">
                            <input id="field_date" type="text" class="form-control" name="date" ng-change="vm.loadAll()"
                                   uib-datepicker-popup="mediumDate"
                                   current-text="{{ 'calendar.current' | translate }}"
                                   clear-text="{{ 'calendar.clear' | translate }}"
                                   close-text="{{ 'calendar.close' | translate }}"
                                   ng-model="vm.date"
                                   is-open="vm.datePickerOpenStatus.date"
                            />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>

            </div>
        <div class="col-md-4">
            <div class="input-group">
                <select class="form-control" name="status" ng-model="vm.status" id="field_status" required ng-change="vm.loadAll()">
                    <option value="" data-translate="walterApp.mailLog.errorStatus.ALL">Alle</option>
                    <option value="SUCCESSFUL" data-translate="walterApp.mailLog.errorStatus.SUCCESSFUL">Erfolgreich</option>
                    <option value="WAITING" data-translate="walterApp.mailLog.errorStatus.WAITING">Wird versendet</option>
                    <option value="UNSUCCESSFUL" data-translate="walterApp.mailLog.errorStatus.UNSUCCESSFUL">Nicht erfolgreich</option>
                </select>
            </div>

        </div>
        <button class="btn btn-info pull-right" ng-click="vm.loadAll()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>

    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="date"><span data-translate="walterApp.mailLog.date">Datum</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="email"><span data-translate="walterApp.mailLog.email">Email</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="subject"><span data-translate="walterApp.mailLog.subject">Betreff</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="errorMessage"><span data-translate="walterApp.mailLog.errorMessage">Fehlermeldung</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="walterApp.mailLog.status">Status</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="mailLog in vm.mailLogs track by mailLog.id">
                <td>{{mailLog.date | date:"dd.MM.yyyy HH:mm:ss"}}</td>
                <td>{{mailLog.email}}</td>
                <td>{{mailLog.subject}}</td>
                <td>{{mailLog.errorMessage | translate}}</td>
                <td>
                    <span uib-tooltip="{{ 'walterApp.mailLog.errorStatus.SUCCESSFUL' | translate }}"
                          class="label label-success" ng-show="mailLog.mailLogStatus == 'SUCCESSFUL'"><span
                        class="glyphicon glyphicon-envelope"></span></span>
                    <span uib-tooltip="{{ 'walterApp.mailLog.errorStatus.WAITING' | translate }}"
                          class="label label-warning" ng-show="mailLog.mailLogStatus == 'WAITING'"><span
                        class="glyphicon glyphicon-envelope"></span></span>
                    <span uib-tooltip="{{ 'walterApp.mailLog.errorStatus.UNSUCCESSFUL' | translate }}"
                          class="label label-danger" ng-show="mailLog.mailLogStatus == 'UNSUCCESSFUL'"><span
                        class="glyphicon glyphicon-envelope"></span></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <ul uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.switchPage()"></ul>
</div>
