<form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()" show-validation>


    <div>
        <h2><span data-translate="walterApp.person.detail.titleMember">Person</span> {{vm.person.lastName}} {{vm.person.firstName}}</h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>

        <h3><span data-translate="walterApp.person.detail.persondata">Daten zur Person</span></h3>
        <hr>

        <ng-include src="'app/personal-data-management/person/person-edit-form.html'" ></ng-include>

        <h3><span data-translate="walterApp.person.detail.membership">Mitgliedschaft</span></h3>
        <hr>

        <ng-include src="'app/personal-data-management/membership/membership-edit-form.html'" ></ng-include>
    </div>



    <button type="button"
            ng-click="vm.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
        data-translate="entity.action.back"> Zurück</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span
        data-translate="entity.action.save">Speichern</span>
    </button>
    <button ng-if="!vm.createMode" type="button"
            ui-sref="person.delete({id:vm.person.id})"
            class="btn btn-danger pull-right">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
    </button>



</form>
