<div>
    <h2 data-translate="walterApp.person.home.title">People</h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 no-padding-left">
                <button class="btn btn-default" ng-click="vm.isSearchOpen = !vm.isSearchOpen">
                    <span class="glyphicon glyphicon-eye-open" ng-hide="vm.isSearchOpen"></span>
                    <span  data-translate="walterApp.person.home.searchShow" ng-hide="vm.isSearchOpen">Suche einblenden</span>
                    <span class="glyphicon glyphicon-eye-close" ng-show="vm.isSearchOpen"></span>
                    <span  data-translate="walterApp.person.home.searchHide" ng-show="vm.isSearchOpen">Suche ausblenden</span>
                </button>
                <button class="btn btn-primary" uiacc ui-sref="person.new"  >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.person.home.createLabel">
                        Neue Person erstellen
                    </span>
                </button>
                <button class="btn btn-primary" uiacc="person.member.new" ui-sref="person.new-member"  >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.person.home.createMemberLabel">
                        Neues Mitglied erstellen
                    </span>
                </button>
                <button class="btn btn-info pull-right" ng-click="vm.bulkEdit()"  >
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span  data-translate="walterApp.person.home.bulkedit">
                       Massenbearbeitng
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <form class="form-horizontal" role="form" ng-submit="vm.loadAll()" novalidate ng-show="vm.isSearchOpen">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.person.search.name"
                           for="field_name">Name</label>
                    <div class="col-md-8">
                        <input type="text" ng-change="vm.loadAll()" class="form-control" name="name" ng-model="vm.search.name"
                               id="field_name"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.person.search.gender"
                           for="field_gender">Geschlecht</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-change="vm.loadAll()" name="type" ng-model="vm.search.gender" id="field_gender" required>
                            <option value="" ></option>
                            <option value="MALE" data-translate="walterApp.person.constants.MALE">Männlich</option>
                            <option value="FEMALE" data-translate="walterApp.person.constants.FEMALE">Weiblich</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-4" data-translate="walterApp.person.search.birthdate">Geburtsdatum </label>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.person.search.begin" for="field_date_begin">Von</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input ng-change="vm.loadAll()" id="field_date_begin" type="text" class="form-control" name="dateBegin" uib-datepicker-popup="dd.MM.yyyy"
                            current-text="{{ 'calendar.current' | translate }}"
						    clear-text="{{ 'calendar.clear' | translate }}"
						    close-text="{{ 'calendar.close' | translate }}"
                            ng-model="vm.search.dateBegin" is-open="vm.datePickerOpenStatus.dateBegin" />
                            <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateBegin')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.person.search.end" for="field_date_end">Bis</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input id="field_date_end" ng-change="vm.loadAll()" type="text" class="form-control" name="dateEnd" uib-datepicker-popup="dd.MM.yyyy"
                            current-text="{{ 'calendar.current' | translate }}"
						    clear-text="{{ 'calendar.clear' | translate }}"
						    close-text="{{ 'calendar.close' | translate }}"
                            ng-model="vm.search.dateEnd" is-open="vm.datePickerOpenStatus.dateEnd" />
                            <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateEnd')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
				<div class="form-group">
					<label class="control-label col-md-4" data-translate="walterApp.person.personGroups" for="field_personGroups">Personengruppen</label>
					<div class="col-md-8">
						<select ng-change="vm.loadAll()" class="form-control" id="field_personGroups" name="personGroups" ng-model="vm.search.personGroups" ng-options="personGroup.id as personGroup.name for personGroup in vm.personGroups" multiple size="7">
						</select>
					</div>
				</div>
			</div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">


                        <button type="submit" class="btn btn-default" ng-show="vm.isSearchDataDirty()" ng-click="vm.resetSearch()">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        <span data-translate="walterApp.person.home.resetSearchButton">zurücksetzen</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <button type="submit"
                ui-sref="person.column-config-edit({entity: 'PERSON'})"
                class="btn btn-default btn-sm pull-right">
            <span class="glyphicon glyphicon-list-alt"></span> <span
            class="hidden-xs hidden-sm" data-translate="walterApp.columnConfig.edit"></span>
        </button>
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse"
                callback="vm.switchPage()">
                <th ng-repeat="column in vm.columnConfig" jh-sort-by="{{column.sortByName}}">
                    <span data-translate="{{column.columnDisplayName}}">{{column.columnDisplayName}}</span> <span
                    class="glyphicon glyphicon-sort"></span>
                </th>
            <tr></tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in vm.people track by person.id">
                    <td ng-repeat="column in vm.columnConfig">
                        <span ng-if="vm.listTranslations[column.columnName] == null && vm.listDateFormats[column.columnName] == null">
                            {{person[column.columnName]}}
                        </span>
                        <span ng-if="vm.listDateFormats[column.columnName] != null">
                            {{person[column.columnName] | date: vm.listDateFormats[column.columnName]}}
                        </span>
                        <span ng-if="vm.listTranslations[column.columnName] != null">
                            {{vm.listTranslations[column.columnName][person[column.columnName]] | translate}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="person.detail({id:person.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit" uiacc
                                    ui-sref="person.edit({id:person.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"
                        items-per-page="vm.itemsPerPage"></jhi-item-count>
        <ul uib-pagination total-items="vm.totalItems" ng-model="vm.page"
            ng-change="vm.switchPage()"  max-size="5" boundary-links="true" force-ellipses="true" ></ul>
    </div>
</div>
