
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label" data-translate="walterApp.person.gender" for="field_gender">Typ</label>
            <div class="col-md-8">
                <select class="form-control" name="gender" ng-model="vm.person.gender" id="field_gender" required>
                    <option value="MALE" data-translate="walterApp.person.constants.MALE">Männlich</option>
                    <option value="FEMALE" data-translate="walterApp.person.constants.FEMALE">Weiblich</option>
                </select>
                <div ng-show="editForm.gender.$invalid">
                    <p class="help-block" ng-show="editForm.gender.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.person.firstName"
                   for="field_firstName">First
                Name</label>
            <div class="col-md-8">
                <input type="text" class="form-control col-md-8" name="firstName" id="field_firstName"
                       ng-model="vm.person.firstName"
                       required/>
                <div ng-show="editForm.firstName.$invalid">
                    <p class="help-block"
                       ng-show="editForm.firstName.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>


    </div>

    <div class="col-md-6">

        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.person.lastName"
                   for="field_lastName">Last
                Name</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="lastName"
                       id="field_lastName"
                       ng-model="vm.person.lastName"
                       required/>

                <div ng-show="editForm.lastName.$invalid">
                    <p class="help-block"
                       ng-show="editForm.lastName.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.person.birthDate"
                   for="field_birthDate">Birth
                Date</label>
            <div class="col-md-8">
                <div class="input-group">
                    <input id="field_birthDate" type="text" class="form-control" name="birthDate"
                           uib-datepicker-popup="shortDate"
                           current-text="{{ 'calendar.current' | translate }}"
                           clear-text="{{ 'calendar.clear' | translate }}"
                           close-text="{{ 'calendar.close' | translate }}"
                           ng-model="vm.person.birthDate"
                           is-open="vm.datePickerOpenStatus.birthDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.person.emailType" for="field_email_type">Email-Typ</label>
            <div class="col-md-8">
                <select class="form-control" name="type" ng-model="vm.person.emailType" id="field_email_type" required>
                    <option value="VERIFIED" data-translate="walterApp.EmailType.VERIFIED">verifiziert</option>
                    <option value="MANUALLY" data-translate="walterApp.EmailType.MANUALLY">manuell</option>
                </select>
                <div ng-show="editForm.emailType.$invalid">
                    <p class="help-block" ng-show="editForm.emailType.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.person.telephoneNumber"
                   for="field_telephoneNumber">Telephone
                Number</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="telephoneNumber" id="field_telephoneNumber"
                       ng-model="vm.person.telephoneNumber"
                />
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="vm.person.emailType == 'MANUALLY'">
    <div class="col-md-6">
    <div class="form-group">
        <label class="control-label col-md-4" data-translate="walterApp.person.email" for="field_email">Email</label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="email" id="field_email"
                   ng-model="vm.person.email"
            />
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.person.streetAddress"
                   for="field_streetAddress">Street
                Address</label>

            <div class="col-md-8">
                <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                       ng-model="vm.person.streetAddress"
                       required/>
                <div ng-show="editForm.streetAddress.$invalid">
                    <p class="help-block"
                       ng-show="editForm.streetAddress.$error.required"
                       data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.person.postalCode"
                   for="field_postalCode">Postal
                Code</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                       ng-model="vm.person.postalCode"
                       required/>
                <div ng-show="editForm.postalCode.$invalid">
                    <p class="help-block"
                       ng-show="editForm.postalCode.$error.required"
                       data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.person.city"
                   for="field_city">City</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="city" id="field_city"
                       ng-model="vm.person.city"
                       required/>
                <div ng-show="editForm.city.$invalid">
                    <p class="help-block"
                       ng-show="editForm.city.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.person.country"
                   for="field_country">Country</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="country" id="field_country"
                       ng-model="vm.person.country"
                       required/>
                <div ng-show="editForm.country.$invalid">
                    <p class="help-block"
                       ng-show="editForm.country.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>

    </div>


</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.person.hasDirectDebit"
                   for="field_hasDirectDebit">Lastschriftvereinbarung</label>
            <div class="col-md-1">
                <input ng-init="false" type="checkbox"  class="form-control" name="hasDirectDebit" id="field_hasDirectDebit"
                       ng-model="vm.person.hasDirectDebit"  />
            </div>
        </div>

    </div>


</div>
