
<div class="row">
    <dl class="dl-horizontal  dl-inner jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.gender">Geschlecht</span></dt>
        <dd><span data-translate="{{ 'walterApp.person.constants.' + vm.person.gender }}"> {{vm.person.gender}} </span></dd>

    </dl>
</div>

<div class="row">
    <dl class="dl-horizontal  dl-inner jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.firstName">Vorname</span></dt>
        <dd><span> {{vm.person.firstName}} </span></dd>

    </dl>
    <dl class="dl-horizontal dl-inner jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.lastName">Nachname</span></dt>
        <dd><span> {{vm.person.lastName}} </span></dd>
    </dl>
</div>
<div class="row">
    <dl class="dl-horizontal dl-inner jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.birthDate">Geburtsdatum</span></dt>
        <dd><span> {{vm.person.birthDate | date:'dd.MM.yyyy'}} </span></dd>

    </dl>
</div>
<div class="row">
    <dl class="dl-horizontal dl-inner jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.emailType">Email-Typ</span></dt>
        <dd><span data-translate="{{ 'walterApp.EmailType.' + vm.person.emailType }}"> {{vm.person.emailType}} </span></dd>
    </dl>
    <dl class="dl-horizontal  dl-inner jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.telephoneNumber">Telefonnummer</span></dt>
        <dd><span> {{vm.person.telephoneNumber}} </span></dd>
    </dl>
</div>
<div class="row" ng-show="vm.person.emailType == 'VERIFIED'">
    <dl class="dl-horizontal dl-inner jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.emailVerificationLink">Verifizierungs-Link</span></dt>
        <dd><span> <a target="_blank" href="{{vm.emailVerificationLink}}">{{vm.emailVerificationLink}}</a> </span></dd>
    </dl>
    <dl class="dl-horizontal dl-inner jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.emailVerificationCode">Verifizierungs-Code</span></dt>
        <dd><span> {{vm.emailVerificationCode}} </span></dd>
    </dl>
</div>
<div class="row">
    <dl class="dl-horizontal dl-inner jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.email">Email</span></dt>
        <dd><span> {{vm.person.email}} </span></dd>
    </dl>
    <dl class="dl-horizontal dl-inner jh-entity-details col-md-6" ng-show="vm.person.emailType == 'VERIFIED'">
        <dt><span data-translate="walterApp.person.emailVerificationDate">verifiziert am</span></dt>
        <dd><span> {{vm.emailVerificationDate | date:'dd.MM.yyyy H:mm:ss'}} </span></dd>
    </dl>
</div>
<div class="row">
    <dl class="dl-horizontal  dl-inner jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.streetAddress">Adresse</span></dt>
        <dd><span> {{vm.person.streetAddress}} </span></dd>
    </dl>
</div>
<div class="row">
    <dl class="dl-horizontal  dl-inner jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.postalCode">Postleitzahl</span></dt>
        <dd><span> {{vm.person.postalCode}} </span></dd>

    </dl>
    <dl class="dl-horizontal  dl-inner jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.city">Stadt</span></dt>
        <dd><span> {{vm.person.city}} </span></dd>
    </dl>
</div>
<div class="row">
    <dl class="dl-horizontal jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.country">Land</span></dt>
        <dd><span> {{vm.person.country}} </span></dd>
    </dl>
</div>
<div class="row">
    <dl class="dl-horizontal jh-entity-details col-md-6">
        <dt><span data-translate="walterApp.person.hasDirectDebit">Lastschriftvereinbarung</span></dt>
        <dd><span data-translate="{{ 'walterApp.person.constants.' + vm.person.hasDirectDebit }}"> {{vm.person.hasDirectDebit}} </span></dd>
    </dl>
</div>

