<concedit></concedit>
<h2><span data-translate="walterApp.person.detail.title">Person</span> {{vm.person.lastName}}
    {{vm.person.firstName}}</h2>
<hr>
<div class="alert alert-warning" role="alert" ng-show="vm.person.emailType == 'VERIFIED' && vm.hasActiveEmailVerificationLink && vm.emailVerificationDate == null" data-translate="walterApp.person.noEmailVerification">
</div>
<div class="alert alert-danger" role="alert" ng-show="vm.person.emailType == 'VERIFIED' && !vm.hasActiveEmailVerificationLink" data-translate="walterApp.person.emailVerificationLinkInvalid">
</div>
<jhi-alert-error></jhi-alert-error>

<ng-include src="'app/personal-data-management/person/person-detail-data.html'" ></ng-include>

<button type="button"
        ui-sref="{{ vm.previousState }}"
        class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
    data-translate="entity.action.back"> Zurück</span>
</button>
<button  uiacc  type="button" ui-sref="person.edit({id:vm.person.id})" class="btn btn-primary">
    <span class="glyphicon glyphicon-pencil"></span>
    <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
</button>
<button  uiacc  type="button"
         ui-sref="person.delete({id:vm.person.id})"
         class="btn btn-danger pull-right">
    <span class="glyphicon glyphicon-remove-circle"></span>
    <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"> Löschen</span>
</button>
<button uiacc="person.edit" ng-show="vm.person.emailType == 'VERIFIED'" type="button" ng-click="vm.renewVerificationLink()" class="btn btn-info">
    <span class="glyphicon glyphicon-refresh"></span>&nbsp;<span
    data-translate="walterApp.person.renewEmailVerificationLink"> Link erneuern</span>
</button>
<br />
<br />




<uib-tabset active="vm.activeTab">
    <uib-tab index="0">
        <uib-tab-heading>
            <span data-translate="walterApp.person.tab.personGroup"></span>
        </uib-tab-heading>


        <div class="container-fluid">
            <div uiacc="person.edit" class="row col-md-4">
                <br/>
                <div class="col-md-8 no-padding-left">
                    <input type="text" class="form-control" id="field_selectedPersonGroup"
                           name="selectedPersonGroup" ng-model="vm.selectedPersonGroup"
                           uib-typeahead="personGroup as personGroup.name for personGroup in vm.personGroup | filter:$viewValue | limitTo:8"
                           typeahead-select-on-exact="true" typeahead-editable="false"/>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-md btn-success" ng-disabled="vm.selectedPersonGroup == null"
                            ng-click="vm.addPersonGroup()">
                        <span class="glyphicon glyphicon-plus"></span> <span
                            data-translate="walterApp.person.home.addPersonGroup">
						Personengruppe zuordnen</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th ><span
                            data-translate="walterApp.personGroup.name">Name</span> </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="personGroup in vm.person.personGroups">
                    <td>{{personGroup.name}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button uiacc="person.edit" type="submit" ng-click="vm.removePersonGroup(personGroup)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span> <span
                                    class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab ng-repeat="tab in vm.tabs" ui-sref="{{tab.route}}" ng-show="tab.show">
        <uib-tab-heading>
            <span data-translate="{{tab.heading}}"></span>
        </uib-tab-heading>

        <div ui-view="{{tab.view}}" >

        </div>


    </uib-tab>

</uib-tabset>






