<concedit></concedit>
<div>
    <h2><span data-translate="walterApp.membershipFee.detail.title" translate-values="{description: '{{vm.membershipFee.description}}'}">Mitgliedsbeitrag</span> {{vm.membershipFee.description}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="walterApp.membershipFee.period">Periode</span></dt>
        <dd>
            <span data-translate="{{'walterApp.MembershipFeePeriod.' + vm.membershipFee.period}}">{{vm.membershipFee.period}}</span>
        </dd>
        <dt><span data-translate="walterApp.membershipFee.periodTimeFraction">Fälligkeit</span></dt>
        <dd>
            <span data-translate="{{'walterApp.membershipFee.month.' + vm.membershipFee.periodTimeFraction}}">{{vm.membershipFee.periodTimeFraction}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back">Zurück</span>
    </button>

    <button type="button" uiacc ui-sref="membership-fee.edit({id:vm.membershipFee.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit">Bearbeiten</span>
    </button>
    <button type="submit" uiacc ui-sref="membership-fee-detail.delete({id: vm.membershipFee.id})" class="btn btn-danger pull-right">
         <span class="glyphicon glyphicon-remove-circle"></span>
         <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
    </button>
</div>

<br />
<br />

<uib-tabset active="vm.activeTab">
    <uib-tab index="0">
        <uib-tab-heading>
            <span data-translate="walterApp.membershipFee.tab.membershipFeeAmount"></span>
        </uib-tab-heading>
        <br>
    	<div class="container-fluid">
       	 	<div class="row">
            	<div class="col-md-4 no-padding-left">
            		<button uiacc  class="btn btn-md btn-success" ui-sref="membership-fee-amount.new({membershipFeeId:vm.membershipFee.id})">
                		<span class="glyphicon glyphicon-plus"></span> <span
                		data-translate="walterApp.membershipFeeAmount.home.addMembershipFeeAmount">
						Beitragshöhe zuordnen</span>
            		</button>
            	</div>
        	</div>
    	</div>
    	<br>
    	<div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr >
                    <th><span data-translate="walterApp.membershipFeeAmount.beginDate">Anfangsdatum</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="walterApp.membershipFeeAmount.endDate">Enddatum</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="walterApp.membershipFeeAmount.amount">Betrag</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="membershipFeeAmount in vm.amountsForMembershipFee | orderBy:'-beginDate'">
                    <td>{{membershipFeeAmount.beginDate | date:'mediumDate'}}</td>
                    <td>{{membershipFeeAmount.endDate | date:'mediumDate'}}</td>
                    <td>&euro; {{membershipFeeAmount.amount.toFixed(2)}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" uiacc
                                    ui-sref="membership-fee-amount.edit({id:membershipFeeAmount.id, membershipFeeId: vm.membershipFee.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    </uib-tab>
</uib-tabset>
