<div>
    <h2 data-translate="walterApp.membershipFee.home.title">Mitgliedsbeiträge</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" uiacc ui-sref="membership-fee.new"  >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.membershipFee.home.createLabel">
                        Neuen Mitgliedsbeitrag erstellen
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="description"><span data-translate="walterApp.membershipFee.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="period"><span data-translate="walterApp.membershipFee.period">Period</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="periodTimeFraction"><span data-translate="walterApp.membershipFee.periodTimeFraction">Period Time Fraction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="membershipFee in vm.membershipFees track by membershipFee.description">
                    <td>{{membershipFee.description}}</td>
                    <td data-translate="{{'walterApp.MembershipFeePeriod.' + membershipFee.period}}">{{membershipFee.period}}</td>
                    <td data-translate="{{'walterApp.membershipFee.month.' + membershipFee.periodTimeFraction}}">{{membershipFee.periodTimeFraction}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="membership-fee-detail({id:membershipFee.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit" uiacc
                                    ui-sref="membership-fee.edit({id:membershipFee.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"
                        items-per-page="vm.itemsPerPage"></jhi-item-count>
        <ul uib-pagination total-items="vm.totalItems" ng-model="vm.page"
            ng-change="vm.transition()"  max-size="5" boundary-links="true" force-ellipses="true" ></ul>
    </div>
</div>
