<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-4 no-padding-left">
            <button uiacc  class="btn btn-md btn-success" ui-sref="person-clothing.new({personid:vm.person.id})">
                <span class="glyphicon glyphicon-plus"></span> <span
                data-translate="walterApp.personClothing.home.addClothing">
						Clothing hinzufügen</span>
            </button>
            </div>

        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vmClothing.predicate" ascending="vmClothing.reverse" callback="vmClothing.transition()">
                    <th jh-sort-by="beginDate"><span data-translate="walterApp.personClothing.beginDate">Begin Date</span> </th>
                    <th jh-sort-by="endDate"><span data-translate="walterApp.personClothing.endDate">End Date</span> </th>
                    <th jh-sort-by="clothingId"><span data-translate="walterApp.personClothing.clothing">Clothing</span> </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="personClothing in vmClothing.personClothings track by personClothing.id">

                        <td>{{personClothing.beginDate | date:'mediumDate'}}</td>
                        <td>{{personClothing.endDate | date:'mediumDate'}}</td>
                    <td>
                        <span>{{personClothing.clothingTypeName}} {{personClothing.clothingSize}} </span>
                    </td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" uiacc
                                    ui-sref="person-clothing.edit({id:personClothing.id, personid:vm.person.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vmClothing.page" total="vmClothing.queryCount" items-per-page="vmClothing.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vmClothing.totalItems" ng-model="vmClothing.page" ng-change="vmClothing.transition()"></uib-pager>
</div>
