<concedit></concedit>
<form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()" show-validation>

    <div>
        <h3><span ng-if="vm.createMode"
                  data-translate="walterApp.personClothing.edit.addClothing"
                  translate-values="{firstName: '{{vm.person.firstName}}', lastName: '{{vm.person.lastName}}'}">Clothing für Person hinzufügen</span>
            <span ng-if="!vm.createMode"
                  data-translate="walterApp.personClothing.edit.editClothing"
                  translate-values="{firstName: '{{vm.person.firstName}}', lastName: '{{vm.person.lastName}}'}">Clothing für Person bearbeiten</span>
        </h3>
        <hr>
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.personClothing.beginDate"
                           for="field_beginDate">Anfangsdatum
                        Date</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input id="field_beginDate" type="text" class="form-control" name="beginDate"
                                   uib-datepicker-popup="shortDate"
                                   current-text="{{ 'calendar.current' | translate }}"
						    	   clear-text="{{ 'calendar.clear' | translate }}"
						           close-text="{{ 'calendar.close' | translate }}"
                                   ng-model="vm.personClothing.beginDate"
                                   is-open="vm.datePickerOpenStatus.beginDate"
                            required />
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('beginDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </div>
                        <div ng-show="editForm.beginDate.$invalid">
                            <p class="help-block"
                               ng-show="editForm.beginDate.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.personClothing.endDate"
                           for="field_endDate">Enddatum
                        Date</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input id="field_endDate" type="text" class="form-control" name="endDate"
                                   uib-datepicker-popup="shortDate" ng-model="vm.personClothing.endDate"
                                   is-open="vm.datePickerOpenStatus.endDate"
                             />
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.personClothing.clothing"
                           for="field_clothing">Clothing</label>


                    <div class="col-md-8">
                        <select class="form-control" id="field_clothing" name="clothing"
                                ng-model="vm.clothingGroup"
                                ng-options="clothingGroup as clothingGroup.typeName + ' ' + clothingGroup.csize + ' verfügbar:' + clothingGroup.quantityAvailable for clothingGroup in vm.clothingGroups" required>
                            <option selected="{{vm.clothingGroup.typeName + ' ' + vm.clothingGroup.csize + ' verfügbar:' + vm.clothingGroup.quantityAvailable}}" value="">{{vm.clothingGroup.typeName + ' ' + vm.clothingGroup.csize + ' verfügbar:' + vm.clothingGroup.quantityAvailable}}</option>
                        </select>

                        <div ng-show="editForm.clothing.$invalid">
                            <p class="help-block"
                               ng-show="editForm.clothing.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>


    <button type="button"
            ng-click="vm.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
        data-translate="entity.action.back"> Zurück</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Speichern</span>
    </button>
    <button ng-if="!vm.createMode" type="submit"
            ui-sref="person-clothing.delete"
            class="btn btn-danger pull-right">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
    </button>
    </div>
</form>
