<concedit></concedit>
<div>
    <h2><span data-translate="walterApp.cashbook.detail.title">Cashbook</span> {{vm.cashbook.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="walterApp.cashbook.name">Name</span></dt>
        <dd>
            <span>{{vm.cashbook.name}}</span>
        </dd>
        <dt><span data-translate="walterApp.cashbook.description">Description</span></dt>
        <dd>
            <span>{{vm.cashbook.description}}</span>
        </dd>
        <dt><span data-translate="walterApp.cashbook.cashbookEntries">Cashbook Entries</span></dt>
        <dd>
            <span ng-repeat="cashbookEntries in vm.cashbook.cashbookEntries">
                <a ui-sref="cashbook-entry-detail({id: cashbookEntries.id})">{{cashbookEntries.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="cashbook-detail.edit({id:vm.cashbook.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
