<form name="editForm" ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="walterApp.columnConfig.edit"></h4>
    </div>
    <div class="modal-body">
        <div class="form-group col-md-5">
            <label for="field_availableColumns" data-translate="walterApp.columnConfig.availableColumns">Verfügbare Spalten</label>
            <div class="col-sm-12">
                <select class="form-control" id="field_availableColumns" name="availableColumns"
                        ng-model="vm.selectedAvailable"
                        ng-options="column.id as column.columnDisplayName | translate for column in vm.columnConfig | filter : {visible:'false'} track by column.id" size="7">
                    <option style="display:none" value="">Dummy</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-1" style="margin-left: -15px">
            <br/>
            <br/>
            <button type="button" class="btn btn-default" ng-click="vm.pushToVisibleColumns()">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button><br/>
            <button ng-disabled="!vm.hasMoreThanOneVisibleColumn()" type="button" class="btn btn-default" ng-click="vm.pushToHiddenColumns()">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
        </div>
        <div class="form-group col-md-5">
            <label for="field_visibleColumns" data-translate="walterApp.columnConfig.visibleColumns">Sichtbare Spalten</label>
            <div class="col-sm-12">
                <select class="form-control" id="field_visibleColumns" name="visibleColumns"
                        ng-model="vm.selectedVisible"
                        ng-options="column.id as column.columnDisplayName | translate for column in vm.columnConfig | filter : {visible:'true'} track by column.id" size="7">
                    <option style="display:none" value="">Dummy</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-1" style="margin-left: -15px">
            <br/>
            <br/>
            <button ng-disabled="!vm.hasMoreThanOneVisibleColumn()" type="button" class="btn btn-default" ng-click="vm.moveUp()">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </button><br/>
            <button ng-disabled="!vm.hasMoreThanOneVisibleColumn()" type="button" class="btn btn-default" ng-click="vm.moveDown()">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Abbrechen</span>
        </button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="vm.reset()">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span data-translate="walterApp.columnConfig.reset">Zurücksetzen</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Speichern</span>
        </button>
    </div>
</form>
