<div>
  <h2 data-translate="walterApp.appointment.home.title">Appointments</h2>
  <jhi-alert></jhi-alert>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 no-padding-left"></div>
    </div>
  </div>
  <br/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-left">
        <button uiacc class="btn btn-primary" ui-sref="appointment.new">
          <span class="glyphicon glyphicon-plus"></span>
          <span data-translate="walterApp.appointment.home.createLabel">
            Termin erstellen</span>
        </button>
        <button class="btn btn-default" ng-if="vm.mode == 0"
            ng-click="vm.searchActive = !vm.searchActive">
          <span class="glyphicon glyphicon-eye-open" ng-if="!vm.searchActive"></span>
          <span data-translate="walterApp.appointment.home.openSearch"
             ng-if="!vm.searchActive">Suche einblenden</span>
          <span class="glyphicon glyphicon-eye-close" ng-if="vm.searchActive"></span>
          <span data-translate="walterApp.appointment.home.closeSearch"
             ng-if="vm.searchActive">Suche ausblenden</span>
        </button>
      </div>
      <div class="col-md-4 text-center" align="center" ng-if="vm.mode == 1">
        <div class="btn-group btn-toggle">
          <button class="btn btn-primary active" data-toggle="collapse">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          </button>
          <button class="btn btn-default" data-toggle="collapse"
              ng-click="vm.switchMode()">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="col-md-4 text-center" align="center" ng-if="vm.mode == 0">
        <div class="btn-group btn-toggle">
          <button class="btn btn-default" data-toggle="collapse"
              ng-click="vm.switchMode()">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          </button>
          <button class="btn btn-primary active" data-toggle="collapse">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <button uiacc="akm.new" class="btn btn-info"
            ng-click="vm.isReportExportOpen = !vm.isReportExportOpen">
          <span class="glyphicon glyphicon-export"></span>
          <span data-translate="walterApp.appointment.home.akmExport">
            AKM Export</span>
        </button>
        <a uiacc="appointment.edit" href="/api/appointments/ical" download class="btn btn-success">
          <span class="glyphicon glyphicon-export"></span>
          <span data-translate="walterApp.appointment.home.icalExport">
            Kalender exportieren </span>
        </a>
      </div>
    </div>
  </div>
  <br/>

  <form  id="akmExportForm" class="form-horizontal" role="form" ng-submit="vm.exportReport()"
        novalidate ng-show="vm.isReportExportOpen">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label col-md-4"
              data-translate="walterApp.appointment.search.from"
              for="field_export_from">Von</label>
          <div class="col-md-8">
            <div class="input-group">
              <input id="field_export_from" type="text" class="form-control"
                  name="from" uib-datepicker-popup="dd.MM.yyyy"
                  current-text="{{ 'calendar.current' | translate }}"
				  clear-text="{{ 'calendar.clear' | translate }}"
				  close-text="{{ 'calendar.close' | translate }}"
                  ng-model="vm.export.from"
                  is-open="vm.datePickerOpenStatus.exportFrom"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                    ng-click="vm.openCalendar('exportFrom')">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label col-md-4"
              data-translate="walterApp.appointment.search.to" for="field_export_to">
              Bis</label>
          <div class="col-md-8">
            <div class="input-group">
              <input id="field_export_to" type="text" class="form-control" name="to"
                  uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.export.to"
                  current-text="{{ 'calendar.current' | translate }}"
				  clear-text="{{ 'calendar.clear' | translate }}"
				  close-text="{{ 'calendar.close' | translate }}"
                  is-open="vm.datePickerOpenStatus.exportTo"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                    ng-click="vm.openCalendar('exportTo')">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-export"></span>
            <span data-translate="walterApp.appointment.akmExport.startExport">
                AKM Export herunterladen</span>
          </button>
        </div>
      </div>
    </div>
  </form>


  <form id="searchForm" class="form-horizontal" ng-if="vm.searchActive && vm.mode == 0"
     name="searchForm" role="form" ng-submit="vm.loadAll()" novalidate>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label col-md-4"
              data-translate="walterApp.appointment.search.appointmentType"
              for="field_appointmentType">Termintyp</label>
          <div class="col-sm-8">
            <select class="form-control" id="field_appointmentType"
                name="appointmentType" ng-model="vm.search.appointmentTypeId"
                ng-change="vm.loadAll()"
                ng-options="appointmentType.id as appointmentType.name for appointmentType in vm.appointmentTypes">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4"
              data-translate="walterApp.appointment.search.from"
              for="field_date_from">Von</label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="text" class="form-control" name="earliestBegin"
                  id="field_date_from" ng-model="vm.search.earliestBegin"
                  uib-datepicker-popup="dd.MM.yyyy"
                  is-open="vm.datePickerOpenStatus.earliestBegin"
                  ng-change="vm.loadAll()"/> <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                    ng-click="vm.openCalendar('earliestBegin')">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4"
              data-translate="walterApp.appointment.search.nameOrDescription"
              for="field_nameOrDescription"></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="nameOrDescription"
                id="field_nameOrDescription"
                ng-model="vm.search.nameOrDescription" ng-change="vm.loadAll()"/>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label col-md-4"
              data-translate="walterApp.appointment.search.location"
              for="field_location">Ort</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="location"
                id="field_location" ng-model="vm.search.location"
                ng-change="vm.loadAll()"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4"
              data-translate="walterApp.appointment.search.to"
              for="field_date_to">Bis</label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="text" class="form-control" name="latestEnd"
                  id="field_date_to" ng-model="vm.search.latestEnd"
                  uib-datepicker-popup="dd.MM.yyyy"
                  is-open="vm.datePickerOpenStatus.latestEnd"
                  ng-change="vm.loadAll()"/> <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                    ng-click="vm.openCalendar('latestEnd')">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <button class="btn btn-default pull-right"
            ng-click="vm.resetSearch()" ng-show="vm.isSearchDataDirty()">
          <span class="glyphicon glyphicon-remove"></span>
          <span data-translate="walterApp.appointment.home.resetSearch">
            Suche zurücksetzen
          </span>
        </button>
      </div>
    </div>
  </form>

  <div class="container-fluid" ng-if="vm.mode == 1">

    <div class="row">

      <div class="col-md-4 text-left">
        <div class="btn-group">

          <button class="btn btn-default" mwl-date-modifier
              date="vm.viewDate" decrement="vm.calendarView"
              ng-click="vm.cellIsOpen = false">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </button>
          <button class="btn btn-default" mwl-date-modifier
              date="vm.viewDate" set-to-today ng-click="vm.cellIsOpen = false">Heute
          </button>
          <button class="btn btn-default" mwl-date-modifier
              date="vm.viewDate" increment="vm.calendarView"
              ng-click="vm.cellIsOpen = false">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <h3 class="text-center">{{ vm.calendarTitle }}</h3>
      </div>
      <div class="col-md-4 text-right">
        <div class="btn-group">
          <label class="btn btn-info" ng-model="vm.calendarView"
              uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Jahr</label>
          <label class="btn btn-info" ng-model="vm.calendarView"
              uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Monat</label>
          <label class="btn btn-info" ng-model="vm.calendarView"
              uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Woche</label>
        </div>
      </div>

    </div>

    <br>

    <mwl-calendar events="vm.events" view="vm.calendarView"
           view-title="vm.calendarTitle" view-date="vm.viewDate"
           cell-is-open="vm.cellIsOpen" day-view-start="00:00"
           day-view-end="23:59" day-view-split="30"
           cell-auto-open-disabled="true"
           on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)"
           on-event-click="vm.eventClicked(calendarEvent)" ></mwl-calendar>
  </div>
  <div ng-if="vm.mode == 0">
    <br/>
      <div class="table-responsive">
          <button type="submit"
                  ui-sref="appointment.column-config-edit({entity: 'APPOINTMENT'})"
                  class="btn btn-default btn-sm pull-right">
              <span class="glyphicon glyphicon-list-alt"></span> <span
              class="hidden-xs hidden-sm" data-translate="walterApp.columnConfig.edit"></span>
          </button>
          <div infinite-scroll="vm.switchPage()" infinite-scroll-distance="3">
              <table  class="jh-table table table-striped">
                  <thead>
                  <tr jh-sort="vm.predicate" ascending="vm.reverse"
                      callback="vm.switchPage()">
                      <th ng-repeat="column in vm.columnConfig" jh-sort-by="{{column.sortByName}}">
                          <span data-translate="{{column.columnDisplayName}}">{{column.columnDisplayName}}</span> <span
                          class="glyphicon glyphicon-sort"></span>
                      </th>
                  <tr></tr>
                  </thead>
                  <tbody>
                  <tr
                      ng-repeat="appointment in vm.appointments track by appointment.id">

                      <td ng-repeat="column in vm.columnConfig">
                            <span ng-if="vm.listDateFormats[column.columnName] == null">
                                {{appointment[column.columnName]}}
                            </span>
                            <span ng-if="vm.listDateFormats[column.columnName] != null">
                                {{appointment[column.columnName] | date: vm.listDateFormats[column.columnName]}}
                            </span>
                      </td>
                      <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                          <button type="submit"
                              ui-sref="appointment-detail({id:appointment.id})"
                              class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span> <span
                            class="hidden-xs hidden-sm"
                            data-translate="entity.action.view"></span>
                          </button>
                          <button type="submit"
                              uiacc ui-sref="appointment-edit({id:appointment.id})"
                              class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span> <span
                            class="hidden-xs hidden-sm"
                            data-translate="entity.action.edit"></span>
                          </button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                </table>
    </div>
    <div class="text-center">
      <jhi-item-count page="vm.page" total="vm.queryCount"
              items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page"
          ng-change="vm.transition()"></uib-pager>
  </div>
</div>
