<concedit></concedit>
<div class="col-md-12">
    <h2>
		<span data-translate="walterApp.appointment.detail.title"
              translate-values="{name: '{{vm.appointment.name}}'}">{{vm.appointment.name}}"</span>
    </h2>
    <br/>
</div>
<div class="row">
    <div class="col-md-12">
        <jhi-alert-error></jhi-alert-error>
        <dl class="dl-horizontal jh-entity-details col-md-5">
            <dt>
                <span data-translate="walterApp.appointment.name">Name</span>
            </dt>
            <dd>
                <span>{{vm.appointment.name}}</span>
            </dd>

            <dt>
                <span data-translate="walterApp.appointment.type">Typ</span>
            </dt>
            <dd>
                <a ui-sref="appointment-type-detail({id:vm.appointment.typeName})">{{vm.appointment.typeName}}</a>
            </dd>

            <dt>
                <span data-translate="walterApp.appointment.beginDate">Beginn</span>
            </dt>
            <dd>
                <span>{{vm.appointment.beginDate | date:'medium'}}</span>
            </dd>

            <dt>
                <span data-translate="walterApp.appointment.endDate">Ende</span>
            </dt>
            <dd>
                <span>{{vm.appointment.endDate | date:'medium'}}</span>
            </dd>

            <dt>
                <span data-translate="walterApp.appointment.description">Beschreibung</span>
            </dt>
            <dd>
                <span>{{vm.appointment.description}}</span>
            </dd>
        </dl>
        <dl class="dl-horizontal jh-entity-details col-md-7">
            <dt>
                <span data-translate="walterApp.appointment.streetAddress">Adresse</span>
            </dt>
            <dd>
                <span>{{vm.appointment.streetAddress}}</span>
            </dd>

            <dt>
                <span data-translate="walterApp.appointment.postalCode">PLZ</span>
            </dt>
            <dd>
                <span>{{vm.appointment.postalCode}}</span>
            </dd>

            <dt>
                <span data-translate="walterApp.appointment.city">Ort</span>
            </dt>
            <dd>
                <span>{{vm.appointment.city}}</span>
            </dd>

            <dt>
                <span data-translate="walterApp.appointment.country">Land</span>
            </dt>
            <dd>
                <span>{{vm.appointment.country}}</span>
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="submit" ui-sref="appointment" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span> <span
            data-translate="entity.action.back">Zurück</span>
        </button>

        <button type="button"
                uiacc ui-sref="appointment-detail.edit({ id: vm.appointment.id })"
                class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span> <span
            class="hidden-xs hidden-sm" data-translate="entity.action.edit">Bearbeiten</span>
        </button>

        <button type="submit"
                uiacc ui-sref="appointment-detail.delete({ id: vm.appointment.id })"
                class="btn btn-danger pull-right">
            <span class="glyphicon glyphicon-remove-circle"></span> <span
            class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
        </button>
    </div>
</div>
<br/>
<br/>
<uib-tabset active="vm.tab" ng-show="vm.showCompositions || vm.showPeople">
    <uib-tab index="0"
             ng-show="vm.showCompositions" heading="aufgeführte Stücke">
        <div class="container-fluid">
            <div class="row col-md-4" ng-show="vm.showCompositions">
                <br/>
                <div class="col-md-8 no-padding-left" uiacc="appointment.compositions.edit">
                    <input type="text" class="form-control"
                           id="field_selectedComposition" name="selectedComposition"
                           ng-model="vm.selectedComposition"
                           uib-typeahead="composition as composition.title for composition in vm.availableCompositions | filter:$viewValue | limitTo:8"
                           typeahead-select-on-exact="true" typeahead-editable="false"/>
                </div>
                <div uiacc="appointment.compositions.edit" class="col-md-2">
                    <button class="btn btn-md btn-success"
                            ng-disabled="vm.selectedComposition == null"
                            ng-click="vm.addComposition()">
                        <span class="glyphicon glyphicon-plus"></span> <span
                        data-translate="walterApp.composition.home.addComposition">
					Stück hinzufügen</span>
                    </button>
                </div>
            </div>

        </div>
        <br/>
        <div class="table-responsive" ng-show="vm.showCompositions">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span data-translate="walterApp.composition.title">Titel</span></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="composition in vm.compositions">
                    <td>{{composition.title}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="appointment-detail.removeComposition({id : vm.appointment.id, compositionId : composition.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span> <span
                                class="hidden-xs hidden-sm"
                                data-translate="entity.action.delete"
                                uiacc="appointment.compositions.delete" ></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>

    <uib-tab index="1" ng-show="vm.showPeople" heading="Anwesenheit" >
        <br/>
        <div uiacc="appointment.people" class="table-responsive" ng-show="vm.showPeople">
            <table class="jh-table table table-striped" style="width: 50%;">
                <thead>
                <tr>
                    <th><span data-translate="walterApp.person.lastName">Nachname</span></th>
                    <th><span data-translate="walterApp.person.firstName">Vorname</span></th>
                    <th><span
                        data-translate="walterApp.appointment.people.personPresent">anwesend</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="person in vm.availablePeople" >
                    <td>{{person.lastName}}</td>
                    <td>{{person.firstName}}</td>
                    <td><input
                        type="checkbox"
                               ng-checked="vm.isPresent(person.id)"
                               ng-click="vm.changePresence(person)"
                               ng-disabled="!vm.peopleEditable()"
                               /></td>
                </tr>
                </tbody>
            </table>

        </div>
        </div>
    </uib-tab>

</uib-tabset>
