<concedit></concedit>
<div class="row">
    <div class="col-md-12">
        <h2 ng-show="vm.appointment.id" data-translate="walterApp.appointment.home.editLabel">Termin
            {{vm.appointment.name}} bearbeiten</h2>
        <h2 ng-hide="vm.appointment.id" data-translate="walterApp.appointment.home.createLabel">Termin erstellen</h2>
        <br/>
        <jhi-alert-error></jhi-alert-error>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
        <form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.appointment.name"
                       for="field_name">Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="vm.appointment.name"
                           required/>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block" ng-show="editForm.name.$error.required"
                           data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    </div>
                </div>
                <label class="col-md-2 control-label" data-translate="walterApp.appointment.type"
                       for="field_type">Typ</label>
                <div class="col-md-4">
                    <select class="form-control" id="field_type" ng-change="vm.changeType()" name="type" ng-model="vm.appointment.typeId"
                            ng-options="appointmentType.id as appointmentType.name for appointmentType in vm.appointmenttypes">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.appointment.beginDate"
                       for="field_beginDate">Beginn</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="field_beginDate" type="text" class="form-control" name="beginDate"
                               datetime-picker="short" ng-model="vm.appointment.beginDate"
                               is-open="vm.datePickerOpenStatus.beginDate"
                               button-bar="vm.dateTimeButtonBar"
                               required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('beginDate')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <div ng-show="editForm.beginDate.$invalid">
                        <p class="help-block" ng-show="editForm.beginDate.$error.required"
                           data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                        <p class="help-block" ng-show="editForm.beginDate.$error.ZonedDateTimelocal"
                           data-translate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.</p>
                    </div>
                </div>
                <label class="col-md-2 control-label" data-translate="walterApp.appointment.endDate"
                       for="field_endDate">Ende</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate"
                               datetime-picker="short" ng-model="vm.appointment.endDate"
                               is-open="vm.datePickerOpenStatus.endDate"
                               button-bar="vm.dateTimeButtonBar"
                               required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <div ng-show="editForm.endDate.$invalid">
                        <p class="help-block" ng-show="editForm.endDate.$error.required"
                           data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                        <p class="help-block" ng-show="editForm.endDate.$error.ZonedDateTimelocal"
                           data-translate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.appointment.description"
                       for="field_description">Beschreibung</label>
                <div class="col-md-4">
                    <textarea class="form-control" name="description" id="field_description"
                           ng-model="vm.appointment.description"> </textarea>
                </div>
                <label ng-show="vm.appointment.isOfficial" class="col-md-2 control-label" data-translate="walterApp.officialAppointment.organizerName"
                       for="field_organizerName">Veranstalter</label>
                <div ng-show="vm.appointment.isOfficial" class="col-md-4">
                    <input type="text" class="form-control" name="organizerName" id="field_organizerName"
                           ng-model="vm.appointment.organizerName"
                           ng-required="vm.appointment.isOfficial"/>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block" ng-show="editForm.name.$error.required"
                           data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.appointment.streetAddress"
                       for="field_streetAddress">Adresse</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                           ng-model="vm.appointment.streetAddress"/>
                </div>
                <label ng-show="vm.appointment.isOfficial" class="col-md-2 control-label" data-translate="walterApp.officialAppointment.organizerAddress"
                       for="field_organizerAddress">Adresse Veranstalter</label>
                <div ng-show="vm.appointment.isOfficial" class="col-md-4">
                    <input type="text" class="form-control" name="organizerAddress" id="field_organizerAddress"
                           ng-model="vm.appointment.organizerAddress"
                           ng-required="vm.appointment.isOfficial"/>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block" ng-show="editForm.name.$error.required"
                           data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.appointment.postalCode"
                       for="field_postalCode">PLZ</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                           ng-model="vm.appointment.postalCode"/>
                </div>
                <label ng-show="vm.appointment.isOfficial" class="col-md-2 control-label" data-translate="walterApp.officialAppointment.isHeadQuota" for="field_isHeadQuota">Kopfquote</label>
            <div ng-show="vm.appointment.isOfficial" class="col-md-4">
              <input type="checkbox" name="isHeadQuota" id="field_isHeadQuota"
                           ng-model="vm.appointment.isHeadQuota"/>
            </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.appointment.city"
                       for="field_city">Ort</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="city" id="field_city"
                           ng-model="vm.appointment.city"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.appointment.country"
                       for="field_country">Land</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="country" id="field_country"
                           ng-model="vm.appointment.country"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-8">
                    <button type="button" ng-click="vm.goBack()"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span data-translate="entity.action.back">Zurück</span>
                    </button>

                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>
                        <span data-translate="entity.action.save">Speichern</span>
                    </button>

                    <button ng-show="vm.appointment.id" type="button"
                            ui-sref="appointment-edit.delete({ id: vm.appointment.id })"
                            class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
                    </button>
                </div>
            </div>
        </form>
      </div>
  </div>
