<form name="deleteForm" ng-submit="vm.confirmDelete(vm.receipt.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="entity.delete.title">Löschen bestätigen</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p data-translate="walterApp.receipt.delete.question" translate-values="{id: '{{vm.receipt.id}}'}">Soll Beleg {{ id }} wirklich dauerhaft gelöscht werden?</p>
        <p ng-show="vm.receipt.entriesCount > 1" class="text-danger"><strong data-translate="walterApp.receipt.delete.info" translate-values="{ count: vm.receipt.entriesCount }">{{ count }} Kassabuch-Einträge werden damit geändert!</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Abbrechen</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span data-translate="entity.action.delete">Löschen</span>
        </button>
    </div>
</form>
