<concedit></concedit>
<div class="row">
	<div class="col-sm-12">
		<h2 ng-show="vm.receipt.id" data-translate="walterApp.receipt.home.editLabel">Beleg bearbeiten</h2>
		<h2 ng-hide="vm.receipt.id" data-translate="walterApp.receipt.home.createLabel">Beleg erstellen</h2>
		<br />
		<jhi-alert-error></jhi-alert-error>
	</div>
</div>
<div class="row" ng-hide="vm.receipt.cashbookEntryId || vm.isInEditMode">
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert" data-translate="walterApp.receipt.home.invalidPageCall">Ungültiger Seitenaufruf. Bitte wählen Sie zuerst einen Kassabuch-Eintrag aus, zu dem ein Belge erstellt werden soll.</div>
	</div>
</div>
<div class="row" ng-show="vm.receipt.cashbookEntryId || vm.isInEditMode">
	<div class="col-md-12">
		<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save(vm.receipt.file)" show-validation>
			<div class="form-group" ng-show="vm.receipt.id">
				<label class="col-md-2 control-label" for="id" data-translate="global.field.id">ID</label>
				<div class="col-md-4">
					<input type="text" class="form-control" id="id" name="id" ng-model="vm.receipt.id" readonly />
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" data-translate="walterApp.receipt.title" for="field_title">Titel</label>
				<div class="col-md-4">
					<input type="text" class="form-control" name="title" id="field_title" ng-model="vm.receipt.title" required />
					<div ng-show="editForm.title.$invalid">
						<p class="help-block" ng-show="editForm.title.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
					</div>
				</div>
			</div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.receipt.overwriteIdentifier">Kennzeichnungs-Vergabe</label>
                <div class="col-md-4">
                    <input type="radio" ng-model="vm.receipt.overwriteIdentifier" name="overwriteIdentifier" ng-value="false" ng-checked="!vm.receipt.overwriteIdentifier"/> <label data-translate="walterApp.receipt.autoIdentifier">automatisch</label><br/>
                    <input type="radio" ng-model="vm.receipt.overwriteIdentifier" name="overwriteIdentifier" ng-value="true" ng-checked="vm.receipt.overwriteIdentifier"/> <label data-translate="walterApp.receipt.manualIdentifier">manuell</label>
                </div>
            </div>
            <div class="form-group">
				<label class="col-md-2 control-label" data-translate="walterApp.receipt.identifier" for="field_identifier">Kennzeichnung</label>
                <div class="col-md-4">
                    <input ng-disabled="!vm.receipt.overwriteIdentifier" type="text" class="form-control" name="identifier" id="field_identifier" ng-model="vm.receipt.identifier" ng-required="vm.receipt.overwriteIdentifier" />
                    <div ng-show="editForm.identifier.$invalid">
                        <p class="help-block" ng-show="editForm.identifier.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    </div>
                </div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" data-translate="walterApp.receipt.date" for="field_date">Datum</label>
				<div class="col-md-4">
					<div class="input-group">
						<input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="dd.MM.yyyy"
						current-text="{{ 'calendar.current' | translate }}"
						clear-text="{{ 'calendar.clear' | translate }}"
						close-text="{{ 'calendar.close' | translate }}"
						ng-model="vm.receipt.date" is-open="vm.datePickerOpenStatus.date" datepicker-options="vm.datepickerOptions" required />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
					<div ng-show="editForm.date.$invalid">
						<p class="help-block" ng-show="editForm.date.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
					</div>
				</div>
			</div>
			<div class="form-group" ng-show="vm.isInEditMode && vm.hasFileUploaded">
				<label class="col-md-2 control-label" data-translate="walterApp.receipt.file">Datei</label>
				<div class="col-md-4">
					<a ng-click="vm.downloadReceipt()" download class="btn btn-success">
						<span class="glyphicon glyphicon-download-alt"></span>
						<span data-translate="walterApp.receipt.detail.download">Beleg herunterladen</span>
					</a>
					<button type="button" class="btn btn-primary" ng-click="vm.toggleShowUploadField()">
						<span ng-hide="vm.showUploadField" class="glyphicon glyphicon-eye-open"></span>
						<span ng-hide="vm.showUploadField" data-translate="walterApp.receipt.showFileUpload">Upload anzeigen</span>
						<span ng-show="vm.showUploadField" class="glyphicon glyphicon-eye-close"></span>
						<span ng-show="vm.showUploadField" data-translate="walterApp.receipt.hideFileUpload">Upload verstecken</span>
					</button>
				</div>
			</div>
			<div class="form-group" ng-hide="!vm.showUploadField && vm.isInEditMode && vm.hasFileUploaded">
				<label ng-show="vm.isInEditMode && vm.hasFileUploaded" class="col-md-2 control-label" data-translate="walterApp.receipt.fileNew" for="field_file">Neue Datei</label>
				<label ng-hide="vm.isInEditMode && vm.hasFileUploaded" class="col-md-2 control-label" data-translate="walterApp.receipt.file" for="field_file">Datei</label>
				<div class="col-md-4">
					<input type="file" ngf-select class="form-control" name="file" id="field_file" ng-model="vm.receipt.file" accept="image/*,application/pdf" ngf-max-size="50MB" ngf-model-invalid="errorFile" />
					<div ng-show="editForm.file.$invalid">
						<p class="help-block" ng-show="editForm.file.$error.maxSize" data-translate="entity.validation.maxSize" data-translate-values="{ actual: errorFile.size, target: 50 }">Diese Datei ist zu groß: {{ actual / 1000000 | number: 1 }} MB: maximal {{ target }} MB erlaubt.</p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" data-translate="walterApp.receipt.company" for="field_company">Firma</label>
				<div class="col-md-4">
					<input type="text" class="form-control" id="field_company" name="companyId" ng-model="vm.receipt.companyId" uib-typeahead="company as company.name for company in vm.companies | filter:$viewValue | limitTo:8" typeahead-select-on-exact="true" typeahead-editable="false" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" data-translate="walterApp.receipt.note" for="field_note">Anmerkung</label>
				<div class="col-md-4">
					<input type="text" class="form-control" name="note" id="field_note" ng-model="vm.receipt.note" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button type="button" ng-click="vm.goBack()" class="btn btn-info">
						<span class="glyphicon glyphicon-arrow-left"></span>
						<span data-translate="entity.action.back">Zurück</span>
					</button>
					<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>
						<span data-translate="entity.action.save">Speichern</span>
					</button>

					<button type="button" ui-sref="receipt.edit.delete({id:vm.receipt.id})" class="btn btn-danger pull-right">
						<span class="glyphicon glyphicon-remove-circle"></span>
						<span class="hidden-xs hidden-sm" data-translate="walterApp.receipt.home.deleteLabel">Beleg Löschen</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
