<form name="deleteForm" ng-submit="vm.confirmUnlink(vm.receipt.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="walterApp.receipt.unlink.title">Aufhebung bestätigen</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p data-translate="walterApp.receipt.unlink.question" translate-values="{id: vm.receipt.id, cid: vm.cashbookEntryId}">Soll die Verknüpfung von Beleg {{ id }} zu Kassabuch-Eintrag {{ cid }} wirklich aufgehoben werden?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Abbrechen</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="glyphicon glyphicon-link"></span>&nbsp;<span data-translate="walterApp.receipt.unlink.action">Aufheben</span>
        </button>
    </div>
</form>
