<form name="chooseForm">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" data-translate="walterApp.receipt.choose.title">Beleg auswählen</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<form name="searchForm" class="form" role="form" ng-submit="vm.loadAll()" novalidate>
			<input placeholder="Beleg suchen ..." class="form-control" type="text" ng-model="vm.sword" ng-change="vm.loadAll()" />
		</form>
		<div class="table-responsive">
			<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
					<th><span data-translate="walterApp.receipt.date">Date</span></th>
					<th><span data-translate="walterApp.receipt.title">Title</span></th>
					<th><span data-translate="walterApp.receipt.company">Company</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="receipt in vm.receipts track by receipt.id">
					<td>{{ receipt.date | date: 'mediumDate' }}</td>
					<td>{{ receipt.title }}</td>
					<td>{{ receipt.companyName }}</td>
					<td class="text-right">
						<button type="button" ng-click="vm.save(receipt.id)" class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-ok"></span>
							<span class="hidden-xs hidden-sm" data-translate="walterApp.receipt.choose.action"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="text-center">
			<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
		</div>
		<uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Abbrechen</span>
		</button>
	</div>
</form>
