<concedit></concedit>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.membership.beginDate"
                   for="field_beginDate">Anfangsdatum
                Date</label>
            <div class="col-md-8">
                <div class="input-group">
                    <input id="field_beginDate" type="text" class="form-control" name="beginDate"
                           uib-datepicker-popup="shortDate"
                           current-text="{{ 'calendar.current' | translate }}"
                           clear-text="{{ 'calendar.clear' | translate }}"
                           close-text="{{ 'calendar.close' | translate }}"
                           ng-model="vm.membership.beginDate"
                           is-open="vm.datePickerOpenStatus.beginDate"
                           datepicker-options="vm.datepickerOptions"
                           required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('beginDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div ng-show="editForm.beginDate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.beginDate.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.membership.endDate"
                   for="field_endDate">Enddatum
                Date</label>
            <div class="col-md-8">
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate"
                           uib-datepicker-popup="shortDate" ng-model="vm.membership.endDate"
                           current-text="{{ 'calendar.current' | translate }}"
                           clear-text="{{ 'calendar.clear' | translate }}"
                           close-text="{{ 'calendar.close' | translate }}"
                           is-open="vm.datePickerOpenStatus.endDate"
                           datepicker-options="vm.datepickerOptions"
                           ng-change="changeDate()"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" data-translate="walterApp.membership.membershipFee"
                   for="field_membershipFeeId">Mitgliedsbeitrag</label>
            <div class="col-md-8">
                <select class="form-control" id="field_membershipFeeId" name="membershipFeeId" ng-model="vm.membership.membershipFeeId"
                        ng-options="membershipFee.id as membershipFee.description for membershipFee in vm.membershipFees | orderBy:'description'">
                    <option value=""></option>
                </select>
            </div>
        </div>

    </div>
</div>
