<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-4 no-padding-left">
                <button uiacc class="btn btn-md btn-success"
                        ui-sref="membership.new({personid:vm.person.id})">
                    <span class="glyphicon glyphicon-plus"></span> <span
                    data-translate="walterApp.membership.home.addMembership">
						Membership hinzufügen</span>
                </button>
            </div>

        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vmMembership.predicate" ascending="vmMembership.reverse" callback="vmMembership.transition()">
                <th jh-sort-by="beginDate"><span data-translate="walterApp.membership.beginDate">Begin Date</span> </th>
                <th jh-sort-by="endDate"><span data-translate="walterApp.membership.endDate">End Date</span> </th>
                <th jh-sort-by="membershipFeeDescription"><span data-translate="walterApp.membership.membershipFee">Mitgliedsbeitrag</span>
                    </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="membership in vmMembership.memberships track by membership.id">

                <td>{{membership.beginDate | date:'mediumDate'}}</td>
                <td>{{membership.endDate | date:'mediumDate'}}</td>
                <td>{{membership.membershipFeeDescription}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" uiacc
                                ui-sref="membership.edit({id:membership.id, personid:vm.person.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vmMembership.page" total="vmMembership.queryCount"
                        items-per-page="vmMembership.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vmMembership.totalItems" ng-model="vmMembership.page"
               ng-change="vmMembership.transition()"></uib-pager>

    <uib-tabset active="active">
        <uib-tab index="0" heading="Beitragszahlungen">

            <div class="row">
                <div uiacc="membership.edit" class="col-md-4">
                    <br/>
                    <div class="col-md-8 no-padding-left">
                        <input type="text" class="form-control" id="field_selectedYear"
                               name="selectedYear" ng-model="vmMembership.selectedYear"
                               uib-typeahead="year for year in vmMembership.years | filter:$viewValue | limitTo:8"
                               typeahead-select-on-exact="true" typeahead-editable="false"/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-md btn-success" ng-disabled="vmMembership.selectedYear == null"
                                ng-click="vmMembership.addFeeForPeriod()">
                            <span class="glyphicon glyphicon-plus"></span> <span
                            data-translate="walterApp.membership.home.addFeeForPeriod">
                   Beitragszahlung hinzufügen</span>
                        </button>
                    </div>
                </div>


                <div class="table-responsive col-md-12">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr>
                            <th><span data-translate="walterApp.membershipFeeForPeriod.period">Periode</span></th>
                            <th><span data-translate="walterApp.membershipFeeForPeriod.note">Notiz</span></th>
                            <th class="text-right"><span data-translate="walterApp.membershipFeeForPeriod.paidOrNot">Bezahlt/Nicht bezahlt</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="periods in vmMembership.periodsForPerson">
                            <td class="col-md-3" ng-show="periods.nr>9">{{periods.nr}}/{{periods.year}}</td>
                            <td class="col-md-3" ng-show="periods.nr<10">0{{periods.nr}}/{{periods.year}}</td>
                            <td class="col-md-6">
                                <span ng-hide="editing" ng-click="editing = true">{{periods.note ? periods.note  : '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'}}</span>
                                <form ng-show="editing">
                                    <input type="text" ng-model="periods.note" ng-required/>
                                    <button class="btn btn-primary glyphicon glyphicon-ok"
                                            ng-click="editing = false; vmMembership.changeNote(periods)"></button>
                                </form>
                            </td>
                            <td class="col-md-3" ng-show="periods.paid" class="text-right"> <!--  -->
                                <div class="btn-group flex-btn-group-container">
                                    <button type="button" ng-disabled="vmMembership.isSaving || !vmMembership.changePaidAllowed"
                                            ng-click="vmMembership.changePaid(periods.id, periods.nr, periods.year, periods.referenceCode, periods.paid, periods.membershipId, periods.note)"
                                            ng-disabled="!vmMembership.changePaidAllowed"
                                            class="btn btn-success btn-sm">
                                        <span class="hidden-xs hidden-sm"
                                              data-translate="walterApp.membershipFeeForPeriod.paid">Bezahlt</span>
                                    </button>
                                </div>
                            </td>
                            <td class="col-md-3" ng-show="!periods.paid" class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="button" ng-disabled="vmMembership.isSaving || !vmMembership.changePaidAllowed"
                                            ng-click="vmMembership.changePaid(periods.id, periods.nr, periods.year, periods.referenceCode, periods.paid, periods.membershipId, periods.note)"
                                            class="btn btn-danger btn-sm">
                                        <span class="hidden-xs hidden-sm"
                                              data-translate="walterApp.membershipFeeForPeriod.notPaid">Nicht bezahlt</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
