<concedit></concedit>
<form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()" show-validation>

    <div>
        <h3><span ng-if="vm.createMode"
                  data-translate="walterApp.membership.edit.addMembership"
                  translate-values="{firstName: '{{vm.person.firstName}}', lastName: '{{vm.person.lastName}}'}">Membership für Person hinzufügen</span>
            <span ng-if="!vm.createMode"
                  data-translate="walterApp.membership.edit.editMembership"
                  translate-values="{firstName: '{{vm.person.firstName}}', lastName: '{{vm.person.lastName}}'}">Membership für Person bearbeiten</span>
        </h3>
        <hr>
        <jhi-alert-error></jhi-alert-error>

        <ng-include src="'app/personal-data-management/membership/membership-edit-form.html'" />



    </div>


    <button type="button"
            ng-click="vm.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
        data-translate="entity.action.back"> Zurück</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Speichern</span>
    </button>
    <button ng-if="!vm.createMode" type="submit"
            ui-sref="membership.delete"
            class="btn btn-danger pull-right">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
    </button>
    </div>
</form>
