<concedit></concedit>
<div class="row">
	<div class="col-md-12">
		<h2>
			<span ng-if="vm.createMode" data-translate="walterApp.clothingType.detail.create">Auszeichnung erstellen</span>
			<span ng-if="!vm.createMode" data-translate="walterApp.clothingType.detail.edit" translate-values="{name: '{{vm.clothingType.name}}'}">Auszeichnung {{vm.clothingType.name}} bearbeiten</span>
		</h2>
		</br>
		<jhi-alert-error></jhi-alert-error>
	</div>
</div>
<div class="row">
	<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>
		<div class="col-md-6">
			<div class="form-group">
				<label class="col-md-4 control-label" data-translate="walterApp.clothingType.name" for="field_name">Bezeichnung</label>
				<div class="col-md-8">
					<input type="text" class="form-control" name="name" id="field_name" ng-model="vm.clothingType.name" required/>
					<div ng-show="editForm.name.$invalid">
						<p class="help-block" ng-show="editForm.name.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
					</div>
				</div>
			</div>
		</div>

    	<div class="col-md-12">
			<button type="button" ui-sref="{{ vm.previousState }}" class="btn btn-info">
				<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
					data-translate="entity.action.back"> Zurück</span>
			</button>

			<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
				<span class="glyphicon glyphicon-save"></span>&nbsp;<span
					data-translate="entity.action.save">Speichern</span>
			</button>

			<button ng-if="!vm.createMode" type="submit" ui-sref="clothing-type.delete({id: vm.clothingType.id})" class="btn btn-danger pull-right">
				<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span data-translate="entity.action.delete">Löschen</span>
			</button>
		</div>
	</form>
</div>
