<div class="row">
	<div class="col-sm-12">
		<h2 data-translate="walterApp.bankImportData.home.title">Import</h2>
		<br />
		<jhi-alert-error></jhi-alert-error>
	</div>
</div>
<div class="alert alert-warning" role="alert" data-translate="walterApp.bankImportData.home.hasAutoTransfer" ng-show="vm.hasAutoTransfer()">
</div>
<div class="row">
	<div class="col-md-12">
		<form name="editForm" class="form-horizontal" role="form" novalidate
			ng-submit="vm.doImport()" show-validation>
			<div class="form-group">
				<div class="col-md-12">
					<label class="col-md-2 control-label"
						data-translate="walterApp.bankImportData.cashbookAccount"
						for="field_cashbookAccount">Kassabuch-Konto</label>
					<div class="col-md-3">
                        <select class="form-control" id="field_cashbookAccount" name="cashbookAccount" ng-model="vm.cashbookAccount" ng-options="cashbookAccount as cashbookAccount.name for cashbookAccount in vm.cashbookAccounts track by cashbookAccount.id"/>
						<div ng-show="editForm.type.$invalid">
							<p class="help-block" ng-show="editForm.type.$error.required"
								data-translate="entity.validation.required">Dieses Feld wird
								benötigt.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<label class="col-md-2 control-label"
						data-translate="walterApp.bankImportData.importType"
						for="field_importType">Import-Typ</label>
					<div class="col-md-3">
						<select class="form-control" name="importType"
							ng-model="vm.importType" id="field_importType" required>
							<option ng-if="vm.isTypeAllowedForCurrentInstitute('CSV')" value="CSV">CSV</option>
							<option ng-if="vm.isTypeAllowedForCurrentInstitute('API')" value="API">API</option>
						</select>
						<div ng-show="editForm.type.$invalid">
							<p class="help-block" ng-show="editForm.type.$error.required"
								data-translate="entity.validation.required">Dieses Feld wird
								benötigt.</p>
						</div>
					</div>
				</div>
			</div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-md-2 control-label" data-translate="walterApp.bankImportData.cashbookCategory" for="field_cashbookCategory">Kassabuch-Kategorie</label>
                    <div class="col-md-4">
                        <select class="form-control" id="field_cashbookCategory" name="cashbookCategory" ng-model="vm.cashbookCategoryId" ng-options="cashbookCategory.id as cashbookCategory.name for cashbookCategory in vm.cashbookcategories">
                        <option value=""></option>
                        </select>
                        <div>
                            <p class="help-block"
                               data-translate="walterApp.bankImportData.help.cashbookCategory">Hilfe</p>
                        </div>
                    </div>
                </div>
            </div>
			<div class="form-group" ng-show="vm.importType == 'CSV'">
				<div class="col-md-12">
					<label class="col-md-2 control-label"
						data-translate="walterApp.bankImportData.csv.file"
						for="field_file">Datei</label>
					<div class="col-md-6">
						<input type="file" ngf-select class="form-control" name="file"
							id="field_file" ng-model="vm.file"
							ng-required="vm.importType == 'CSV'" accept=".csv"
							ngf-max-size="10MB" ngf-model-invalid="errorFile" />
						<div ng-show="editForm.file.$invalid">
							<p class="help-block" ng-show="editForm.file.$error.required"
								data-translate="entity.validation.required">Dieses Feld wird
								benötigt.</p>
							<p class="help-block" ng-show="editForm.file.$error.maxSize"
								data-translate="entity.validation.maxSize"
								data-translate-values="{ actual: errorFile.size, target: 10 }">Diese
								Datei ist zu groß: {{ actual / 1000000 | number: 1 }} MB:
								maximal {{ target }} MB erlaubt.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-show="vm.importType == 'API'">
				<div class="col-md-12">
					<label class="col-md-2 control-label"
						data-translate="walterApp.bankImportData.api.username"
						for="field_username">Verfüger</label>
					<div class="col-md-3">
						<input class="form-control" name="username" ng-model="vm.username"
							id="field_username" ng-required="vm.importType == 'API'" />
						<div ng-show="editForm.type.$invalid">
							<p class="help-block" ng-show="editForm.type.$error.required"
								data-translate="entity.validation.required">Dieses Feld wird
								benötigt.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-show="vm.importType == 'API'">
				<div class="col-md-12">
					<label class="col-md-2 control-label"
						data-translate="walterApp.bankImportData.api.password"
						for="field_password">Passwort</label>
					<div class="col-md-3">
						<input type="password" class="form-control" name="password"
							ng-model="vm.password" id="field_password"
							ng-required="vm.importType == 'API'" />
						<div ng-show="editForm.type.$invalid">
							<p class="help-block" ng-show="editForm.type.$error.required"
								data-translate="entity.validation.required">Dieses Feld wird
								benötigt.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-show="vm.importType == 'API'">
				<div class="col-md-12">
					<label class="col-md-2 control-label"
						data-translate="walterApp.bankImportData.api.dateFrom"
						for="field_from">von</label>
					<div class="col-md-3">
						<div class="input-group">
							<input id="field_from" type="text" placeholder="dd.MM.yyyy"
								class="form-control" name="from"
								uib-datepicker-popup="{{'dd.MM.yyyy'}}" ng-model="vm.from"
								is-open="vm.datePickerOpenStatus.from"
								ng-required="vm.importType == 'API'"
								current-text="{{ 'calendar.current' | translate }}"
								clear-text="{{ 'calendar.clear' | translate }}"
								close-text="{{ 'calendar.close' | translate }}"
								/> <span
								class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-click="vm.openCalendar('from')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
						<div ng-show="editForm.type.$invalid">
							<p class="help-block" ng-show="editForm.type.$error.required"
								data-translate="entity.validation.required">Dieses Feld wird
								benötigt.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-show="vm.importType == 'API'">
				<div class="col-md-12">
					<label class="col-md-2 control-label"
						data-translate="walterApp.bankImportData.api.dateTo"
						for="field_to">bis</label>
					<div class="col-md-3">
						<div class="input-group">
							<input id="field_to" type="text" placeholder="dd.MM.yyyy"
								class="form-control" name="to"
								uib-datepicker-popup="{{'dd.MM.yyyy'}}" ng-model="vm.to"
								is-open="vm.datePickerOpenStatus.to"
								current-text="{{ 'calendar.current' | translate }}"
								clear-text="{{ 'calendar.clear' | translate }}"
								close-text="{{ 'calendar.close' | translate }}"
								ng-required="vm.importType == 'API'" /> <span
								class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-click="vm.openCalendar('to')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
						<div ng-show="editForm.type.$invalid">
							<p class="help-block" ng-show="editForm.type.$error.required"
								data-translate="entity.validation.required">Dieses Feld wird
								benötigt.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10">
					</button>
					<button type="submit"
						ng-disabled="editForm.$invalid || vm.isSaving"
                        uiacc = "cashbook-entry.import.new"
						class="btn btn-success">
						<span class="glyphicon glyphicon-upload"></span> <span
							data-translate="walterApp.bankImportData.upload">Importieren</span>
					</button>
				</div>
			</div>
			<div class="table-responsive">
				<table class="jh-table table table-striped">
					<thead>
						<tr>
							<th width="50"></th>
							<th width="100"><span
								data-translate="walterApp.bankImportData.entryDate">Datum</span></th>
                            <th width="100">
                                <span data-translate="walterApp.bankImportData.isTransfer">autom. Übertrag</span>
                            </th>
							<th width="100"><span
								data-translate="walterApp.bankImportData.partnerName">Name
									Partner</span></th>
							<th width="120"><span
								data-translate="walterApp.bankImportData.entryValue">Betrag</span></th>
                            <th width="200"><span
                                data-translate="walterApp.bankImportData.cashbookCategory">Kassabuch-Kategorie</span></th>
							<th><span
								data-translate="walterApp.bankImportData.entryText">Text</span></th>
                            <th></th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="bankImportData in vm.bankImportData track by bankImportData.id">
							<td><input type="checkbox"
								ng-click="vm.addRemoveSelectedData(bankImportData)" />
                            <td>{{ bankImportData.entryDate | date: 'mediumDate' }}</td>
                            <td class="text-center"><input type="checkbox" disabled ng-checked="bankImportData.transfer"/></td>
							<td>{{ bankImportData .partnerName }}</td>
							<td class="text-right">&euro; {{
								bankImportData.entryValue.toFixed(2) }}</td>
                            <td>{{ bankImportData.cashbookCategoryName }}</td>
							<td>{{ bankImportData.entryText }}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            uiacc="cashbook-entry.import.edit"
                                            ui-sref="bank-import-data.edit({id:bankImportData.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
					</tbody>
				</table>
			</div>
			<div class="form-group">
				<div class="col-md-10">
					<button type="button" uiacc="cashbook-entry.import.new" ui-sref="bank-import-data.confirm-import({selectedBankImportData: vm.selectedBankImportData, cashbookAccountId: vm.getCashbookAccountIdForSelectedData()})"
						ng-show="vm.bankImportData.length != 0"
						ng-disabled="vm.isSaving || vm.selectedBankImportData.length == 0"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span> <span
							data-translate="walterApp.bankImportData.import">Daten
							übernehmen</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
