<concedit></concedit>
<div class="row">
    <div class="col-md-12">
        <h2>
			<span data-translate="walterApp.bankImportData.edit.title">Bearbeiten</span>
        </h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>
    </div>
</div>
<div class="alert alert-warning" role="alert" data-translate="walterApp.bankImportData.edit.isAutoTransfer" ng-show="vm.bankImportData.transfer">
</div>
<div class="row">
    <form class="form-horizontal" name="editForm" role="form" novalidate
          ng-submit="vm.save()" show-validation>
        <div class="form-group">
            <div class="col-md-12">
            <label class="col-md-2 control-label"
                   data-translate="walterApp.bankImportData.entryDate" for="field_entryDate">Datum</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="entryDate" id="field_entryDate"
                      ng-model="vm.entryDate" disabled/>
            </div>
            </div>
        </div>
        <div class="form-group" ng-hide="vm.bankImportData.transfer" >
            <div class="col-md-12">
            <label class="col-md-2 control-label"
                   data-translate="walterApp.bankImportData.partnerName" for="field_partnerName">Name Partner</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="partnerName" id="field_partnerName"
                       ng-model="vm.bankImportData.partnerName"/>
            </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-md-2 control-label"
                       data-translate="walterApp.bankImportData.entryValue" for="field_entryValue">Betrag</label>
                <div class="col-md-4">
                    <div class="input-group">
                    <span class="input-group-addon">&euro;</span>
                    <input type="number" class="form-control" name="partnerName" id="field_entryValue"
                           ng-model="vm.bankImportData.entryValue" disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="vm.bankImportData.transfer">
            <div class="col-md-12">
                <label class="col-md-2 control-label" data-translate="walterApp.bankImportData.cashbookAccountFrom" for="field_cashbookAccountFrom">Konto von</label>
                <div class="col-md-4">
                    <select disabled class="form-control" id="field_cashbookAccountFrom" name="cashbookAccountFrom" ng-model="vm.bankImportData.cashbookAccountFromId" ng-options="cashbookAccount.id as cashbookAccount.name for cashbookAccount in vm.cashbookAccounts">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="vm.bankImportData.transfer">
            <div class="col-md-12">
                <label class="col-md-2 control-label" data-translate="walterApp.bankImportData.cashbookAccountTo" for="field_cashbookAccountTo">Konto nach</label>
                <div class="col-md-4">
                    <select disabled class="form-control" id="field_cashbookAccountTo" name="cashbookAccountTo" ng-model="vm.bankImportData.cashbookAccountToId" ng-options="cashbookAccount.id as cashbookAccount.name for cashbookAccount in vm.cashbookAccounts">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-md-2 control-label" data-translate="walterApp.bankImportData.cashbookCategory" for="field_cashbookCategory">Kassabuch-Kategorie</label>
                <div class="col-md-4">
                    <select ng-disabled="vm.bankImportData.transfer" class="form-control" id="field_cashbookCategory" name="cashbookCategory" ng-model="vm.bankImportData.cashbookCategoryId" ng-options="cashbookCategory.id as cashbookCategory.name for cashbookCategory in vm.cashbookCategories">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group" ng-hide="vm.bankImportData.transfer">
            <div class="col-md-12">
                <label class="col-md-2 control-label"
                       data-translate="walterApp.bankImportData.entryText" for="field_entryText">Text</label>
                <div class="col-md-4">
                    <textarea cols="10" rows="5" class="form-control" name="entryText" id="field_entryText"
                           ng-model="vm.bankImportData.entryText"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            <button type="submit"
                    uiacc="cashbook-entry.import" ui-sref="bank-import-data"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                data-translate="entity.action.back"> Zurück</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving || vm.bankImportData.transfer"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                data-translate="entity.action.save"></span>
            </button>
        </div>
        </div>
    </form>
</div>
