<form name="deleteForm" ng-submit="vm.confirm()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="walterApp.bankImportData.dialog.header">Import der ausgewählten Daten</h4>
    </div>
    
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p data-translate="walterApp.bankImportData.dialog.question"></p>
        <div class="form-check" ng-init="null">
            <input ng-model="vm.createReceipts" class="form-check-input" type="radio" name="createReceipts" id="createReceiptsYes" ng-value="true">
            <label class="form-check-label" for="createReceiptsYes">
                Ja
            </label>
        </div>
        <div class="form-check" ng-init="null">
            <input ng-model="vm.createReceipts" class="form-check-input" type="radio" name="createReceipts" id="createReceiptsNo" ng-value="false">
            <label class="form-check-label" for="createReceiptsNo">
                Nein
            </label>
        </div>
        <br/>
        <p class="text-warning" data-translate="walterApp.bankImportData.dialog.warning"></p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>
            <span data-translate="entity.action.cancel">Abbrechen</span>
        </button>

        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-warning">
            <span data-translate="walterApp.bankImportData.dialog.confirm">Fortfahren</span>
        </button>
    </div>
</form>
