<concedit></concedit>
<form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()" show-validation>

    <div>
        <h3><span ng-if="vm.createMode"
                  data-translate="walterApp.personAward.edit.addAward"
                  translate-values="{firstName: '{{vm.person.firstName}}', lastName: '{{vm.person.lastName}}'}">Award für Person hinzufügen</span>
            <span ng-if="!vm.createMode"
                  data-translate="walterApp.personAward.edit.editAward"
                  translate-values="{firstName: '{{vm.person.firstName}}', lastName: '{{vm.person.lastName}}'}">Award für Person bearbeiten</span>
        </h3>
        <hr>
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.personAward.date"
                           for="field_date">Datum
                        </label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input id="field_date" type="text" class="form-control" name="date"
                                   uib-datepicker-popup="shortDate"
                                   current-text="{{ 'calendar.current' | translate }}"
						    	   clear-text="{{ 'calendar.clear' | translate }}"
						           close-text="{{ 'calendar.close' | translate }}"
                                   ng-model="vm.personAward.date"
                                   is-open="vm.datePickerOpenStatus.date"
                            required />
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </div>
                        <div ng-show="editForm.date.$invalid">
                            <p class="help-block"
                               ng-show="editForm.date.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4" data-translate="walterApp.personAward.award"
                           for="field_award">Award</label>
                    <div class="col-md-8">
                        <select class="form-control" id="field_award" name="award"
                                ng-model="vm.personAward.awardId"
                                ng-options="award.id as award.name for award in vm.awards" required>
                            <option value=""></option>
                        </select>
                        <div ng-show="editForm.award.$invalid">
                            <p class="help-block"
                               ng-show="editForm.award.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>


    <button type="button"
            ng-click="vm.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
        data-translate="entity.action.back"> Zurück</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Speichern</span>
    </button>
    <button ng-if="!vm.createMode" type="submit"
            ui-sref="person-award.delete"
            class="btn btn-danger pull-right">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
    </button>
    </div>
</form>
