<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-4 no-padding-left">
            <button  uiacc class="btn btn-md btn-success" ui-sref="person-award.new({personid:vm.person.id})">
                <span class="glyphicon glyphicon-plus"></span> <span
                data-translate="walterApp.personAward.home.addAward">
						Award hinzufügen</span>
            </button>
            </div>

        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vmAward.predicate" ascending="vmAward.reverse" callback="vmAward.transition()">
                    <th jh-sort-by="date"><span data-translate="walterApp.personAward.date">Begin Date</span> </th>
                    <th jh-sort-by="awardId"><span data-translate="walterApp.personAward.award">Award</span> </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="personAward in vmAward.personAwards track by personAward.id">

                        <td>{{personAward.date | date:'mediumDate'}}</td>
                    <td>
                        <span>{{personAward.awardName}}</span>
                    </td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" uiacc
                                    ui-sref="person-award.edit({id:personAward.id, personid:vm.person.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vmAward.page" total="vmAward.queryCount" items-per-page="vmAward.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vmAward.totalItems" ng-model="vmAward.page" ng-change="vmAward.transition()"></uib-pager>
</div>
