<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-4 no-padding-left">
            <button  uiacc  class="btn btn-md btn-success" ui-sref="person-honor.new({personid:vm.person.id})">
                <span class="glyphicon glyphicon-plus"></span> <span
                data-translate="walterApp.personHonor.home.addHonor">
						Honor hinzufügen</span>
            </button>
            </div>

        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vmHonor.predicate" ascending="vmHonor.reverse" callback="vmHonor.transition()">
                    <th jh-sort-by="date"><span data-translate="walterApp.personHonor.date">Begin Date</span> </span></th>
                    <th jh-sort-by="honorId"><span data-translate="walterApp.personHonor.honor">Honor</span></span></th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="personHonor in vmHonor.personHonors track by personHonor.id">

                        <td>{{personHonor.date | date:'mediumDate'}}</td>
                    <td>
                        <span>{{personHonor.honorName}}</span>
                    </td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" uiacc
                                    ui-sref="person-honor.edit({id:personHonor.id, personid:vm.person.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vmHonor.page" total="vmHonor.queryCount" items-per-page="vmHonor.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vmHonor.totalItems" ng-model="vmHonor.page" ng-change="vmHonor.transition()"></uib-pager>
</div>
