<concedit></concedit>
<div class="row">
    <div class="col-md-12">
        <h2>
			<span data-translate="walterApp.cashbookAccountTransfer.title">Konto-Übertrag</span>
        </h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>
    </div>
</div>
<div class="row">
    <form class="form-horizontal" name="editForm" role="form" novalidate
          ng-submit="vm.save()" show-validation>
        <div class="form-group">
            <label class="col-md-2 control-label" data-translate="walterApp.cashbookAccountTransfer.accountFrom" for="field_accountFrom">von</label>
            <div class="col-md-4">
                <select class="form-control" name="accountFrom"  ng-model="vm.cashbookAccountFromId"
                        ng-options="cashbookAccount.id as cashbookAccount.name for cashbookAccount in vm.cashbookAccounts"
                        id="field_accountFrom" required>
                    <option value="" ></option>
                </select>
                <div ng-show="editForm.accountFrom.$invalid">
                    <p class="help-block" ng-show="editForm.accountFrom.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" data-translate="walterApp.cashbookAccountTransfer.accountTo" for="field_accountTo">nach</label>
            <div class="col-md-4">
                <select class="form-control" name="accountTo"  ng-model="vm.cashbookAccountToId"
                        ng-options="cashbookAccount.id as cashbookAccount.name for cashbookAccount in vm.cashbookAccounts"
                        id="field_accountTo" required>
                    <option value="" ></option>
                </select>
                <div ng-show="editForm.accountTo.$invalid">
                    <p class="help-block" ng-show="editForm.accountTo.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" data-translate="walterApp.cashbookAccountTransfer.amount" for="field_amount">Betrag</label>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">&euro;</span>
                    <input type="number" class="form-control" name="amount" id="field_amount" ng-disabled="vm.isCreatedByForeignRelation()" ng-model="vm.amount" min="0" step="0.01" required />
                </div>
                <div ng-show="editForm.amount.$invalid">
                    <p class="help-block" ng-show="editForm.amount.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    <p class="help-block" ng-show="editForm.amount.$error.number" data-translate="entity.validation.number">Dieses Feld muss eine Zahl sein.</p>
                    <p class="help-block" ng-show="editForm.amount.$error.min" data-translate="entity.validation.min" translate-value-min="0">Dieses Feld muss größer als {{ min }} sein.</p>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>
                    <span data-translate="entity.action.save">Speichern</span>
                </button>
            </div>
        </div>
    </form>
</div>
