<form name="deleteForm" ng-submit="vm.confirmDelete(vm.cashbookEntry.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="entity.delete.title">Löschen bestätigen</h4>
    </div>
    
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p data-translate="walterApp.cashbookEntry.delete.question" translate-values="{id: '{{ vm.cashbookEntry.id }}'}">Soll der Kassabuch-Eintrag {{ id }} wirklich dauerhaft gelöscht werden?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>
            <span data-translate="entity.action.cancel">Abbrechen</span>
        </button>

        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>
            <span data-translate="entity.action.delete">Löschen</span>
        </button>
    </div>
</form>
