<div>
    <h2 data-translate="walterApp.cashbookEntryMain.home.title">Kassabuch / Übersicht</h2>
    <h3 data-translate="walterApp.cashbookEntryMain.home.cashbookAccount" translate-values="{cashbookAccountName: '{{ vm.cashbookAccountName }}'}">Konto:</h3>
    <jhi-alert></jhi-alert>
    <br/>
    <form name="editForm" class="form-horizontal">
        <div class="col-md-12">
            <div class="form-group col-md-6 pull-left">
                <label class="control-label col-md-4 pull-left" style="text-align: left"
                       data-translate="walterApp.cashbookEntryMain.home.changeCashbookAccount"
                       for="field_cashbookAccount">Kassabuch-Konto</label>
                <div class="col-md-6 pull-left" style="margin-left: -40px;">
                    <select ng-model="vm.cashbookAccountId" required class="form-control" id="field_cashbookAccount" name="cashbookAccount" ng-change="vm.transition()">
                        <option ng-repeat="cashbookAccount in vm.cashbookAccounts" value="{{ cashbookAccount.id }}">{{ cashbookAccount.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6 pull-right">
                <div class="col-md-3 pull-right">
                    <select ng-model="vm.year" required class="form-control" id="field_year" name="year" ng-change="vm.transition()">
                        <option ng-repeat="year in vm.years" value="{{ year }}">{{ year }}</option>
                    </select>
                </div>
                <label class="control-label col-md-3 pull-right"
                       data-translate="walterApp.cashbookEntryMain.home.financialYear"
                       for="field_year">Geschäftsjahr</label>
            </div>

        </div>
        <div class="col-md-12">
            <div class="form-group col-md-6 pull-left" style="margin-left: -60px;">
            </div>
            <div class="form-group col-md-6 pull-right">
                <div class="col-md-4 pull-right">
                    <span style="padding: 8px;" ng-class="vm.summe >= 0 ? 'alert alert-success pull-right' : 'alert alert-danger pull-right'">&euro; {{ vm.summe.toFixed(2) }}</span>
                </div>
                <label class="control-label col-md-5 pull-right col-md-push-1"
                       data-translate="walterApp.cashbookEntryMain.home.currentCashbookAmount">aktueller Kassastand</label>
            </div>
        </div>
    </form>
    <ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
        <li ng-class="vm.month == 0 ? 'active' : ''" ng-click="vm.changeMonth(0);"><a data-toggle="tab" data-translate="walterApp.cashbookEntryMain.navigation.jan">Jänner</a></li>
        <li ng-class="vm.month == 1 ? 'active' : ''" ng-click="vm.changeMonth(1);"><a data-toggle="tab" data-translate="walterApp.cashbookEntryMain.navigation.feb">Februar</a></li>
        <li ng-class="vm.month == 2 ? 'active' : ''" ng-click="vm.changeMonth(2);"><a data-toggle="tab" data-translate="walterApp.cashbookEntryMain.navigation.mar">März</a></li>
        <li ng-class="vm.month == 3 ? 'active' : ''" ng-click="vm.changeMonth(3);"><a data-toggle="tab" data-translate="walterApp.cashbookEntryMain.navigation.apr">April</a></li>
        <li ng-class="vm.month == 4 ? 'active' : ''" ng-click="vm.changeMonth(4);"><a data-toggle="tab" data-translate="walterApp.cashbookEntryMain.navigation.may">Mai</a></li>
        <li ng-class="vm.month == 5 ? 'active' : ''" ng-click="vm.changeMonth(5);"><a data-toggle="tab" data-translate="walterApp.cashbookEntryMain.navigation.jun">Juni</a></li>
        <li ng-class="vm.month == 6 ? 'active' : ''" ng-click="vm.changeMonth(6);"><a data-toggle="tab" data-translate="walterApp.cashbookEntryMain.navigation.jul">Juli</a></li>
        <li ng-class="vm.month == 7 ? 'active' : ''" ng-click="vm.changeMonth(7);"><a data-toggle="tab" data-translate="walterApp.cashbookEntryMain.navigation.aug">August</a></li>
        <li ng-class="vm.month == 8 ? 'active' : ''" ng-click="vm.changeMonth(8);"><a data-toggle="tab" data-translate="walterApp.cashbookEntryMain.navigation.sep">September</a></li>
        <li ng-class="vm.month == 9 ? 'active' : ''" ng-click="vm.changeMonth(9);"><a data-toggle="tab" data-translate="walterApp.cashbookEntryMain.navigation.oct">Oktober</a></li>
        <li ng-class="vm.month == 10 ? 'active' : ''" ng-click="vm.changeMonth(10);"><a data-toggle="tab" data-translate="walterApp.cashbookEntryMain.navigation.nov">November</a></li>
        <li ng-class="vm.month == 11 ? 'active' : ''" ng-click="vm.changeMonth(11);"><a data-toggle="tab" data-translate="walterApp.cashbookEntryMain.navigation.dec">Dezember</a></li>
    </ul>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th colspan="2">
                <button type="button" class="btn btn-success btn-sm" uiacc="cashbook-entry.new" ui-sref="cashbook-entry-main.newIncome">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-sm hidden-md" data-translate="walterApp.cashbookEntryMain.table.newIncome"></span>
                </button>
                <button type="button" class="btn btn-danger btn-sm" uiacc="cashbook-entry.new" ui-sref="cashbook-entry-main.newSpending">
                    <span class="glyphicon glyphicon-minus"></span>
                    <span class="hidden-sm hidden-md" data-translate="walterApp.cashbookEntryMain.table.newSpending"></span>
                </button>
                </th>
                <th></th>
                <th style="text-align: right;" data-translate="walterApp.cashbookEntryMain.table.sum"></th>
                <th width="100px" style="text-align: right;">&euro; {{vm.summeEinnahmen.toFixed(2)}}</th>
                <th width="100px" style="text-align: right;">&euro; {{vm.summeAusgaben.toFixed(2)}}</th>
                <th width="100px" style="text-align: right;">&euro; {{ vm.summe.toFixed(2) }}</th>
                <th colspan="2"><button class="btn btn-info btn-sm pull-right" ng-click="vm.exportExcel();">
                    <span class="glyphicon glyphicon-export"></span>
                    <span class="hidden-sm hidden-md" data-translate="walterApp.cashbookEntryMain.table.export"></span>
                </button></th>
            </tr>
            <tr>
                <th data-translate="walterApp.cashbookEntryMain.table.date"></th>
                <th data-translate="walterApp.cashbookEntryMain.table.title"></th>
                <th data-translate="walterApp.cashbookEntryMain.table.category"></th>
                <th data-translate="walterApp.cashbookEntryMain.table.receipt"></th>
                <th style="text-align: right;" data-translate="walterApp.cashbookEntryMain.table.income"></th>
                <th style="text-align: right;" data-translate="walterApp.cashbookEntryMain.table.spending"></th>
                <th style="text-align: right;" data-translate="walterApp.cashbookEntryMain.table.holdings"></th>
                <th width="210px;"></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="cashbookEntry in vm.cashbookEntries track by cashbookEntry.id">
                <td ng-class="cashbookEntry.id == -1 ? 'bg-warning' : ''">{{cashbookEntry.date | date : 'mediumDate'}}</td>
                <td ng-class="cashbookEntry.id == -1 ? 'bg-warning' : ''">{{cashbookEntry.title}}</td>
                <td ng-class="cashbookEntry.id == -1 ? 'bg-warning' : ''">
                    <i style="display: inline-block; width: .8em; height: .8em; border-radius: 50%; background-color: {{ cashbookEntry.cashbookCategoryColor }};"></i>
                    {{cashbookEntry.cashbookCategoryName}}</td>
                <td ng-class="cashbookEntry.id == -1 ? 'bg-warning' : ''"><a ng-if="cashbookEntry.receiptFile != ''" ng-click="vm.downloadReceipt(cashbookEntry.receiptFile);">{{cashbookEntry.receiptIdentifier}}</a></td>
                <td ng-class="cashbookEntry.id == -1 ? 'bg-warning' : ''" align="right"><span ng-if="cashbookEntry.type == 'INCOME'">&euro; {{cashbookEntry.amount.toFixed(2)}}</span></td>
                <td ng-class="cashbookEntry.id == -1 ? 'bg-warning' : ''" align="right"><span ng-if="cashbookEntry.type == 'SPENDING'">&euro; {{cashbookEntry.amount.toFixed(2)}}</span></td>
                <td ng-class="cashbookEntry.id == -1 ? 'bg-warning' : ''" align="right">&euro; {{cashbookEntry.holding.toFixed(2)}}</td>
                <td ng-class="cashbookEntry.id == -1 ? 'text-right bg-warning' : 'text-right'">
                    <div class="btn-group flex-btn-group-container" ng-if="cashbookEntry.id != -1">
                        <button type="submit" ui-sref="cashbook-entry-main-detail({ id: cashbookEntry.id})" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit" uiacc ui-sref="cashbook-entry-main-edit({ id: cashbookEntry.id })" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
