<concedit></concedit>
<div class="row">
	<div class="col-sm-12">
		<h2 ng-show="vm.cashbookEntry.id" data-translate="walterApp.cashbookEntry.home.editLabel">Kassabuch-Eintrag bearbeiten</h2>
		<h2 ng-hide="vm.cashbookEntry.id" data-translate="walterApp.cashbookEntry.home.createLabel">Kassabuch-Eintrag erstellen</h2>
		<br />
		<jhi-alert-error></jhi-alert-error>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>
			<div class="form-group" ng-show="vm.cashbookEntry.id">
				<label class="col-md-2 control-label" for="id" data-translate="global.field.id">ID</label>
				<div class="col-md-4">
					<input type="text" class="form-control" id="id" name="id" ng-model="vm.cashbookEntry.id" readonly />
				</div>
			</div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="cashbookAccount" data-translate="walterApp.cashbookEntry.cashbookAccount">Konto</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="cashbookAccount" name="cashbookAccount" ng-model="vm.cashbookAccountName" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.cashbookEntry.type" for="field_type">Typ</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="type" name="type" ng-model="vm.type" readonly />
                </div>
            </div>
			<div class="form-group">
				<label class="col-md-2 control-label" data-translate="walterApp.cashbookEntry.title" for="field_title">Titel</label>
				<div class="col-md-4">
					<input type="text" class="form-control" name="title" id="field_title" ng-disabled="vm.isCreatedByForeignRelation()" ng-model="vm.cashbookEntry.title" required />
					<div ng-show="editForm.title.$invalid">
						<p class="help-block" ng-show="editForm.title.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" data-translate="walterApp.cashbookEntry.date" for="field_date">Datum</label>
				<div class="col-md-4">
					<div class="input-group">
						<input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="dd.MM.yyyy"
						current-text="{{ 'calendar.current' | translate }}"
						    clear-text="{{ 'calendar.clear' | translate }}"
						    close-text="{{ 'calendar.close' | translate }}"
						ng-disabled="vm.isCreatedByForeignRelation()" ng-model="vm.cashbookEntry.date" is-open="vm.datePickerOpenStatus.date" datepicker-options="vm.datepickerOptions" required />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-disabled="vm.isCreatedByForeignRelation()" ng-click="vm.openCalendar('date')">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
					<div ng-show="editForm.date.$invalid">
						<p class="help-block" ng-show="editForm.date.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label" data-translate="walterApp.cashbookEntry.amount" for="field_amount">Betrag</label>
				<div class="col-md-4">
					<div class="input-group">
						<span class="input-group-addon">&euro;</span>
						<input type="number" class="form-control" name="amount" id="field_amount" ng-disabled="vm.isCreatedByForeignRelation()" ng-model="vm.cashbookEntry.amount" min="0" step="0.01" required />
					</div>
					<div ng-show="editForm.amount.$invalid">
						<p class="help-block" ng-show="editForm.amount.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
						<p class="help-block" ng-show="editForm.amount.$error.number" data-translate="entity.validation.number">Dieses Feld muss eine Zahl sein.</p>
						<p class="help-block" ng-show="editForm.amount.$error.min" data-translate="entity.validation.min" translate-value-min="0">Dieses Feld muss größer als {{ min }} sein.</p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" data-translate="walterApp.cashbookEntry.cashbookCategory" for="field_cashbookCategory">Kategorie</label>
				<div class="col-md-4">
					<select class="form-control" id="field_cashbookCategory" name="cashbookCategory" ng-model="vm.cashbookEntry.cashbookCategoryId" ng-options="cashbookCategory.id as cashbookCategory.name for cashbookCategory in vm.cashbookcategories">
						<option value=""></option>
					</select>
				</div>
			</div>
            <div class="form-group" ng-hide="vm.isCreatedByForeignRelation()">
                <label class="col-md-2 control-label" data-translate="walterApp.cashbookEntry.appointment">Termin</label>
                <div class="col-md-4">
                    <!-- <select class="form-control" id="field_appointment" name="appointment" ng-model="vm.cashbookEntry.appointmentId" ng-options="appointment.id as vm.formatAppointmentLabel(appointment) for appointment in vm.appointments">
                        <option value=""></option>
                    </select> -->
                    <input type="hidden" name="appointment" ng-model="vm.cashbookEntry.appointmentId" value="" />
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{ vm.appointment.beginDate | date: 'mediumDate' }} {{ vm.appointment.name }}" readonly disabled />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.clearAppointmentSelection()" ng-show="vm.appointment">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="vm.openChooseAppointmentDialog()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button type="button" ng-click="vm.goBack()" class="btn btn-info">
						<span class="glyphicon glyphicon-arrow-left"></span>
						<span data-translate="entity.action.back">Zurück</span>
					</button>

					<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>
						<span data-translate="entity.action.save">Speichern</span>
					</button>

					<button ng-show="vm.cashbookEntry.id" type="button" ui-sref="cashbook-entry-main-edit.delete({ id: vm.cashbookEntry.id })" class="btn btn-danger pull-right">
						<span class="glyphicon glyphicon-remove-circle"></span>
						<span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
