<concedit></concedit>
<div class="row">
	<div class="col-md-12">
		<h2>
			<span data-translate="walterApp.cashbookEntry.detail.title">Kassabuch-Eintrag</span>
		</h2>
		<br />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<jhi-alert-error></jhi-alert-error>
		<dl class="dl-horizontal jh-entity-details">
            <dt>
                <span data-translate="walterApp.cashbookEntry.cashbookAccount">Konto</span>
            </dt>
            <dd>
                <span>{{ vm.cashbookEntry.cashbookAccountName }}</span>
            </dd>
            <dt>
                <span data-translate="walterApp.cashbookEntry.type">Typ</span>
            </dt>
            <dd>
                <span data-translate="{{ 'walterApp.CashbookEntryType.' + vm.cashbookEntry.type }}">{{ vm.cashbookEntry.type }}</span>
            </dd>
			<dt>
				<span data-translate="walterApp.cashbookEntry.title">Titel</span>
			</dt>
			<dd>
				<span>{{ vm.cashbookEntry.title }}</span>
			</dd>
			<dt>
				<span data-translate="walterApp.cashbookEntry.date">Date</span>
			</dt>
			<dd>
				<span>{{ vm.cashbookEntry.date | date: 'mediumDate' }}</span>
			</dd>
			<dt>
				<span data-translate="walterApp.cashbookEntry.amount">Betrag</span>
			</dt>
			<dd>
				<span>&euro; {{ vm.cashbookEntry.amount.toFixed(2) }}</span>
			</dd>
            <dt ng-show="{{ vm.cashbookEntry.cashbookCategoryId }}">
                <span data-translate="walterApp.cashbookEntry.cashbookCategory">Kategorie</span>
            </dt>
            <dd ng-show="{{ vm.cashbookEntry.cashbookCategoryId }}">
                <i style="display: inline-block; width: .8em; height: .8em; border-radius: 50%; background-color: {{ vm.cashbookEntry.cashbookCategoryColor }};"></i>
                <a ui-sref="cashbook-category.edit({id:vm.cashbookEntry.cashbookCategoryId})">{{ vm.cashbookEntry.cashbookCategoryName }}</a>
            </dd>
			<dt ng-show="{{ vm.cashbookEntry.appointmentId }}">
				<span data-translate="walterApp.cashbookEntry.appointment">Termin</span>
			</dt>
			<dd ng-show="{{ vm.cashbookEntry.appointmentId }}">
				<a ui-sref="appointment-detail({ id: vm.cashbookEntry.appointmentId })">{{ vm.cashbookEntry.appointmentBeginDate | date: 'dd.MM.yyyy' }}: {{ vm.cashbookEntry.appointmentName }}</a>
			</dd>
			<dt ng-show="{{ vm.cashbookEntry.compositions.length > 0 }}">
				<span data-translate="walterApp.cashbookEntry.compostion">Eintrag im Notenarchiv</span>
			</dt>
			<dd ng-show="{{ vm.cashbookEntry.compositions.length > 0 }}">
				<p ng-repeat="composition in vm.cashbookEntry.compositions">
					<a ui-sref="composition-detail({ id: composition.id })">{{ composition.title }}</a>
				</p>
			</dd>
			<dt ng-show="{{ vm.cashbookEntry.instrumentServiceId }}">
				<span data-translate="walterApp.cashbookEntry.instrumentService">Instrument Service</span>
			</dt>
			<dd ng-show="{{ vm.cashbookEntry.instrumentServiceId }}">
				<a ui-sref="instrument-detail({ id: vm.cashbookEntry.instrumentServiceInstrumentId })">{{ vm.cashbookEntry.instrumentServiceInstrumentName }}</a>
			</dd>
			<dt ng-show="{{ vm.cashbookEntry.instrumentId }}">
				<span data-translate="walterApp.cashbookEntry.instrument">Instrument</span>
			</dt>
			<dd ng-show="{{ vm.cashbookEntry.instrumentId }}">
				<a ui-sref="instrument-detail({ id: vm.cashbookEntry.instrumentId })">{{ vm.cashbookEntry.instrumentName }}</a>
			</dd>
		</dl>
		<br />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="submit" ui-sref="cashbook-entry-main" class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span>
			<span data-translate="entity.action.back">Zurück</span>
		</button>

		<button type="button" uiacc="cashbook-entry.edit" ui-sref="cashbook-entry-main-detail.edit({ id: vm.cashbookEntry.id })" class="btn btn-primary">
			<span class="glyphicon glyphicon-pencil"></span>
			<span class="hidden-xs hidden-sm" data-translate="entity.action.edit">Bearbeiten</span>
		</button>

		<button type="submit" uiacc="cashbook-entry.delete" ui-sref="cashbook-entry-main-detail.delete({ id: vm.cashbookEntry.id })" class="btn btn-danger pull-right">
			<span class="glyphicon glyphicon-remove-circle"></span>
			<span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
		</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<uib-tabset active="active">
	<uib-tab index="0" heading="Beleg">
		<div class="row">
			<div class="col-md-12">&nbsp;</div>
		</div>
		<div class="row" ng-hide="vm.cashbookEntryReceipt">
			<div class="col-md-12">
				<button type="button" class="btn btn-primary" uiacc ui-sref="receipt.new({ cashbookEntryId: vm.cashbookEntry.id })">
					<span class="glyphicon glyphicon-plus"></span>
					<span  data-translate="walterApp.receipt.home.createLabel">Neuen Beleg hinzufügen</span>
				</button>
				<button type="button" class="btn btn-primary" uiacc="receipt.edit" ui-sref="cashbook-entry-main-detail.choose-receipt">
					<span class="glyphicon glyphicon-link"></span>
					<span  data-translate="walterApp.receipt.home.chooseLabel">Bestehenden Beleg verknüpfen</span>
				</button>
			</div>
		</div>
		<div class="row" ng-hide="vm.cashbookEntryReceipt">
			<div class="col-md-12">&nbsp;</div>
		</div>
		<div class="row" ng-hide="vm.cashbookEntryReceipt">
			<div class="col-md-12">
				<div class="alert alert-warning" role="alert" data-translate="walterApp.receipt.home.noReceiptForCashbookEntry">Es wurden noch kein Beleg zu diesem Kassabuch-Eintrag hinzugefügt.</div>
			</div>
		</div>
		<div class="row" ng-show="vm.cashbookEntryReceipt">
			<div class="col-md-12">
				<dl class="dl-horizontal jh-entity-details">
					<dt>
						<span data-translate="walterApp.receipt.title">Titel</span>
					</dt>
					<dd>
						<span>{{ vm.cashbookEntryReceipt.title }}</span>
					</dd>
					<dt ng.-show="vm.cashbookEntryReceipt.identifier">
						<span data-translate="walterApp.receipt.identifier">Kennzeichnung</span>
					</dt>
					<dd ng-show="vm.cashbookEntryReceipt.identifier">
						<span>{{ vm.cashbookEntryReceipt.identifier }}</span>
					</dd>
					<dt>
						<span data-translate="walterApp.receipt.date">Datum</span>
					</dt>
					<dd>
						<span>{{ vm.cashbookEntryReceipt.date | date: 'mediumDate' }}</span>
					</dd>
					<dt ng-show="vm.cashbookEntryReceipt.file">
						<span data-translate="walterApp.receipt.file">Datei</span>
					</dt>
					<dd ng-show="vm.cashbookEntryReceipt.file">
						<a ng-click="vm.downloadReceipt(vm.cashbookEntryReceipt)" download class="btn btn-xs btn-success">
							<span class="glyphicon glyphicon-download-alt"></span>
							<span data-translate="walterApp.receipt.detail.download">Beleg herunterladen</span>
						</a>
					</dd>
					<dt ng-show="vm.cashbookEntryReceipt.companyId">
						<span data-translate="walterApp.receipt.company">Firma</span>
					</dt>
					<dd ng-show="vm.cashbookEntryReceipt.companyId">
						<span>{{ vm.cashbookEntryReceipt.companyName }}</span>
					</dd>
					<dt ng-show="vm.cashbookEntryReceipt.note">
						<span data-translate="walterApp.receipt.note">Anmerkung</span>
					</dt>
					<dd ng-show="vm.cashbookEntryReceipt.note">
						<span>{{ vm.cashbookEntryReceipt.note }}</span>
					</dd>
				</dl>
			</div>
		</div>
		<div class="row" ng-show="vm.cashbookEntryReceipt">
			<div class="col-md-12">
			<button type="button" uiacc ui-sref="receipt.edit({ id: vm.cashbookEntryReceipt.id, cashbookEntryId: vm.cashbookEntry.id })" class="btn btn-primary">
				<span class="glyphicon glyphicon-pencil"></span>
				<span class="hidden-xs hidden-sm" data-translate="entity.action.edit">Bearbeiten</span>
			</button>

			<button ng-show="vm.cashbookEntryReceipt.entriesCount == 1" type="submit" uiacc="receipt.edit" ui-sref="cashbook-entry-main-detail.delete-receipt({ receiptId: vm.cashbookEntryReceipt.id })" class="btn btn-danger pull-right">
				<span class="glyphicon glyphicon-remove-circle"></span>
				<span class="hidden-xs hidden-sm" data-translate="walterApp.receipt.home.deleteLabel">Beleg Löschen</span>
			</button>

			<button ng-show="vm.cashbookEntryReceipt.entriesCount > 1" type="submit" uiacc="receipt.edit" ui-sref="cashbook-entry-main-detail.unlink-receipt({ receiptId: vm.cashbookEntryReceipt.id })" class="btn btn-danger pull-right">
				<span class="glyphicon glyphicon-link"></span>
				<span class="hidden-xs hidden-sm" data-translate="walterApp.receipt.home.unlinkLabel">Verknüpfung zu Beleg aufheben</span>
			</button>
		</div>
		</div>
	</uib-tab>
</uib-tabset>
