<form name="chooseForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="walterApp.cashbookEntry.chooseAppointment.title">Termin auswÃ¤hlen</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span data-translate="walterApp.appointment.beginDate">Beginn</span></th>
                    <th><span data-translate="walterApp.appointment.endDate">Ende</span></th>
                    <th><span data-translate="walterApp.appointment.name">Name</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="appointment in vm.appointments track by appointment.id">
                    <td>{{ appointment.beginDate | date: 'mediumDate' }}</td>
                    <td>{{ appointment.endDate | date: 'mediumDate' }}</td>
                    <td>{{ appointment.name }}</td>
                    <td class="text-right">
                        <button type="button" ng-click="vm.save(appointment)" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span class="hidden-xs hidden-sm" data-translate="walterApp.cashbookEntry.chooseAppointment.action">AuswÃ¤hlen</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        </div>
        <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Abbrechen</span>
        </button>
    </div>
</form>
