
<br>
<h4 data-translate="walterApp.personInfo.dataExtract"></h4>
<br>
<div  class="row">
    <div class="form-group">
        <label data-translate="walterApp.personInfo.pdf" class="col-md-4"></label>
        <div>
            <button class="btn btn-success glyphicon glyphicon-save"  ng-click="vmInfo.getPersonPdf()"></button>
        </div>
    </div>
</div>
<div  class="row">
    <div class="form-group">
        <label  data-translate="walterApp.personInfo.json" class="control-label col-md-4"></label>
        <div>
            <button class="btn btn-success glyphicon glyphicon-save"  ng-click="vmInfo.getPersonJson()"></button>
        </div>
    </div>
</div>

<div ng-if="vmInfo.deletionDate !== null" >
    <br>
    <h4 data-translate="walterApp.personInfo.deletionNote"></h4>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <span data-translate="walterApp.personInfo.deletionInfo" ></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label  data-translate="walterApp.personInfo.lostRelevanceDate" class="control-label col-md-4"></label>
            <span>{{vmInfo.deletionDate | date:'dd.MM.yyyy' }}</span>

        </div>

    </div>
</div>
