<div>
    <h2 data-translate="walterApp.colorCode.home.title">Farbcodes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" uiacc ui-sref="color-code.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.colorCode.home.createLabel">
                        Farbcode erstellen
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span data-translate="walterApp.colorCode.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="colorCode in vm.colorCodes track by colorCode.id">
                    <td>{{colorCode.name}}</td>
                    <td class="text-right">
                            <button type="submit" uiacc
                                    ui-sref="color-code.edit({id:colorCode.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"
                        items-per-page="vm.itemsPerPage"></jhi-item-count>
        <ul uib-pagination total-items="vm.totalItems" ng-model="vm.page"
            ng-change="vm.switchPage()"  max-size="5" boundary-links="true" force-ellipses="true" ></ul>
    </div>
</div>
