<div>
    <h2 data-translate="walterApp.template.home.title">Briefpapier</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button uiacc class="btn btn-primary" ui-sref="template.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.template.home.createLabel">
                        Briefpapier erstellen
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="title"><span data-translate="walterApp.template.title">Bezeichnung</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="file"><span data-translate="walterApp.template.file">Datei</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="marginLeft"><span data-translate="walterApp.template.marginLeft">Linker Rand</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="marginRight"><span data-translate="walterApp.template.marginRight">Rechter Rand</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="marginTop"><span data-translate="walterApp.template.marginTop">Oberer Rand</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="marginBottom"><span data-translate="walterApp.template.marginBottom">Unterer Rand</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="template in vm.templates track by template.id">
                    <td>{{template.title}}</td>
                    <td>
                    	<i ng-show="template.file" class="glyphicon glyphicon-check">
                    		<a ng-click="vm.downloadTemplate(template)" download class="glyphicon glyphicon-download-alt"></a></i>
						<i ng-hide="template.file" class="glyphicon glyphicon-unchecked"></i>
					</td>
                    <td>{{template.marginLeft.toFixed(2)}} cm</td>
                    <td>{{template.marginRight.toFixed(2)}} cm</td>
                    <td>{{template.marginTop.toFixed(2)}} cm</td>
                    <td>{{template.marginBottom.toFixed(2)}} cm</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button uiacc type="submit"
                                    ui-sref="template.edit({id:template.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
