<div>
    <h2 data-translate="walterApp.customization.home.title">Customizations</h2>
    <jhi-alert></jhi-alert>

    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span data-translate="walterApp.customization.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="text"><span data-translate="walterApp.customization.text">Text</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customization in vm.customizations track by customization.id">
                    <td data-translate="{{'walterApp.CustomizationName.' + customization.name}}">{{customization.name}}</td>
                    <td ng-if="customization.name != vm.DEACTIVATED_FEATUREGROUPS && customization.name != vm.AKM_DATA">{{customization.text}}</td>

                    <td ng-if="customization.name === vm.DEACTIVATED_FEATUREGROUPS">
                        <ul class="list-unstyled">
                            <li ng-repeat="featureGroup in vm.deactivatedFeatureGroupsTextArray" data-translate="walterApp.role.featureGroups.{{featureGroup}}"></li>
                        </ul>
                    </td>

                    <td ng-if="customization.name === vm.AKM_DATA">
                        <span ng-if="customization.text != ''" data-translate="walterApp.customization.dataAvailable"></span>
                        <span ng-if="customization.text === ''" data-translate="walterApp.customization.noDataAvailable"></span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    uiacc
                                    ui-sref="customization.edit({id:customization.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
