<concedit></concedit>

<form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()" show-validation>

        <div class="row">
            <div class="col-md-12">
                <h2>
                    <span ng-if="vm.createMode"
                          data-translate="walterApp.customization.detail.create">Customization-Eintrag erstellen
                        </span> <span ng-if="!vm.createMode"
                                               data-translate="walterApp.customization.detail.edit"
                                               translate-values="{name: ''}">
                        Customizing-Eintrag bearbeiten" </span>
                </h2>
                <jhi-alert-error></jhi-alert-error>
            </div>
        </div>
        <div class="row">

         <div class="col-md-12">
            <h3 data-translate="{{'walterApp.CustomizationName.' + vm.customization.name}}">{{vm.customization.name}}</h3>
         </div>



        <div ng-if ="vm.customization.name === vm.MEMBER_PERSONGROUP">

                <div class="form-group">
                    <label class="col-md-2 control-label" data-translate="walterApp.customization.detail.persongroup" for="field_pg">Personengruppe</label>
                    <div class="col-md-4">
                        <select  class="form-control" id="field_pg" name="data_pg" ng-model="vm.personGroup" ng-options="personGroup.id as personGroup.name for personGroup in vm.personGroups"            >
                        </select>
                        <div ng-show="editForm.data.$invalid">
                            <p class="help-block"
                               ng-show="editForm.data.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

        </div>

        <div ng-if ="vm.customization.name === vm.ORGANIZATION_COMPANY">

            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.customization.detail.organizationCompany" for="field_company">Personengruppe</label>
                <div class="col-md-4">
                    <select  class="form-control" id="field_company" name="data_company" ng-model="vm.company" ng-options="company.id as company.name for company in vm.companies"            >
                    </select>
                    <div ng-show="editForm.data.$invalid">
                        <p class="help-block"
                           ng-show="editForm.data.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div ng-if ="vm.customization.name === vm.HOURS_TO_INVALIDATE_VERIFICATION">

            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.customization.detail.hours" for="field_h">Personengruppe</label>
                <div class="col-md-4">
                    <input type="number"  class="form-control" id="field_h" name="data_h" ng-model="vm.hours" required="true" >

                    <div ng-show="editForm.data.$invalid">
                        <p class="help-block"
                           ng-show="editForm.data.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div ng-if ="vm.customization.name === vm.MONTHS_TO_DELETE_PERSON_DATA">

            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.customization.detail.months" for="field_months"></label>
                <div class="col-md-4">
                    <input type="number"  class="form-control" id="field_months" name="data_months" ng-model="vm.months" required="true" >

                    <div ng-show="editForm.data.$invalid">
                        <p class="help-block"
                           ng-show="editForm.data.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div ng-if ="vm.customization.name === vm.DEACTIVATED_FEATUREGROUPS">

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr>
                            <th><span data-translate="walterApp.customization.detail.featuregroup">Feature-Gruppe</span></th>
                            <th><span data-translate="walterApp.customization.detail.deactivated">Deaktivieren</span></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="group in vm.featureGroupsOutput" ng-hide="group.name == 'ADMIN' || group.name == 'TENANT_CONFIGURATION'">
                                <td><span data-translate="walterApp.role.featureGroups.{{group.name}}">{{group.name}}</span></td>
                                <td><input type="checkbox" ng-model="group.deactivated" ng-checked="group.deactivated"> </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div ng-if ="vm.customization.name === vm.DEFAULT_CASHBOOK_ACCOUNT">

            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.customization.detail.cashbookAccount" for="field_cashbookAccount">Kassabuch-Konto</label>
                <div class="col-md-4">
                    <select  class="form-control" id="field_cashbookAccount" name="data_cashbookAccount" ng-model="vm.cashbookAccount" ng-options="cashbookAccount.id as cashbookAccount.name for cashbookAccount in vm.cashbookAccounts"            >
                    </select>
                    <div ng-show="editForm.data.$invalid">
                        <p class="help-block"
                           ng-show="editForm.data.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

        </div>

            <div ng-if ="vm.customization.name === vm.DEFAULT_CASHBOOK_CATEGORY_FOR_TRANSFER">

                <div class="form-group">
                    <label class="col-md-2 control-label" data-translate="walterApp.customization.detail.cashbookCategory" for="field_cashbookCategory">Kategorie</label>
                    <div class="col-md-4">
                        <select  class="form-control" id="field_cashbookCategory" name="data_cashbookCategory" ng-model="vm.cashbookCategory" ng-options="cashbookCategory.id as cashbookCategory.name for cashbookCategory in vm.cashbookCategories"            >
                        </select>
                        <div ng-show="editForm.data.$invalid">
                            <p class="help-block"
                               ng-show="editForm.data.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        <div ng-if="vm.customization.name === vm.AKM_DATA">
                <div class="col-md-6">
                    <div class="form-group">

                        <label class="col-md-4 control-label" data-translate="walterApp.customization.detail.verId" for="field_verId"></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="field_verId" name="data_verId" ng-model="vm.akmData.verId" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" data-translate="walterApp.customization.detail.verName" for="field_verName"></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="field_verName" name="data_verName" ng-model="vm.akmData.verName" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" data-translate="walterApp.customization.detail.adrStrasse" for="field_adrStrasse"></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="field_adrStrasse" name="data_adrStrasse" ng-model="vm.akmData.adrStrasse" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" data-translate="walterApp.customization.detail.adrPlz" for="field_adrPlz"></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="field_adrPlz" name="data_adrPlz" ng-model="vm.akmData.adrPlz" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" data-translate="walterApp.customization.detail.adrOrt" for="field_adrOrt"></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="field_adrOrt" name="data_adrOrt" ng-model="vm.akmData.adrOrt" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" data-translate="walterApp.customization.detail.ausstellerName" for="field_ausstellerName"></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="field_ausstellerName" name="data_ausstellerName" ng-model="vm.akmData.ausstellerName" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" data-translate="walterApp.customization.detail.ausstellerAdresse" for="field_ausstellerAdresse"></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="field_ausstellerAdresse" name="data_ausstellerAdresse" ng-model="vm.akmData.ausstellerAdresse" >
                        </div>
                    </div>



                </div>

        </div>

        <br>
        <div class="col-md-12">
            <button type="button" ui-sref="{{vm.previousState}}"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span> <span
                data-translate="entity.action.back">Zurück</span>
            </button>

            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span> <span
                data-translate="entity.action.save">Speichern</span>
            </button>

            <button ng-hide="vm.customization.name === vm.HOURS_TO_INVALIDATE_VERIFICATION || vm.customization.name === vm.MONTHS_TO_DELETE_PERSON_DATA || vm.customization.name === vm.DEACTIVATED_FEATUREGROUPS" type="button" class="btn btn-danger pull-right" ng-click="vm.reset()">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
            </button>
        </div>

        </div>
    </form>
