<concedit></concedit>
<div>
    <h2><span data-translate="walterApp.customization.detail.title">Customization</span> {{vm.customization.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="walterApp.customization.name">Name</span></dt>
        <dd>
            <span data-translate="{{'walterApp.CustomizationName.' + vm.customization.name}}">{{vm.customization.name}}</span>
        </dd>
        <dt><span data-translate="walterApp.customization.data">Data</span></dt>
        <dd>
            <span>{{vm.customization.data}}</span>
        </dd>
        <dt><span data-translate="walterApp.customization.text">Text</span></dt>
        <dd>
            <span>{{vm.customization.text}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" uiacc ui-sref="customization-detail.edit({id:vm.customization.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
