<div>
	<h2 data-translate="walterApp.composition.home.title">Notenarchiv</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 no-padding-left">
			<button class="btn btn-default" ng-click="vm.switchSearch()">
					<span class="glyphicon glyphicon-eye-open" ng-if="!vm.searchActive"></span>
					<span  data-translate="walterApp.composition.home.openSearch" ng-if="!vm.searchActive">Suche einblenden</span>
					<span class="glyphicon glyphicon-eye-close" ng-if="vm.searchActive"></span>
					<span  data-translate="walterApp.composition.home.closeSearch" ng-if="vm.searchActive">Suche ausblenden</span>
				</button>
				<button uiacc class="btn btn-primary" ui-sref="composition.new" >
					<span class="glyphicon glyphicon-plus"></span>
					<span  data-translate="walterApp.composition.home.createLabel">Kassabuch-Eintrag erstellen</span>
				</button>
			</div>
		</div>
	</div>
	<br />
	<form id="searchForm" class="form-horizontal" ng-if="vm.searchActive"
		name="searchForm" role="form" ng-submit="vm.loadAll()" novalidate>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label col-sm-4"
						data-translate="walterApp.composition.search.colorCode"
						for="field_colorCode">Farbcode</label>
					<div class="col-sm-8">
						<select class="form-control" id="field_colorCode" name="colorCode"
							ng-model="vm.search.colorCodeId" ng-change="vm.loadAll()"
							ng-options="colorCode.id as colorCode.name for colorCode in vm.colorCodes">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4"
						data-translate="walterApp.composition.search.nr" for="field_nr">Nr</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="nr" id="field_nr"
							ng-model="vm.search.nr" ng-change="vm.loadAll()" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4"
						data-translate="walterApp.composition.search.title"
						for="field_title">Titel</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="title"
							id="field_title" ng-model="vm.search.title" ng-change="vm.loadAll()" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4"
						data-translate="walterApp.composition.search.orderingCompany"
						for="field_title">Bestellfirma</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="orderingCompany"
							id="field_orderingCompany" ng-model="vm.search.orderingCompany"
							ng-change="vm.loadAll()" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4"
						data-translate="walterApp.composition.search.publishingCompany"
						for="field_publishingCompany">Verlag</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="publishingCompany"
							id="field_publishingCompany" ng-model="vm.search.publishingCompany"
							ng-change="vm.loadAll()" />
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label col-sm-4"
						data-translate="walterApp.composition.search.composer"
						for="field_composer">Komponist</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="composer"
							id="field_composer" ng-model="vm.search.composer"
							ng-change="vm.loadAll()" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4"
						data-translate="walterApp.composition.search.arranger"
						for="field_arranger">Arrangeur</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="arranger"
							id="field_arranger" ng-model="vm.search.arranger"
							ng-change="vm.loadAll()" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4"
						data-translate="walterApp.composition.search.genre"
						for="field_genre">Gattung</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="genre"
							id="field_genre" ng-change="vm.loadAll()" ng-model="vm.search.genre"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4"
						data-translate="walterApp.composition.search.musicBook"
						for="field_colorCode">aktiv in</label>
					<div class="col-sm-8">
						<select class="form-control" id="field_musicBook" name="musicBook"
							ng-model="vm.search.musicBookId" ng-change="vm.loadAll()"
							ng-options="musicBook.id as musicBook.name for musicBook in vm.musicBooks">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="pull-right">
					<button class="btn btn-default" ng-click="vm.resetSearch()" ng-if="vm.isSearchDataDirty()">
						<span class="glyphicon  glyphicon-ban-circle"></span> <span
							data-translate="walterApp.composition.home.resetSearch">
							Suche zurücksetzen </span>
					</button>
				</div>
			</div>

		</div>
	</form>
	<div class="table-responsive">
        <button type="submit"
                ui-sref="composition.column-config-edit({entity: 'COMPOSITION'})"
                class="btn btn-default btn-sm pull-right">
            <span class="glyphicon glyphicon-list-alt"></span> <span
            class="hidden-xs hidden-sm" data-translate="walterApp.columnConfig.edit"></span>
        </button>
        <div infinite-scroll="vm.switchPage()" infinite-scroll-distance="3">
		<table  class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse"
					callback="vm.switchPage()">
                    <th ng-repeat="column in vm.columnConfig" jh-sort-by="{{column.sortByName}}">
                        <span data-translate="{{column.columnDisplayName}}">{{column.columnDisplayName}}</span> <span
                        class="glyphicon glyphicon-sort"></span>
                    </th>
                <tr></tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="composition in vm.compositions track by composition.id">

                    <td ng-repeat="column in vm.columnConfig">
                        <span ng-if="vm.listLinks[column.columnName] == null">
                            {{composition[column.columnName]}}
                        </span>
                        <span ng-if="vm.listLinks[column.columnName] != null && composition[column.columnName] != null">
                            <a ui-sref="{{vm.listLinks[column.columnName].link}}({id:{{composition[vm.listLinks[column.columnName].id]}}})">{{composition[column.columnName]}}</a>
                        </span>
                    </td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								ui-sref="composition-detail({id:composition.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
							</button>
							<button type="submit" uiacc="composition.edit"
								ui-sref="composition-edit({id:composition.id})"
								class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span
									class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
        </div>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount"
			items-per-page="vm.itemsPerPage"></jhi-item-count>
        <ul uib-pagination total-items="vm.totalItems" ng-model="vm.page"
            ng-change="vm.switchPage()"  max-size="5" boundary-links="true" force-ellipses="true" ></ul>
	</div>

</div>
