<concedit></concedit>
<div class="row">
	<h2>
		<span data-translate="walterApp.composition.detail.display"
			translate-values="{title: '{{vm.composition.title}}'}">Eintrag</span>
	</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="dl-horizontal jh-entity-details col-md-5">
		<dt>
			<span data-translate="walterApp.composition.colorCode">Farbcode</span>
		</dt>
		<dd>
			<a ui-sref="color-code.edit({id:vm.composition.colorCodeId})">{{vm.composition.colorCodeName}}</a>
		</dd>
		<dt>
			<span data-translate="walterApp.composition.nr">Nr.</span>
		</dt>
		<dd>
			<span>{{vm.composition.nr}}</span>
		</dd>
		<dt>
			<span data-translate="walterApp.composition.title">Titel</span>
		</dt>
		<dd>
			<span>{{vm.composition.title}}</span>
		</dd>
		<dt>
			<span data-translate="walterApp.composition.note">Beschreibung</span>
		</dt>
		<dd>
			<span style="word-wrap: break-word;">{{vm.composition.note}}</span>
		</dd>
		<dt>
			<span data-translate="walterApp.composition.cashbookEntryAmount">Preis</span>
		</dt>
		<dd ng-show="vm.composition.cashbookEntryAmount">
            <span>{{vm.composition.cashbookEntryAmount}} &euro;</span>
        </dd>
        <dd ng-show="!vm.composition.cashbookEntryAmount">
            <span></span>
        </dd>

	</dl>
	<dl class="dl-horizontal jh-entity-details col-md-7">
		<dt>
			<span data-translate="walterApp.composition.akmCompositionNr">AKM-Nr.</span>
		</dt>
		<dd>
			<span>{{vm.composition.akmCompositionNr}}</span>
		</dd>
		<dt>
			<span data-translate="walterApp.composition.orderingCompany">Bestellfirma</span>
		</dt>
		<dd>
			<a ui-sref="company.edit({id:vm.composition.orderingCompanyId})">{{vm.composition.orderingCompanyName}}</a>
		</dd>
		<dt>
			<span data-translate="walterApp.composition.publisher">Verlag</span>
		</dt>
		<dd>
			<a ui-sref="company.edit({id:vm.composition.publisherId})">{{vm.composition.publisherName}}</a>
		</dd>
		<dt>
			<span data-translate="walterApp.composition.genre">Gattung</span>
		</dt>
		<dd>
			<a ui-sref="genre.edit({id:vm.composition.genreId})">{{vm.composition.genreName}}</a>
		</dd>
		<dt>
			<span data-translate="walterApp.composition.musicBook">Notenbuch</span>
		</dt>
		<dd>
			<a ui-sref="music-book.edit({id:vm.composition.musicBookId})">{{vm.composition.musicBookName}}</a>
		</dd>
	</dl>
	<dl class="dl-horizontal jh-entity-details col-md-12">
		<button type="submit" ng-click="vm.goBack()"
			class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
				data-translate="entity.action.back"> Zurück</span>
		</button>
		<button type="button" uiacc="composition.edit"
			ui-sref="composition-detail.edit({id:vm.composition.id})"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-pencil"></span> <span
				class="hidden-xs hidden-sm" data-translate="entity.action.edit">
				Bearbeiten</span>
		</button>
		<button ng-if="!vm.createMode" uiacc="composition.delete"
			ui-sref="composition-detail.delete({id:vm.composition.id})"
			class="btn btn-danger pull-right">
			<span class="glyphicon glyphicon-remove-circle"></span> <span
				class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
		</button>
	</dl>
	<br />
	<br />
	<uib-tabset active="active"> <uib-tab index="0"
		heading="Komponisten">
	<div class="container-fluid">
		<div uiacc="composition.edit" class="row col-md-4">
			<br />
			<div class="col-md-8 no-padding-left">
				<input type="text" class="form-control" id="field_selectedComposer"
						name="selectedComposer" ng-model="vm.selectedComposer"
						uib-typeahead="composer as composer.name for composer in vm.composers | filter:$viewValue | limitTo:8"
						typeahead-select-on-exact="true" typeahead-editable="false" />
			</div>
			<div class="col-md-2">
				<button class="btn btn-md btn-success" ng-disabled="vm.selectedComposer == null"
					ng-click="vm.addComposer()">
					<span class="glyphicon glyphicon-plus"></span> <span
						data-translate="walterApp.composer.home.addComposer">
						Komponist zuordnen</span>
				</button>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr>
					<th><span
						data-translate="walterApp.composer.name">Name</span></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="composer in vm.composersForComposition">
					<td>{{composer.name}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button uiacc="composition.edit" type="submit" ui-sref="composition-detail.removeComposer({id : vm.composition.id, composerId : composer.id})"
								class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span
										class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</uib-tab>
	<uib-tab index="1"
		heading="Arrangeure">
	<div class="container-fluid">
		<div uiacc="composition.edit" class="row col-md-4">
			<br />
			<div class="col-md-8 no-padding-left">
				<input type="text" class="form-control" id="field_selectedArranger"
						name="selectedArranger" ng-model="vm.selectedArranger"
						uib-typeahead="arranger as arranger.name for arranger in vm.arrangers | filter:$viewValue | limitTo:8"
						typeahead-select-on-exact="true" typeahead-editable="false" />
			</div>
			<div class="col-md-2">
				<button class="btn btn-md btn-success" ng-disabled="vm.selectedArranger == null"
					ng-click="vm.addArranger()">
					<span class="glyphicon glyphicon-plus"></span> <span
						data-translate="walterApp.arranger.home.addArranger">
						Arrangeur zuordnen</span>
				</button>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr>
					<th><span
						data-translate="walterApp.arranger.name">Name</span></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="arranger in vm.arrangersForComposition">
					<td>{{arranger.name}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button uiacc="composition.edit" type="submit" ui-sref="composition-detail.removeArranger({id : vm.composition.id, arrangerId : arranger.id})"
								class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span
										class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</uib-tab>
	</uib-tabset>
</div>
