<form name="overwriteForm" ng-submit="vm.confirmOverwrite(vm.demandletter.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="walterApp.demandletter.overwrite.title">Überschreiben bestätigen</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p data-translate="walterApp.demandletter.overwrite.question" translate-values="{name: '{{vm.demandletter.title}}'}">Soll die Vorlage wirklich überschrieben werden?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Abbrechen</span>
        </button>
        <button type="submit" ng-disabled="overwriteForm.$invalid" class="btn btn-success">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span data-translate="entity.action.overwrite">Überschreiben</span>
        </button>
    </div>
</form>
