<div class="row">
    <div class="col-md-12">
        <h2>
            <span
                data-translate="walterApp.demandletter.detail.create">Vorschreibung erstellen</span>
        </h2>
        </br>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
    </div>
</div>

<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()"
      show-validation>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label"
                       data-translate="walterApp.demandletter.demandletter" for="field_letter">Vorlage</label>
                <div class="col-md-8">
                    <select ng-change="vm.loadDemandLetter()" class="form-control" id="field_letter"
                            name="template"
                            ng-model="vm.demandletterId"
                            ng-options="demandletter.id as demandletter.title for demandletter in vm.demandletters">
                        <option value=""></option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="field_template"
                       data-translate="walterApp.demandletter.template">Briefpapier</label>
                <div class="col-md-8">
                    <select class="form-control" id="field_template" name="template"
                            ng-model="vm.demandletter.templateId"
                            ng-options="template.id as template.title for template in vm.templates">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"
                       data-translate="walterApp.demandletter.options">Optionen</label>
                <div class="col-md-8">
                    <input type="checkbox" name="paymentForm"

                           ng-model="vm.demandletter.payment" /> Erlagschein andrucken

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"
                       data-translate="walterApp.demandletter.period">Zahlungsperiode</label>
                <div class="col-md-8">
                    <input type="checkbox" name="currentPeriod"
                           ng-required="!vm.demandletter.previousPeriod && !vm.demandletter.currentPeriod"
                           ng-model="vm.demandletter.currentPeriod" /> Aktuell<br/>
                    <input type="checkbox" name="previousPeriod"
                           ng-required="!vm.demandletter.previousPeriod && !vm.demandletter.currentPeriod"
                           ng-model="vm.demandletter.previousPeriod" /> Vorherige<br/>
                    <div ng-show="!(vm.demandletter.previousPeriod || vm.demandletter.currentPeriod)">
                        <p class="help-block"
                           data-translate="walterApp.demandletter.error.periodneeded">
                            Mindestens eine Option wird benötigt!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group" >
                <div>
                    <label class="col-md-2 control-label" data-translate="walterApp.demandletter.text"
                           for="field_text">Text</label>
                    <div class="col-md-10">
                        <textarea ui-tinymce="vm.tinyMceOptions" ng-model="vm.demandletter.text" id="text" name="text"></textarea>
                        <div class="help-block" data-translate="walterApp.demandletter.variableNote" >Der offene Betrag je Person kann mit %BETRAG% ausgegeben werden.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div uiacc="demandletter.edit" class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label" data-translate="walterApp.demandletter.saveAs"
                       for="field_saveAs">
                    Als neue Vorlage speichern</label>
                <div class="col-md-1">
                    <input type="checkbox" class="form-control" name="saveAs" id="field_saveAs"
                           ng-model="vm.saveAs"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-if="vm.saveAs" class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.demandletter.title"
                       for="field_title">Titel</label>
                <div class="col-md-4">
                    <input type="text"
                           ng-change="vm.clearId()"
                           class="form-control"
                           name="title"
                           id="field_title" ng-model="vm.demandletter.title" required minlength=3/>
                    <div ng-show="editForm.title.$invalid">
                        <p class="help-block" ng-show="editForm.title.$error.required"
                           data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                        <p class="help-block" ng-show="editForm.title.$error.minlength"
                           data-translate="entity.validation.minlength3">Dieses Feld muss mind. 3
                            Zeichen lang sein.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
                            class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;
                        <span data-translate="entity.action.save">Speichern</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <button type="button" ui-sref="{{ vm.previousState }}" class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                data-translate="entity.action.back"> Zurück</span>
            </button>

            <button uiacc="demandletter.edit" type="button" class="btn btn-success" ng-click="vm.generate()"
                    ng-disabled="!(vm.demandletter.previousPeriod || vm.demandletter.currentPeriod)" >
                <span class="glyphicon glyphicon-download"></span>&nbsp;<span
                data-translate="entity.action.export">Exportieren</span>
            </button>

            <button uiacc="demandletter.edit" ui-sref="demandletter.mail-letter({letter:vm.demandletter})" class="btn btn-success"
                    ng-disabled="!(vm.demandletter.previousPeriod || vm.demandletter.currentPeriod)">
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;<span
                data-translate="walterApp.letter.mail">per Mail versenden</span>
            </button>

            <button ng-if="vm.demandletter.id" type="submit"
                    uiacc ui-sref="demandletter.delete({id: vm.demandletter.id})"
                    class="btn btn-danger pull-right">
                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                data-translate="entity.action.delete">Löschen</span>
            </button>
        </div>
    </div>

</form>


