<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            min-width: 50%
        }
        h1, h2, h3, h4 {
            font-family: arial, sans-serif;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr.grey {
            background-color: #dddddd;
        }
        td.number {
            text-align: right;
            width: 120px;
        }
        td.text {
            text-align: left;
            width: 230px;
        }
        thead, tfoot {
            font-weight: bold;
        }
    </style>
</head>
<body>

<h2 th:text="#{cashbook.overallReport.title}"></h2>
<h4 th:text="#{cashbook.overallReport.year} + ': ' + ${year}"></h4>
<br/>
<div>
    <h3 th:text="#{cashbook.overallReport.accountsPerBegin}"></h3>
    <table>
        <thead class="bold">
            <tr>
                <td class="text"></td>
                <td class="number"><span th:text="#{cashbook.overallReport.income}"></span></td>
                <td class="number"><span th:text="#{cashbook.overallReport.spending}"></span></td>
                <td class="number"><span th:text="#{cashbook.overallReport.saldo}"></span></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="line : ${titlePageDTO.linesPerBegin}">
                <td class="text" th:text="${line.name}"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.income, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.spending, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.saldo, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="grey">
                <td class="text" th:text="#{cashbook.overallReport.finalSaldo}"></td>
                <td></td>
                <td></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(titlePageDTO.finalSaldoPerBegin, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            </tr>
        </tfoot>
    </table>
</div>
<br/>
<br/>
<div>
    <h3 th:text="#{cashbook.overallReport.outcomes}"></h3>
    <table>
        <thead class="bold">
        <tr>
            <td class="text"></td>
            <td class="number"><span th:text="#{cashbook.overallReport.income}"></span></td>
            <td class="number"><span th:text="#{cashbook.overallReport.spending}"></span></td>
            <td class="number"><span th:text="#{cashbook.overallReport.saldo}"></span></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="line : ${titlePageDTO.outcomeLines}">
            <td class="text" th:text="${line.name}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.income, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.spending, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.saldo, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="text" th:text="#{cashbook.overallReport.outcome}">asdf</td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(titlePageDTO.finalOutcomeLine.income, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(titlePageDTO.finalOutcomeLine.spending, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(titlePageDTO.finalOutcomeLine.saldo, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        </tr>
        </tfoot>
    </table>
</div>
<br/>
<br/>
<div style="page-break-after: always;">
    <h3 th:text="#{cashbook.overallReport.accountsPerEnd}"></h3>
    <table>
        <thead class="bold">
        <tr>
            <td class="text"></td>
            <td class="number"><span th:text="#{cashbook.overallReport.income}"></span></td>
            <td class="number"><span th:text="#{cashbook.overallReport.spending}"></span></td>
            <td class="number"><span th:text="#{cashbook.overallReport.saldo}"></span></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="line : ${titlePageDTO.linesPerEnd}">
            <td class="text" th:text="${line.name}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.income, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.spending, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.saldo, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="grey">
            <td class="text" th:text="#{cashbook.overallReport.finalSaldo}"></td>
            <td></td>
            <td></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(titlePageDTO.finalSaldoPerEnd, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        </tr>
        </tfoot>
    </table>
</div>
<h2 th:text="#{cashbook.overallReport.title}"></h2>
<h4 th:text="#{cashbook.overallReport.year} + ': ' + ${year}"></h4>
<br/>
<div>
    <h3 th:text="#{cashbook.overallReport.categories}"></h3>
    <table>
        <thead class="bold">
        <tr>
            <td class="text"></td>
            <td class="number"><span th:text="#{cashbook.overallReport.income}"></span></td>
            <td class="number"><span th:text="#{cashbook.overallReport.spending}"></span></td>
            <td class="number"><span th:text="#{cashbook.overallReport.saldo}"></span></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="line : ${categoryDTO.lines}">
            <td class="text" th:text="${line.name}" th:style="'background-color: ' + ${line.color} + ';'"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.income, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.spending, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.saldo, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
