<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            min-width: 50%
        }
        h1, h2, h3, h4 {
            font-family: arial, sans-serif;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr.grey {
            background-color: #dddddd;
        }
        td.number {
            text-align: right;
            width: 120px;
        }
        td.text {
            text-align: left;
            width: 230px;
        }
        thead, tfoot {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div th:each="mainDTO : ${mainDTOs}" style="page-break-after: always;">
<div>
<h2 th:text="#{cashbook.appointmentReport.title}"></h2>
<h4 th:text="#{cashbook.appointmentReport.dateFrom} + ': ' + ${mainDTO.dateFrom}"></h4>
<h4 th:text="#{cashbook.appointmentReport.dateTo} + ': ' + ${mainDTO.dateTo}"></h4>
<h4 th:text="#{cashbook.appointmentReport.appointmentType} + ': ' + ${mainDTO.appointmentType}"></h4>
<br/>
<div th:each="dto : ${mainDTO.reportDTOs}" style="page-break-inside: avoid;">
    <h3 th:text="${dto.text}"></h3>
    <table>
        <thead class="bold">
        <tr>
            <td class="text"></td>
            <td class="number"><span th:text="#{cashbook.overallReport.income}"></span></td>
            <td class="number"><span th:text="#{cashbook.overallReport.spending}"></span></td>
            <td class="number"><span th:text="#{cashbook.overallReport.saldo}"></span></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="line : ${dto.lines}">
            <td class="text" th:text="${line.name}" th:style="'background-color: ' + ${line.color} + ';'"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.income, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.spending, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.saldo, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="text" th:text="#{cashbook.overallReport.outcome}">asdf</td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(dto.finalOutcomeLine.income, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(dto.finalOutcomeLine.spending, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(dto.finalOutcomeLine.saldo, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        </tr>
        </tfoot>
    </table>
    <br/>
    <br/>
</div>
</div>
<div>
    <div>
        <h3 th:text="${mainDTO.overallDTO.text}"></h3>
        <table>
            <thead class="bold">
            <tr>
                <td class="text"></td>
                <td class="number"><span th:text="#{cashbook.overallReport.income}"></span></td>
                <td class="number"><span th:text="#{cashbook.overallReport.spending}"></span></td>
                <td class="number"><span th:text="#{cashbook.overallReport.saldo}"></span></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="line : ${mainDTO.overallDTO.lines}">
                <td class="text" th:text="${line.name}" th:style="'background-color: ' + ${line.color} + ';'"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.income, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.spending, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.saldo, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text" th:text="#{cashbook.overallReport.outcome}">asdf</td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(mainDTO.overallDTO.finalOutcomeLine.income, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(mainDTO.overallDTO.finalOutcomeLine.spending, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(mainDTO.overallDTO.finalOutcomeLine.saldo, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            </tr>
            </tfoot>
        </table>
        <br/>
        <br/>
    </div>
</div>
</div>
<div>
    <h2 th:text="#{cashbook.appointmentReport.overallPerAppointmentType}"></h2>
    <h4 th:text="#{cashbook.appointmentReport.dateFrom} + ': ' + ${dateFrom}"></h4>
    <h4 th:text="#{cashbook.appointmentReport.dateTo} + ': ' + ${dateTo}"></h4>
    <br/>
    <div th:each="dto : ${overallDTOs}" style="page-break-inside: avoid;">
        <h3 th:text="${dto.key.name}"></h3>
        <table>
            <thead class="bold">
            <tr>
                <td class="text"></td>
                <td class="number"><span th:text="#{cashbook.overallReport.income}"></span></td>
                <td class="number"><span th:text="#{cashbook.overallReport.spending}"></span></td>
                <td class="number"><span th:text="#{cashbook.overallReport.saldo}"></span></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="line : ${dto.value.categoryLines}">
                <td class="text" th:text="${line.name}" th:style="'background-color: ' + ${line.color} + ';'"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.income, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.spending, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(line.saldo, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text" th:text="#{cashbook.overallReport.outcome}">asdf</td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(dto.value.finalOutcomeLine.income, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(dto.value.finalOutcomeLine.spending, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                <td class="number" th:text="'€ ' + ${#numbers.formatDecimal(dto.value.finalOutcomeLine.saldo, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            </tr>
            </tfoot>
        </table>
        <br/>
        <br/>
    </div>
</div>
</body>
</html>
