<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            min-width: 50%
        }
        h1, h2, h3, h4 {
            font-family: arial, sans-serif;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2 th:text="#{person.report.title}"></h2>
<h4 th:text="#{person.report.created}+' '+${#temporals.format(person.createdAt,'dd.MM.yyyy HH:mm' )}"></h4>
<h4 th:unless="${#strings.isEmpty(person.organizationName)}" th:text="#{person.report.organization}+' '+${person.organizationName}"></h4>
<div>
    <h3 th:text="#{person.report.persondata}"></h3>
    <table>
        <tr>
            <td><span th:text="#{person.gender}"></span></td>
            <td th:switch="${person.gender.name()}">
                <span th:case="'MALE'" th:text="#{person.male}"></span>
                <span th:case="'FEMALE'" th:text="#{person.female}"></span>
            </td>
        </tr>
        <tr>
            <td><span th:text="#{person.firstName}"></span></td>
            <td><span th:text="${person.firstName}"></span></td>
        </tr>
        <tr>
            <td><span th:text="#{person.lastName}"></span></td>
            <td><span th:text="${person.lastName}"></span></td>
        </tr>
        <tr>
            <td><span th:text="#{person.birthDate}"></span></td>
            <td><span th:text="${#temporals.format(person.birthDate, 'dd.MM.yyyy')}"></span></td>
        </tr>
        <tr>
            <td><span th:text="#{person.emailType}"></span></td>
            <td th:switch="${person.emailType.name()}">
                <span th:case="'VERIFIED'" th:text="#{person.verified}"></span>
                <span th:case="'MANUALLY'" th:text="#{person.manually}"></span>
            </td>
        </tr>
        <tr>
            <td><span th:text="#{person.telephoneNumber}"></span></td>
            <td><span th:text="${person.telephoneNumber}"></span></td>
        </tr>
        <tr>
            <td><span th:text="#{person.email}"></span></td>
            <td><span th:text="${person.email}"></span></td>
        </tr>
        <tr>
            <td><span th:text="#{person.streetAddress}"></span></td>
            <td><span th:text="${person.streetAddress}"></span></td>
        </tr>
        <tr>
            <td><span th:text="#{person.postalCode}"></span></td>
            <td><span th:text="${person.postalCode}"></span></td>
        </tr>
        <tr>
            <td><span th:text="#{person.city}"></span></td>
            <td><span th:text="${person.city}"></span></td>
        </tr>
        <tr>
            <td><span th:text="#{person.country}"></span></td>
            <td><span th:text="${person.country}"></span></td>
        </tr>
        <tr>
            <td><span th:text="#{person.hasDirectDebit}"></span></td>

            <td th:switch="${person.hasDirectDebit}">
                <span th:case="true" th:text="#{person.yes}"></span>
                <span th:case="false" th:text="#{person.no}"></span>
            </td>
        </tr>
    </table>

</div>
<div  th:unless="${#lists.isEmpty(person.personGroups)}">
    <h3 th:text="#{person.report.persongroups}"></h3>
    <table>
        <tr th:each="pg : ${person.personGroups}">
            <td ><span th:text="${pg.name}"></span></td>
        </tr>
    </table>
</div>


<div  th:unless="${#lists.isEmpty(person.personClothings)}">
    <h3 th:text="#{person.report.personclothings}"></h3>
    <table>
        <tr>
            <th th:text="#{person.beginDate}"></th>
            <th th:text="#{person.endDate}"></th>
            <th th:text="#{person.clothingTypeName}"></th>
            <th th:text="#{person.clothingSize}"></th>
        </tr>
        <tr th:each="pc : ${person.personClothings}">
            <td ><span th:text="${#temporals.format(pc.beginDate,'dd.MM.yyyy')}"></span></td>
            <td ><span th:text="${#temporals.format(pc.endDate,'dd.MM.yyyy')}"></span></td>
            <td ><span th:text="${pc.clothingTypeName}"></span></td>
            <td ><span th:text="${pc.clothingSize}"></span></td>
        </tr>
    </table>
</div>

<div  th:unless="${#lists.isEmpty(person.personInstruments)}">
    <h3 th:text="#{person.report.personinstruments}"></h3>
    <table>
        <tr>
            <th th:text="#{person.beginDate}"></th>
            <th th:text="#{person.endDate}"></th>
            <th th:text="#{person.instrumentName}"></th>
        </tr>
        <tr th:each="pi : ${person.personInstruments}">
            <td ><span th:text="${#temporals.format(pi.beginDate,'dd.MM.yyyy')}"></span></td>
            <td ><span th:text="${#temporals.format(pi.endDate,'dd.MM.yyyy')}"></span></td>
            <td ><span th:text="${pi.instrumentName}"></span></td>
        </tr>
    </table>
</div>
<div th:unless="${#lists.isEmpty(person.personHonors)}">
    <h3 th:text="#{person.report.personHonors}"></h3>
    <table>
        <tr>
            <th th:text="#{person.date}"></th>
            <th th:text="#{person.honorName}"></th>
        </tr>
        <tr th:each="ph : ${person.personHonors}">
            <td ><span th:text="${#temporals.format(ph.date,'dd.MM.yyyy')}"></span></td>
            <td ><span th:text="${ph.honorName}"></span></td>
        </tr>
    </table>
</div>
<div th:unless="${#lists.isEmpty(person.personAwards)}" >
    <h3 th:text="#{person.report.personAwards}"></h3>
    <table>
        <tr>
            <th th:text="#{person.date}"></th>
            <th th:text="#{person.awardName}"></th>
        </tr>
        <tr th:each="pa : ${person.personAwards}">
            <td ><span th:text="${#temporals.format(pa.date,'dd.MM.yyyy')}"></span></td>
            <td ><span th:text="${pa.awardName}"></span></td>
        </tr>
    </table>
</div>
<div th:unless="${#lists.isEmpty(person.appointments)}" >
    <h3 th:text="#{person.report.appointments}"></h3>
    <table>
        <tr>
            <th th:text="#{person.appointment.name}"></th>
            <th th:text="#{person.appointment.beginDate}"></th>
            <th th:text="#{person.appointment.endDate}"></th>
            <th th:text="#{person.appointment.typeName}"></th>
            <th th:text="#{person.appointment.description}"></th>
            <th th:text="#{person.appointment.streetAddress}"></th>
        </tr>
        <tr th:each="pap : ${person.appointments}">
            <td ><span th:text="${pap.name}"></span></td>
            <td ><span th:text="${#temporals.format(pap.beginDate,'dd.MM.yyyy HH:mm')}"></span></td>
            <td ><span th:text="${#temporals.format(pap.endDate,'dd.MM.yyyy HH:mm')}"></span></td>
            <td ><span th:text="${pap.typeName}"></span></td>
            <td ><span th:text="${pap.description}"></span></td>
            <td ><span th:text="${#strings.concat(pap.streetAddress,', ', pap.postalCode,', ',pap.city,', ',pap.country)}"></span></td>
        </tr>
    </table>
</div>



<div th:unless="${#lists.isEmpty(person.memberships)}" >
    <h3 th:text="#{person.report.memberships}"></h3>
    <table>
        <tr>
            <th th:text="#{person.beginDate}"></th>
            <th th:text="#{person.endDate}"></th>
            <th th:text="#{person.membershipFeeDescriptions}"></th>
        </tr>
        <tr th:each="pm : ${person.memberships}">
            <td ><span th:text="${#temporals.format(pm.beginDate,'dd.MM.yyyy')}"></span></td>
            <td ><span th:text="${#temporals.format(pm.endDate,'dd.MM.yyyy')}"></span></td>
            <td ><span th:text="${pm.membershipFeeDescription}"></span></td>
        </tr>
    </table>
</div>

<div th:unless="${#lists.isEmpty(person.membershipFeeForPeriods)}"  >
    <h3 th:text="#{person.report.membershipFeeForPeriods}"></h3>
    <table>
        <tr>
            <th th:text="#{person.year}"></th>
            <th th:text="#{person.nr}"></th>
            <th th:text="#{person.referenceCode}"></th>
            <th th:text="#{person.note}"></th>
            <th th:text="#{person.paid}"></th>
        </tr>
        <tr th:each="pmf : ${person.membershipFeeForPeriods }">
            <td ><span th:text="${pmf.year}"></span></td>
            <td ><span th:text="${pmf.nr}"></span></td>
            <td ><span th:text="${pmf.referenceCode}"></span></td>
            <td ><span th:text="${pmf.note}"></span></td>
            <td th:switch="${pmf.paid}">
                <span th:case="true" th:text="#{person.yes}"></span>
                <span th:case="false" th:text="#{person.no}"></span>
            </td>
        </tr>
    </table>
</div>


<div th:unless="${#lists.isEmpty(person.bankImportData)}"  >
    <h3 th:text="#{person.report.bankImportData}"></h3>
    <table>
        <tr>
            <th th:text="#{person.entryDate}"></th>
            <th th:text="#{person.entryValue}"></th>
            <th th:text="#{person.entryText}"></th>
            <th th:text="#{person.partnerName}"></th>
        </tr>
        <tr th:each="bid : ${person.bankImportData }">
            <td ><span th:text="${#temporals.format(bid.entryDate, 'dd.MM.yyyy')}"></span></td>
            <td ><span th:text="${#numbers.formatDecimal(bid.entryValue, 0, 'POINT', 2, 'COMMA')}"></span></td>
            <td ><span th:text="${bid.entryText}"></span></td>
            <td ><span th:text="${bid.partnerName}"></span></td>
        </tr>
    </table>
</div>
</body>
</html>
