<div class="container-fluid">




    <div class="" ng-show="vm.isVisible()">
        <div class="nav-header">
            <h3>Filter</h3>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" name="filterName"
                   id="field_filterName" ng-model="vm.filterName"/>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="vm.saveCurrentFilter()" ng-disabled="vm.filterName == ''">
                    <span class="glyphicon glyphicon-save"></span>
                </button>
            </span>
        </div>
        <br>


        <ul class="list-group">
            <li class="list-group-item" ng-class="{'active' : vm.selectedFilter == null}"> <span ng-click="vm.selectFilter(null)">Kein Filter</span>

            </li>
           <li  class="list-group-item" ng-repeat="filter in vm.availableFilter" value="{{filter.id}}" ng-class="{'active' : filter.id == vm.selectedFilter}">

                <span  ng-click="vm.selectFilter(filter.id)">{{filter.name}}</span>
                 <span ng-click="vm.deleteFilter(filter.id)" class="glyphicon glyphicon-trash pull-right"></span>
            </li>

        </ul>


    </div>
</div>

