<nav class="navbar navbar-default" role="navigation">
<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">

                <span class="badge" ng-show="vm.notifications">{{ vm.notifications }}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li  uiacc="menu" ng-class="{active: vm.$state.includes('personManagement')}"  ng-switch-when="true"  uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="personManagement-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.personManagement.main">Personenverwaltung</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active"  >
                            <a uiacc ui-sref="person" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.personManagement.view">Personen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active"   >
                            <a uiacc ui-sref="people-fees" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.personManagement.personFees">Mitgliedsbeiträge</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a uiacc ui-sref="person-group" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.personManagement.groups">Personengruppen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a uiacc ui-sref="membership-fee" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.personManagement.membershipFees">Mitgliedsbeiträge</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li uiacc="menu" ng-class="{active: vm.$state.includes('inventory')}"  ng-switch-when="true"  uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="inventory-menu">
                        <span>
                            <span class="glyphicon glyphicon-lamp"></span>
                            <span class="hidden-sm" data-translate="global.menu.inventory.main">Inventar</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="instrument" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.inventory.instruments">Instrumente</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="clothing-group" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.inventory.clothing">Bekleidung</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="composition" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.inventory.compositions">Noten</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li uiacc="menu" ng-class="{active: vm.$state.includes('accounting')}"  ng-switch-when="true"  uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="accounting-menu">
                        <span>
                            <span class="glyphicon glyphicon-piggy-bank"></span>
                            <span class="hidden-sm" data-translate="global.menu.accounting.main">Kassabuch</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a uiacc="cashbook-entry" ui-sref="cashbook-entry-main" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.accounting.main-overview">Übersicht</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="cashbook-entry" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.accounting.view">Suche</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc="cashbook-entry" ui-sref="cashbook-overall-report" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.accounting.cashbookOverallReport">Gesamtübersicht</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc="cashbook-entry" ui-sref="cashbook-appointment-report" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.accounting.cashbookAppointmentReport">Termin-Auswertung</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc="cashbook-entry.import" ui-sref="bank-import-data" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.accounting.import">Import</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc="cashbook-entry.cashbook-account-transfer" ui-sref="cashbook-account-transfer" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.accounting.transfer">Konten-Übertrag</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="cashbook-category" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.accounting.categories">Kategorien</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="cashbook-account" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.accounting.accounts">Konten</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li uiacc="menu" ng-class="{active: vm.$state.includes('letters')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="letters-menu">
                        <span>
                            <span class="glyphicon glyphicon-envelope"></span>
                            <span class="hidden-sm" data-translate="global.menu.letters.main">Briefe</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="letter" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.letters.serialLetters">Serienbriefe</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="demandletter" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.letters.demandLetters">Vorschreibungen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="emailverificationletter" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.letters.emailVerificationLetters">Email-Verifikationen</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li uiacc="menu" ng-class="{active: vm.$state.includes('appointments')}"  ng-switch-when="true"  uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="appointments-menu">
                        <span>
                            <span class="glyphicon glyphicon-calendar"></span>
                            <span class="hidden-sm" data-translate="global.menu.appointments.main">Termine</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="appointment" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.appointments.appointment">Termine</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="appointment-type" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.appointments.appointmentType">Termin-Typen</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li uiacc="menu" ng-class="{active: vm.$state.includes('documents')}" ng-switch-when="true" class="nav-item">
                    <a uiacc ui-sref="documents" id="documents-menu">
                        <span>
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="hidden-sm" data-translate="global.menu.documents.main">Dokumente</span>
                        </span>
                    </a>
                </li>
                <li uiacc="menu" ng-class="{active: vm.$state.includes('base')}"  ng-switch-when="true"  uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="base-menu">
                        <span>
                            <span class="glyphicon glyphicon-list-alt"></span>
                            <span class="hidden-sm" data-translate="global.menu.base.main">Stammdaten</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="honor" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.base.honors">Ehrungen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="award" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.base.awards">Auszeichnungen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="color-code" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.base.colorCodes">Farbcodes</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="instrument-type" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.base.instrumentTypes">Instrument-Typen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="clothing-type" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.base.clothingTypes">Kleidungs-Typen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="company" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.base.companies">Firmen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="composer" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.base.composers">Komponisten</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="arranger" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.base.arrangers">Arrangeure</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="genre" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.base.genres">Gattungen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="music-book" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.base.music-books">Notenbücher</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li uiacc="menu" ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true"  uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li  ui-sref-active="active">
                            <a uiacc ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.admin.userManagement">Benutzerverwaltung</span>
                            </a>
                        </li>
                        <li  ui-sref-active="active">
                            <a uiacc ui-sref="template" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.admin.templates">Briefpapier</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="notification-rule" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.admin.notificationRule">Benachrichtigungen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="customization" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.admin.customization">Benachrichtigungen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="tenant-configuration" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.admin.tenantConfiguration">Mandanten</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="role" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.admin.roles">Benutzer-Rollen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="mail-log" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.admin.mail-log">Mail-Logs</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a uiacc ui-sref="data-import" ng-click="vm.collapseNavbar()">
                                <span data-translate="global.menu.admin.dataImport">Daten Import</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Einstellungen</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Passwort</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Abmelden</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Anmelden</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
