<div>
    <h2 data-translate="walterApp.appointmentType.home.title">Appointment Types</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="appointment-type.new" uiacc >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.appointmentType.home.createLabel">
                        Neuen Termintyp anlegen
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span data-translate="walterApp.appointmentType.name">Bezeichnung</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th uiacc="akm" jh-sort-by="isOfficial"><span
                        data-translate="walterApp.appointmentType.isOfficial">AKM-Meldung</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="personGroupName"><span data-translate="walterApp.appointmentType.personGroup">Personengruppe</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="appointmentType in vm.appointmentTypes track by appointmentType.id">
                    <td>{{appointmentType.name}}</td>
                    <td uiacc="akm" ><input  type="checkbox" ng-checked="{{appointmentType.isOfficial}}" disabled /></td>
                    <td>{{appointmentType.personGroupName}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" uiacc
                                    ui-sref="appointment-type.edit({id:appointmentType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
