<concedit></concedit>
<div class="row">
	<div class="col-md-12">
		<h2>
			<span ng-if="vm.createMode"
				data-translate="walterApp.appointmentType.detail.create">Termintyp
				erstellen</span> <span ng-if="!vm.createMode"
				data-translate="walterApp.appointmentType.detail.edit"
				translate-values="{name: '{{vm.appointmentType.name}}'}">
				Termintyp {{vm.appointmentType.name}} bearbeiten" </span>
		</h2>
		<jhi-alert-error></jhi-alert-error>
	</div>
</div>
<div class="row">
	<form name="editForm" class="form-horizontal" role="form" novalidate
		ng-submit="vm.save()" show-validation>
		<hr>
		<div class="col-md-12">
			<div class="form-group">
				<label class="col-md-2 control-label"
					data-translate="walterApp.appointmentType.name" for="field_name">Name</label>
				<div class="col-md-3">
					<input type="text" class="form-control" name="name" id="field_name"
						ng-model="vm.appointmentType.name" autofocus required />
					<div ng-show="editForm.name.$invalid">
						<p class="help-block" ng-show="editForm.name.$error.required"
							data-translate="entity.validation.required">Dieses Feld wird
							benötigt.</p>
					</div>
				</div>
			</div>
			<div uiacc="akm" class="form-group">
				<label class="col-md-2 control-label"
					data-translate="walterApp.appointmentType.isOfficial"
					for="field_isOfficial">AKM-Meldung</label>
				<div class="col-md-1">
					<input type="checkbox" name="isOfficial"
						id="field_isOfficial" ng-model="vm.appointmentType.isOfficial" />
					<div ng-show="editForm.isOfficial.$invalid">
						<p class="help-block"
							ng-show="editForm.isOfficial.$error.required"
							data-translate="entity.validation.required">Dieses Feld wird
							benötigt.</p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2"
					data-translate="walterApp.appointmentType.personGroup"
					for="field_personGroup">Personengruppe</label>
				<div class="col-md-3">
					<select class="form-control" id="field_personGroup"
						name="personGroupId" ng-model="vm.appointmentType.personGroupId"
						ng-options="personGroup.id as personGroup.name for personGroup in vm.personGroups">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>

			<div class="col-md-12">
				<button type="submit" ui-sref="{{vm.previousState}}"
					class="btn btn-info">
					<span class="glyphicon glyphicon-arrow-left"></span> <span
						data-translate="entity.action.back">Zurück</span>
				</button>

				<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
					class="btn btn-primary">
					<span class="glyphicon glyphicon-save"></span> <span
						data-translate="entity.action.save">Speichern</span>
				</button>

				<button ng-show="vm.appointmentType.id" type="submit"
					ui-sref="appointment-type.delete({id:vm.appointmentType.id})"
					class="btn btn-danger pull-right">
					<span class="glyphicon glyphicon-remove-circle"></span> <span
						class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
				</button>
			</div>

	</form>
</div>
