<div ng-cloak>
    <div class="row">
        <div class="col-md-8">
            <h1 data-translate="error.title">Error Page!</h1>

            <div >
                <div class="alert alert-danger">Diese Seite kann nicht gefunden werden!
                </div>
            </div>
        </div>
    </div>
</div>

