<div ng-cloak>
    <div class="row">
        <div class="col-md-8">
            <h1 data-translate="accessdenied.title">Error Page!</h1>

            <div class="alert alert-danger" data-translate="accessdenied.message">You are not authorized to access the page.
            </div>
        </div>
    </div>
</div>
