<div>
    <h2 data-translate="walterApp.dataImport.home.title">Daten-Import</h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.import()" show-validation>

                <div class="form-group">
                    <label class="col-md-2 control-label" data-translate="walterApp.dataImport.type" for="field_type">Type</label>
                    <div class="col-md-4">
                        <select class="form-control" name="type" id="field_type" ng-model="vm.importType" required ng-options="importType.value as importType.text | translate for importType in vm.validImportTypes" ></select>
                        <div ng-show="editForm.type.$invalid">
                            <p class="help-block" ng-show="editForm.type.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group" >

                        <label class="col-md-2 control-label"
                               data-translate="walterApp.dataImport.csv.file"
                               for="field_file">Datei</label>
                        <div class="col-md-6">
                            <input type="file" ngf-select class="form-control" name="file"
                                   id="field_file" ng-model="vm.file"
                                   required accept=".csv"
                                   ngf-max-size="10MB" ngf-model-invalid="errorFile" />
                            <div ng-show="editForm.file.$invalid">
                                <p class="help-block" ng-show="editForm.file.$error.required"
                                   data-translate="entity.validation.required">Dieses Feld wird
                                    benötigt.</p>
                                <p class="help-block" ng-show="editForm.file.$error.maxSize"
                                   data-translate="entity.validation.maxSize"
                                   data-translate-values="{ actual: errorFile.size, target: 10 }">Diese
                                    Datei ist zu groß: {{ actual / 1000000 | number: 1 }} MB:
                                    maximal {{ target }} MB erlaubt.</p>
                            </div>
                    </div>
                </div>
                <div class="panel panel-info" ng-if="vm.importType">
                    <div class="panel-heading">
                        <span data-translate="walterApp.dataImport.help.person.heading" ng-if="vm.importType === vm.TYPE_PERSON.value"></span>
                    </div>
                    <div class="panel-body">
                        <span data-translate="walterApp.dataImport.help.person.general" ng-if="vm.importType === vm.TYPE_PERSON.value" ></span>
                        <pre><code data-translate="walterApp.dataImport.help.person.example" ng-if="vm.importType === vm.TYPE_PERSON.value">

                        </code></pre>
                        <span data-translate="walterApp.dataImport.help.person.notes" ng-if="vm.importType === vm.TYPE_PERSON.value"></span>
                    </div>
                </div>
                <div><span>{{ vm.result }}</span></div>
                <div class="form-group">
                    <div class="col-md-10">
                        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-success">
                            <span class="glyphicon glyphicon-upload"></span> <span
                            data-translate="walterApp.dataImport.upload">Importieren</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
