<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h1 data-translate="home.title">Willkommen bei Walter!</h1>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    Sie sind als "{{vm.account.login}}" eingeloggt.
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="home.login" translate-compile>
                    Bitte loggen Sie sich ein!
                </div>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row" ng-show="vm.notifications">
        <div class="col-md-12">
            <h3 data-translate="walterApp.notification.home.title">Benachrichtigungen</h3>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default" ng-repeat="group in vm.notifications">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ vm.getMessageForGroup(group) }}</h3>
                </div>
                <ul class="list-group">
                    <li ng-repeat="notification in group" class="list-group-item {{ vm.getClassForNotification(notification) }}">
                        <div ng-class="{true: 'pull-right', false: 'btn-group pull-right'}[notification.readByUserId > 0]">
                            <button ng-hide="notification.readByUserId" ng-click="vm.readNotification(notification)" type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span>Als gelesen markieren</span>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" ng-click="vm.deleteNotification(notification)">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span>Löschen</span>
                            </button>
                        </div>

                        <div>{{ notification.message }}</div>
                        <div class="text-muted">
                            <span><span data-translate="walterApp.notification.createdAt">Erstellt am</span>: {{ notification.createdAt | date: 'mediumDate' }}</span>
                            <span ng-show="notification.readByUserId">| <span data-translate="walterApp.notification.readByUser">Gelesen von</span>: {{ notification.readByUserFirstName }} {{ notification.readByUserLastName }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
