<concedit></concedit>
<div class="row">
    <div class="col-sm-12">
        <h2 ng-show="vm.savedTenantConfiguration != null" data-translate="walterApp.tenantConfiguration.home.editLabel">Mandant bearbeiten</h2>
        <h2 ng-show="vm.savedTenantConfiguration == null" data-translate="walterApp.tenantConfiguration.home.createLabel">Mandant erstellen</h2>
        <br />
    <jhi-alert-error></jhi-alert-error>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>
            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.tenantConfiguration.tenantId" for="field_tenantId">Titel</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="tenantId" id="field_tenantId" ng-model="vm.tenantConfiguration.tenantId" required ng-readonly="vm.savedTenantConfiguration != null"/>
                    <div ng-show="editForm.tenantId.$invalid">
                        <p class="help-block" ng-show="editForm.title.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.tenantConfiguration.database" for="field_url">Entity</label>
                <div class="col-md-4">
                    <select class="form-control" name="entity" id="field_url" ng-model="vm.tenantConfiguration.dbUrl" required ng-options="connection as connection for connection in vm.dbConnections"></select>
                    <div ng-show="editForm.entity.$invalid">
                        <p class="help-block" ng-show="editForm.entity.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" data-translate="walterApp.tenantConfiguration.schema" for="field_schema">Titel</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="tenantId" id="field_schema" ng-model="vm.tenantConfiguration.schema" required />
                    <div ng-show="editForm.tenantId.$invalid">
                        <p class="help-block" ng-show="editForm.title.$error.required" data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" ui-sref="{{ vm.previousState.name }}(vm.previousState.params)" class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span data-translate="entity.action.back">Zurück</span>
                    </button>

                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>
                        <span data-translate="entity.action.save">Speichern</span>
                    </button>

                    <button ng-show="vm.tenantConfiguration.id" type="button" ui-sref="tenant-configuration.delete-view({ id: vm.tenantConfiguration.id })" class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
