<concedit></concedit>
<div class="row">
	<div class="col-md-12">
		<h2>
			<span data-translate="walterApp.tenantConfiguration.detail.title">Mandant</span>
		</h2>
		<br />
	</div>
</div>

</div>
<div class="row">
    <div class="col-md-12">
        <button type="submit"ng-click="vm.updateConnection()" class="btn btn-primary">
            <span class="glyphicon glyphicon-hdd"></span>
            <span data-translate="walterApp.tenantConfiguration.initializeDB">Datenbank initialisieren</span>
        </button>

        <button type="submit"ng-click="vm.refresh()" class="btn btn-info pull-right">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>

    </div>
</div>


<div class="row">
	<div class="col-md-12">
		<jhi-alert-error></jhi-alert-error>
        <br />
		<dl class="dl-horizontal jh-entity-details">
			<dt>
				<span data-translate="walterApp.tenantConfiguration.tenantId">Mandanten-Id</span>
			</dt>
			<dd>
				<span>{{ vm.tenantConfiguration.tenantId }}</span>
			</dd>
            <dt>
            <span data-translate="walterApp.tenantConfiguration.database">Datenbank-Url</span>
            </dt>
            <dd>
                <span>{{ vm.tenantConfiguration.dbUrl }}</span>
            </dd>
            <dt>
                <span data-translate="walterApp.tenantConfiguration.schema">Schema</span>
            </dt>
            <dd>
                <span>{{ vm.tenantConfiguration.schema }}</span>
            </dd>
            <dt>
                <span data-translate="walterApp.tenantConfiguration.status">Status</span>
            </dt>
            <dd>

                <span ng-if="vm.tenantConfiguration.status.configurationConnectionStatus === 'OK'" class="glyphicon glyphicon-ok-circle"></span>
                <span ng-if="vm.tenantConfiguration.status.configurationConnectionStatus === 'NOK'" class="glyphicon glyphicon-alert"></span>
            </dd>
            <dt ng-if="vm.tenantConfiguration.status.configurationConnectionStatus === 'OK'">
                <span data-translate="walterApp.tenantConfiguration.version">Version</span>
            </dt>
            <dd ng-if="vm.tenantConfiguration.status.configurationConnectionStatus === 'OK'">
                <span>{{ vm.tenantConfiguration.status.tag }}</span>
            </dd>
            <dt ng-if="vm.tenantConfiguration.status.configurationConnectionStatus === 'NOK'">
                <span data-translate="walterApp.tenantConfiguration.errorMsg">Fehlermeldung</span>
            </dt>
            <dd ng-if="vm.tenantConfiguration.status.configurationConnectionStatus === 'NOK'">
                <span data-translate="{{ vm.tenantConfiguration.status.errorMessage }}">{{ vm.tenantConfiguration.status.errorMessage }}</span>
            </dd>
            <dt>
                <span data-translate="walterApp.tenantConfiguration.connectionUse">Verwendung</span>
            </dt>
            <dd>
                <span data-translate="{{ vm.connectionUseText }}">{{ vm.connectionUseText }}</span>
            </dd>




		</dl>
		<br />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="submit" ui-sref="tenant-configuration" class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span>
			<span data-translate="entity.action.back">Zurück</span>
		</button>

		<button type="button" uiacc ui-sref="tenant-configuration.edit({ id: vm.tenantConfiguration.tenantId })" class="btn btn-primary">
			<span class="glyphicon glyphicon-pencil"></span>
			<span class="hidden-xs hidden-sm" data-translate="entity.action.edit">Bearbeiten</span>
		</button>

		<button type="submit" uiacc="tenant-configuration.delete" ui-sref="tenant-configuration.delete-view({ id: vm.tenantConfiguration.tenantId })" class="btn btn-danger pull-right">
			<span class="glyphicon glyphicon-remove-circle"></span>
			<span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
		</button>
	</div>
</div>
