<div>
	<h2 data-translate="walterApp.tenantConfiguration.home.title">Mandanten-Einstellungen</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 no-padding-right no-padding-left">
				<button type="button" class="btn btn-primary" uiacc ui-sref="tenant-configuration.new" >
					<span class="glyphicon glyphicon-plus"></span>
					<span  data-translate="walterApp.tenantConfiguration.home.createLabel">Mandant erstellen</span>
				</button>

                <button type="button" class="btn btn-info pull-right" ng-click="vm.updateConfiguration()" >
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span  data-translate="walterApp.tenantConfiguration.updateConfiguration">Konfiguration neu laden</span>
                </button>

			</div>
            <div class="col-xs-12 no-padding-right no-padding-left">




            </div>
		</div>
	</div>
	<br/>
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
					<th jh-sort-by="title"><span data-translate="walterApp.tenantConfiguration.tenantId">Mandant-Id</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tenantConfiguration in vm.tenantConfigurations ">

					<td>{{ tenantConfiguration.tenantId }}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="button" ui-sref="tenant-configuration-detail({id:tenantConfiguration.tenantId})" class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span>
								<span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
							</button>
							<button type="button" uiacc ui-sref="tenant-configuration.edit({id:tenantConfiguration.tenantId})" class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span>
								<span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
	</div>
	<uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
