<div>
	<h2 data-translate="walterApp.cashbookEntry.home.title">Kassabuch / Suche</h2>
	<jhi-alert></jhi-alert>
	<br/>
	<form class="form-horizontal" role="form" ng-submit="vm.loadAll()" novalidate>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label col-md-4" data-translate="walterApp.cashbookEntry.search.title" for="field_title">Titel</label>
					<div class="col-md-8">
						<input type="text" class="form-control" name="title" ng-model="vm.search.title" id="field_title" ng-change="vm.loadAll()" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4" data-translate="walterApp.cashbookEntry.search.category" for="field_category">Kategorie</label>
					<div class="col-md-8">
						<select class="form-control" id="field_category" name="categoryId" ng-model="vm.search.categoryId" ng-options="cashbookCategory.id as cashbookCategory.name for cashbookCategory in vm.cashbookcategories" ng-change="vm.loadAll()">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4" data-translate="walterApp.cashbookEntry.search.type" for="field_type">Typ</label>
					<div class="col-md-8">
						<select class="form-control" name="type" ng-model="vm.search.type" id="field_type" ng-change="vm.loadAll()">
							<option value=""></option>
							<option value="INCOME" data-translate="walterApp.CashbookEntryType.INCOME">Einnahme</option>
							<option value="SPENDING" data-translate="walterApp.CashbookEntryType.SPENDING">Ausgabe</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label col-md-4" data-translate="walterApp.cashbookEntry.search.dateFrom" for="field_date_from">Von</label>
					<div class="col-md-8">
						<div class="input-group">
							<input id="field_date_from" type="text" class="form-control" name="dateFrom" uib-datepicker-popup="dd.MM.yyyy"
							current-text="{{ 'calendar.current' | translate }}"
						    clear-text="{{ 'calendar.clear' | translate }}"
						    close-text="{{ 'calendar.close' | translate }}"
							ng-model="vm.search.dateFrom" is-open="vm.datePickerOpenStatus.dateFrom" ng-change="vm.loadAll()" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFrom')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4" data-translate="walterApp.cashbookEntry.search.dateTo" for="field_date_to">Bis</label>
					<div class="col-md-8">
						<div class="input-group">
							<input id="field_date_to" type="text" class="form-control" name="dateTo" uib-datepicker-popup="dd.MM.yyyy"
							current-text="{{ 'calendar.current' | translate }}"
						    clear-text="{{ 'calendar.clear' | translate }}"
						    close-text="{{ 'calendar.close' | translate }}"
							ng-model="vm.search.dateTo" is-open="vm.datePickerOpenStatus.dateTo" ng-change="vm.loadAll()" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateTo')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4" data-translate="walterApp.cashbookEntry.search.account" for="field_account">Konto</label>
					<div class="col-md-8">
						<select class="form-control" id="field_account" name="accountId" ng-model="vm.search.accountId" ng-options="cashbookAccount.id as cashbookAccount.name for cashbookAccount in vm.cashbookAccounts" ng-change="vm.loadAll()">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<button type="submit" class="btn btn-default pull-right" ng-show="vm.isSearchDataDirty()" ng-click="vm.resetSearch()">
							<span class="glyphicon glyphicon-ban-circle"></span>
							<span data-translate="walterApp.cashbookEntry.home.resetSearchButton">Suche zurücksetzen</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<br/>
	<div class="table-responsive">
        <button type="submit" style="margin-bottom: 20px;"
                ui-sref="cashbook-entry.column-config-edit({entity: 'CASHBOOK-ENTRY'})"
                class="btn btn-default btn-sm pull-right">
            <span class="glyphicon glyphicon-list-alt"></span> <span
            class="hidden-xs hidden-sm" data-translate="walterApp.columnConfig.edit"></span>
        </button>
		<table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse"
                callback="vm.switchPage()">
                <th ng-repeat="column in vm.columnConfig" jh-sort-by="{{column.sortByName}}">
                    <span data-translate="{{column.columnDisplayName}}">{{column.columnDisplayName}}</span> <span
                    class="glyphicon glyphicon-sort" ng-show="column.sortByName != ''"></span>
                </th>
            </thead>
            <tbody>

            <tr ng-repeat="cashbookEntry in vm.cashbookEntries track by cashbookEntry.id">
                <td ng-repeat="column in vm.columnConfig">
                    <span ng-if="
                    vm.listDateFormats[column.columnName] == null &&
                    vm.listCheckboxes[column.columnName] == null &&
                    vm.listPrices[column.columnDisplayName] == null &&
                    vm.listColorFields[column.columnName] == null">
                        {{cashbookEntry[column.columnName]}}
                    </span>
                    <span ng-if="vm.listDateFormats[column.columnName] != null">
                        {{cashbookEntry[column.columnName] | date: vm.listDateFormats[column.columnName]}}
                    </span>
                    <span ng-if="vm.listPrices[column.columnDisplayName] != null" ng-show="{{vm.listPrices[column.columnDisplayName].printWhen}}">
                        &euro; {{cashbookEntry[column.columnName].toFixed(2)}}
                    </span>
                    <span ng-if="vm.listColorFields[column.columnName] != null">
                        <i style="display: inline-block; width: .8em; height: .8em; border-radius: 50%; background-color: {{ cashbookEntry[vm.listColorFields[column.columnName]] }};"></i>
						{{cashbookEntry[column.columnName]}}
                    </span>
                </td>
            </tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
	</div>
	<uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
