<div class="row">
    <div class="col-md-12">
        <h2>
            <span data-translate="walterApp.mail-letter.detail.title">Serienbrief erstellen</span>
        </h2>
        </br>
        <div ng-show="vm.isShowInvalidMailsWarning" class="alert alert-warning" role="alert">
            {{ 'walterApp.mail-letter.personsWithInvalidMail' | translate }}
            <button style="margin-top: -8px" uiacc="letter.edit" type="button" ng-click="vm.generateForInvalidEmails()" class="btn-sm btn-success pull-right">
                <span class="glyphicon glyphicon-download"></span>&nbsp;<span
                data-translate="entity.action.export">Exportieren</span>
            </button>
        </div>
        <div ng-show="vm.isShowNoPeopleWarning" class="alert alert-danger" role="alert">
            {{ 'walterApp.mail-letter.noPeopleWarning' | translate }}
        </div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
    </div>
</div>

<form name="editForm" class="form-horizontal" role="form" novalidate show-validation>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" >
                <div>
                    <label class="col-md-2 control-label" data-translate="walterApp.mail-letter.subject"
                           for="field_subject">Betreff</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="subject"
                                id="field_subject" ng-model="vm.mailLetter.subject" required ng-disabled="vm.isShowNoPeopleWarning" />
                        <div ng-show="editForm.subject.$invalid">
                            <p class="help-block" ng-show="editForm.subject.$error.required"
                               data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" >
                <div>
                    <label class="col-md-2 control-label" data-translate="walterApp.mail-letter.mailText"
                           for="field_mailText">Email-Text</label>
                    <div class="col-md-10">
                        <textarea ui-tinymce="vm.tinyMceOptions" ng-model="vm.mailLetter.mailText" id="field_mailText" name="mailText" required ng-disabled="vm.isShowNoPeopleWarning"></textarea>
                        <div ng-show="editForm.mailText.$invalid">
                            <p class="help-block" ng-show="editForm.mailText.$error.required"
                               data-translate="entity.validation.required">Dieses Feld wird benötigt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.isShowSaveInLetter()">
        <div uiacc="letter.edit" class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label" data-translate="walterApp.mail-letter.saveInLetter" for="field_saveInLetter">in Vorlage speichern</label>
                <div class="col-md-1">
                    <input type="checkbox" class="form-control" name="saveSaveInLetter" id="field_saveInLetter"
                           ng-model="vm.mailLetter.saveInLetter" ng-disabled="vm.isShowNoPeopleWarning"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" ng-click="vm.goBack()" class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                data-translate="entity.action.back"> Zurück</span>
            </button>

            <button uiacc="letter.edit" type="button" ng-click="vm.sendMail()" class="btn btn-success" ng-disabled="editForm.$invalid || vm.isSaving || vm.isShowNoPeopleWarning">
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;<span
                data-translate="walterApp.mail-letter.mail">absenden</span>
            </button>

            <button ng-show="!vm.isShowNoPeopleWarning && !vm.showPeople" type="button" ng-click="vm.switchShowPeople()" class="btn btn-default">
                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                data-translate="walterApp.mail-letter.showPeople"> Personen anzeigen</span>
            </button>

            <button ng-show="!vm.isShowNoPeopleWarning && vm.showPeople" type="button" ng-click="vm.switchShowPeople()" class="btn btn-default">
                <span class="glyphicon glyphicon-eye-close"></span>&nbsp;<span
                data-translate="walterApp.mail-letter.hidePeople"> Personen ausblenden</span>
            </button>

            <button type="button" ng-click="vm.goToMailLog()" class="btn btn-warning pull-right">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;<span
                data-translate="walterApp.mail-letter.goToMaillog"> zum Maillog</span>
            </button>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row" ng-show="vm.showPeople">
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span
                        data-translate="walterApp.mail-letter.person.email">Email</span></th>
                    <th><span
                        data-translate="walterApp.mail-letter.person.name">Name</span></th>
                </tr>
                </thead>
                <tbody>
                <tr
                    ng-repeat="person in vm.peopleWithValidMail track by person.id">
                    <td>{{ person.email }}</td>
                    <td>{{ person.firstName }} {{ person.lastName }}</td>
                </tr>
                </tbody>
            </table>
            <br/>
        </div>
    </div>
</form>
