<concedit></concedit>
<div>
    <h2><span data-translate="walterApp.clothing.detail.title">Clothing</span> {{vm.clothing.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="walterApp.clothing.size">Size</span></dt>
        <dd>
            <span>{{vm.clothing.size}}</span>
        </dd>
        <dt><span data-translate="walterApp.clothing.purchaseDate">Purchase Date</span></dt>
        <dd>
            <span>{{vm.clothing.purchaseDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="walterApp.clothing.notAvailable">Not Available</span></dt>
        <dd>
            <span>{{vm.clothing.notAvailable}}</span>
        </dd>
        <dt><span data-translate="walterApp.clothing.type">Type</span></dt>
        <dd>
            <a ui-sref="clothing-type-detail({id:vm.clothing.typeId})">{{vm.clothing.typeId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="clothing-detail.edit({id:vm.clothing.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
