
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClothingLabel" data-translate="walterApp.clothing.home.createOrEditLabel">Create or edit a Clothing</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.clothing.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.clothing.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="walterApp.clothing.size" for="field_size">Size</label>
            <input type="text" class="form-control" name="size" id="field_size"
                    ng-model="vm.clothing.size"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="walterApp.clothing.purchaseDate" for="field_purchaseDate">Purchase Date</label>
                <div class="input-group">
                    <input id="field_purchaseDate" type="text" class="form-control" name="purchaseDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.clothing.purchaseDate" is-open="vm.datePickerOpenStatus.purchaseDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('purchaseDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="walterApp.clothing.notAvailable" for="field_notAvailable">Not Available</label>
            <input type="checkbox" class="form-control" name="notAvailable" id="field_notAvailable"
                    ng-model="vm.clothing.notAvailable"
                     />
        </div>

        <div class="form-group">
            <label data-translate="walterApp.clothing.type" for="field_type">Type</label>
            <select class="form-control" id="field_type" name="type" ng-model="vm.clothing.typeId" ng-options="clothingType.id as clothingType.id for clothingType in vm.clothingtypes"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
