<div>
    <h2 data-translate="walterApp.clothing.home.title">Clothing</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="clothing.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.clothing.home.createLabel">
                        Create new Clothing
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="size"><span data-translate="walterApp.clothing.size">Size</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="purchaseDate"><span data-translate="walterApp.clothing.purchaseDate">Purchase Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notAvailable"><span data-translate="walterApp.clothing.notAvailable">Not Available</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeId"><span data-translate="walterApp.clothing.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="clothing in vm.clothing track by clothing.id">
                    <td><a ui-sref="clothing-detail({id:clothing.id})">{{clothing.id}}</a></td>
                    <td>{{clothing.size}}</td>
                        <td>{{clothing.purchaseDate | date:'mediumDate'}}</td>
                    <td>{{clothing.notAvailable}}</td>
                    <td>
                        <a ui-sref="clothing-type-detail({id:clothing.typeId})">{{clothing.typeId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="clothing-detail({id:clothing.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="clothing.edit({id:clothing.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="clothing.delete({id:clothing.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
