<div>
    <h2 data-translate="walterApp.instrumentService.home.title">Instrumenten-Services</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="walterApp.instrumentService.date">Datum</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span data-translate="walterApp.instrumentService.price">Preis</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="note"><span data-translate="walterApp.instrumentService.note">Anmerkungen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cashbookEntryId" uiacc="cashbook-entry"><span data-translate="walterApp.instrumentService.cashbookEntry">Kassabucheintrag</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="instrumentId"><span data-translate="walterApp.instrumentService.instrument">Instrument</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="instrumentService in vm.instrumentServices track by instrumentService.id">
                    <td><a ui-sref="instrument-service-edit({id:instrumentService.id})">{{instrumentService.id}}</a></td>
                        <td>{{instrumentService.date | date:'mediumDate'}}</td>
                    <td>&euro; {{instrumentService.cashbookEntryAmount.toFixed(2)}}</td>
                    <td>{{instrumentService.note}}</td>
                    <td uiacc="cashbook-entry">
                        <a ui-sref="cashbook-entry-detail({id:instrumentService.cashbookEntryId})">{{instrumentService.cashbookEntryId}}</a>
                    </td>
                    <td>
                        <a ui-sref="instrument-detail({id:instrumentService.instrumentId})">{{instrumentService.instrumentId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
