<div>
    <h2 data-translate="walterApp.personGroup.home.title">Person Groups</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" uiacc ui-sref="person-group.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="walterApp.personGroup.home.createLabel">
                        Create new Person Group
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span data-translate="walterApp.personGroup.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="parentName"><span data-translate="walterApp.personGroup.parent">Über-Personengrupp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hasPersonRelevance"><span data-translate="walterApp.personGroup.hasPersonRelevance">Relevanz für Personen-Speicherung</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="personGroup in vm.personGroups track by personGroup.id">
                    <td>{{personGroup.name}}</td>
                    <td>
                        {{personGroup.parentName}}
                    </td>
                    <td><input  type="checkbox" ng-checked="{{personGroup.hasPersonRelevance}}" disabled /></td>


                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">

                            <button type="submit"
                                    uiacc ui-sref="person-group.edit({id:personGroup.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"
                        items-per-page="vm.itemsPerPage"></jhi-item-count>
        <ul uib-pagination total-items="vm.totalItems" ng-model="vm.page"
            ng-change="vm.transition()"  max-size="5" boundary-links="true" force-ellipses="true" ></ul>
    </div>
</div>
