<concedit></concedit>
<form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()" show-validation>
<div>
   <h3><span ng-if="vm.createMode"
         data-translate="walterApp.personGroup.detail.create">Personengruppe
				erstellen</span> <span ng-if="!vm.createMode"
                                       data-translate="walterApp.personGroup.detail.edit"
                                       translate-values="{name: '{{vm.personGroup.name}}'}">Personengruppe
				{{vm.personGroup.name}} bearbeiten</span>
       </h3>
    <hr>
    <jhi-alert-error></jhi-alert-error>


    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label class="control-label col-md-4" data-translate="walterApp.personGroup.name"
                       for="field_name">Name</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="vm.personGroup.name"
                           required/>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" data-translate="walterApp.personGroup.parent" for="field_parent">Parent</label>
                <div class="col-md-8">
                <select class="form-control" id="field_parent" name="parent" ng-model="vm.personGroup.parentId" ng-options="personGroup.id as personGroup.name for personGroup in vm.persongroups | filter: {id: '!' + vm.personGroup.id}"            >
                    <option value=""></option>
                </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" data-translate="walterApp.personGroup.hasPersonRelevance"
                       for="field_hasPersonRelevance">Relevanz für Person</label>
                <div class="col-md-1">
                    <input ng-init="false" type="checkbox"  class="form-control" name="hasPersonRelevance" id="field_hasPersonRelevance"
                           ng-model="vm.personGroup.hasPersonRelevance"  />
                </div>
            </div>

        </div>
    </div>




    <button type="button"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Zurück</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Speichern</span>
    </button>
    <button ng-if="!vm.createMode" type="submit"
            ui-sref="person-group.delete({id:vm.personGroup.id})"
            class="btn btn-danger pull-right">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete">Löschen</span>
    </button>


</div>
</form>
